{{extend 'layout.html'}}

{{if 'myHelp' in locals():}}
  {{=myHelp}}
  {{pass}}

{{if 'myTitle' in locals():}}
	<div class="pci-myTitle"><div class="pci-myTitleText">{{=myTitle}}</div></div>
	{{pass}}

<div>
{{if 'form' in locals():}}
	{{=form}}
{{elif grid.create_form:}}
   {{=grid.create_form}}
{{elif grid.update_form:}}
   {{if 'myBackButton' in locals():}}
      {{=myBackButton}}
      {{pass}}
   {{=grid.update_form}}
{{elif grid.view_form:}}
   {{if 'myBackButton' in locals():}}
      {{=myBackButton}}
      {{pass}}
   {{=grid.view_form}}
   {{if 'myAcceptBtn' in locals():}}
      {{=myAcceptBtn}}
      {{pass}}
{{else:}}
   {{if 'searchForm' in globals():}}
      <div>{{=searchForm}}</div>
    {{pass}}
    {{=grid}}
    {{pass}}
{{pass}}
</div>
