{{extend 'layout.html'}}
<script>window.onload = function() {if ($.cookie('PCiHideHelp') == 'On') $('DIV.pci-helptext').hide(); else $('DIV.pci-helptext').show();}</script>

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
	{{pass}}
	
{{if 'customText' in locals():}}
	{{=customText}}
{{pass}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}


{{if 'searchForm' in locals():}}
	<div>{{=searchForm}}</div>
	{{pass}}

{{if 'content' in locals():}}
	<div>{{=content}}</div>
	{{pass}}

{{if 'myUpperBtn' in locals():}}
	{{=myUpperBtn}}
	{{pass}}

<div>
{{if 'form' in locals():}}
	{{=form}}
{{elif 'create_form' in grid:}}
   {{=grid.create_form}}
{{elif 'update_form' in grid:}}
   {{=grid.update_form}}
{{elif 'view_form' in grid:}}
   {{=grid.view_form}}
{{else:}}
   {{=grid}}
{{pass}}
</div>

{{if 'myAcceptBtn' in locals():}}
	{{=myAcceptBtn}}
	{{pass}}

{{if 'myFinalScript' in locals():}}
	{{=myFinalScript}}
	{{pass}}


<script type="text/javascript">

	const ids_array = [
		'#t_articles_abstract',
		'#t_articles_cover_letter'
	]

	for (const id_textarea of ids_array) {
		if(document.querySelector(id_textarea)){

			ClassicEditor
			.create( document.querySelector( id_textarea ), {
				
				toolbar: {
					items: [
						'heading',
						'|',
						'alignment',
						'bold',
						'italic',
						'link',
						'|',
						'bulletedList',
						'numberedList',
						// '|',
						'blockQuote',
						// 'insertTable',
						'|',
						'MathType',
						'ChemType',
						'|',
						'undo',
						'redo'
					]
				},
				language: 'en',
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
				licenseKey: '',
				
			} )
			.then( editor => {
				window.editor = editor;
			} )
			.catch( error => {
				console.error( 'Oops, something gone wrong!' );
				console.error( 'Please, report the following error in the https://github.com/ckeditor/ckeditor5 with the build id and the error stack trace:' );
				console.warn( 'Build id: 3xpzfuoak86l-jvcz7sxsf5ax' );
				console.error( error );
			} );
		}
	}
	

</script>

<style>
	.ck-editor__editable_inline {
	    min-height: 250px;
	}
</style>