{{extend 'layout.html'}}

{{if 'myHelp#TODO' in locals():}}
  {{=myHelp}}
{{pass}}

{{if 'myText' in locals():}}
  {{=myText}}
{{pass}}

{{if 'userName' in locals():}}
  <div
    class="pci2-flex-row pci2-column-under-tablet pci2-align-items-start"
  >
    <div class="pci2-flex-center pci2-show-under-tablet pci2-full-width">
      <div class="pci2-flex-column pci2-flex-center">
          {{include 'snippets/user_infos.html'}}
      </div>
    </div>

    <div class="pci2-flex-column pci2-flex-grow pci2-flex-center">
      <!-- Rencommendations -->
      {{if len(recommendationsList) > 0:}}
      <div class="pci2-article-list-titled">
        <h2>{{=totalUserRecommendations}}</h2>
        <div>{{=recommendationsList}}</div>
      </div>
      {{pass}}
      <!-- Reviews -->
      {{if len(reviewsList) > 0:}}
      <div class="pci2-article-list-titled">
        <h2>{{=totalUserReviews}}</h2>
        <div>{{=reviewsList}}</div>
      </div>
      {{pass}}

    </div>

    <!-- (gab) REPEATED -->
    <div class="pci2-flex-column pci2-flex-center pci2-hide-under-tablet pci2-user-infos-right-div">
      {{include 'snippets/user_infos.html'}}
    </div>
  </div>  
{{pass}}

    