{{extend 'layout.html'}}

<!-- ALtimetrics badge -->
<script
  type="text/javascript"
  src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"
></script>

{{if 'myHelp#TODO' in locals():}} 
  {{=myHelp}} 
{{pass}} 

<div class="pci2-justify-center">
  <div class="pci2-flex-row pci2-content-900px">
    {{=IMG(_src=URL(r=request,c='static',f='images/small-background.png'), _height="100")}}

    <div class="pci2-flex-grow pci2-flex-column">

      {{if 'myUpperBtn' in locals():}} 
        {{=myUpperBtn}} 
      {{pass}} 

      {{if 'shareButtons' in globals():}}
        <div data-social-share-privacy="true" class="pci-shareLine"></div>
      {{pass}}

    </div>
  </div>
</div>


<div class="pci2-justify-center">
  <div class="pci2-content-900px">
    
    <!-- Last Recommendation infos and Article -->
    {{=recommHeaderHtml}}


    <!-- Reviews -->
    <div class="pci2-full-width pci2-flex-row pci2-justify-end pci2-signle-toggle-button">
      {{=toggleReviewButton}}
    </div>
    {{if reviewRounds is not None:}}
      <h2 class="pci2-recomm-article-h2">{{=T('Reviews')}}</h2>
      {{=reviewRounds}}
    {{pass}}


    <!-- User Comments -->
    <div class="pci2-full-width pci2-flex-row pci2-justify-end pci2-signle-toggle-button">
      {{=toggleCommentButton}}
    </div>
    {{if commentsTreeAndForm is not None :}}
      {{=commentsTreeAndForm}}
    {{pass}}

  </div>
</div>

 <!-- isRecommended    -->
