{{extend 'layout.html'}}
<script>window.onload = function() {if ($.cookie('PCiHideHelp') == 'On') $('DIV.pci-helptext').hide(); else $('DIV.pci-helptext').show();}</script>

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
{{pass}}
	
{{if 'customText' in locals():}}
  {{=customText}}
{{pass}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
{{pass}}

{{if 'myUpperBtn' in locals():}}
	{{=myUpperBtn}}
{{pass}}

{{if 'searchForm' in locals():}}
	<div style="display:flex; justify-content: center;">	
		{{=searchForm}}
	</div>
{{pass}}

<!-- Recommendation title and authors -->
{{if 'articleHeaderHtml' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
	<div style="max-width: 800px; width: 100%;">
		{{=articleHeaderHtml}}
	</div>
</div>
{{pass}}

{{if 'selectAllBtn' in locals():}}
	{{=selectAllBtn}}
{{pass}}

{{if 'myAcceptBtn' in locals():}}
	{{=myAcceptBtn}}
{{pass}}

<div>
	{{=grid}}
	{{if 'selectAllBtn' in locals():}}
		{{=selectAllBtn}}
	{{pass}}
</div>

{{if 'myAcceptBtn' in locals():}}
	{{=myAcceptBtn}}
{{pass}}

{{if 'selectAllScript' in locals():}}
	{{=selectAllScript}}
{{pass}}

{{if 'myFinalScript' in locals():}}
	{{=myFinalScript}}
{{pass}}

{{if 'absoluteButtonScript' in locals():}}
	{{=absoluteButtonScript}}
{{pass}}


{{if 'grid' in locals():}}
<script src="{{=URL('static', 'js/pci/remove_head_sort.js')}}"></script>
{{pass}}
