{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
    {{if 'smallSearch' in locals():}}
		<div class="pci-smallSearchDiv">{{=smallSearch}}</div>
    {{pass}}
    </header>
{{end}}

{{if 'myHelp#TODO' in locals():}}
  {{=myHelp}}
  {{pass}}

{{if 'myText' in locals():}}
	<div>{{=myText}}</div>
	{{pass}}

{{if 'myTopPanel' in locals():}}
	{{=myTopPanel}}
	{{pass}}


<div class="pci-leftOfPanel">
{{if 'message' in globals():}}
	<h2>{{=message}}</h2>
	{{pass}}

{{if 'content' in globals():}}
	{{=content}}
	{{pass}}

<div id="lastRecommendationsDiv">
{{if 'form' in globals():}}
	{{=form}}
	{{pass}}
</div>

</div>

{{if 'panel' in globals():}}
	{{block right_sidebar}}
	{{=panel}}
	{{end}}
	{{pass}} 
