{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in locals())}}
{{extend 'layout.html'}}

{{block header}}
    <header id='pci-home-header' class="col-md-9">
    <span>
    <img src="{{=URL(c='static', f='images/background.png')}}">
    {{if 'smallSearch' in locals():}}
		<div class="pci-smallSearchDiv">{{=smallSearch}}</div>
    {{pass}}
    </span>
    </header>
{{end}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}


<!-- {{if auth.user:}} -->
<!-- 	<H1 style="background:red; padding:8px; margin-bottom:12px; border-radius:16px;">Maintenance scheduled today... Please, don't use it for the moment!<br>Sorry for any inconvenience...</H1> -->
<!-- 	{{pass}} -->

<div style="margin-top:0px; margin-bottom:20px; text-align:left;">
  {{if auth.user:}}
    <a
      href="{{=URL('user', 'new_submission')}}"
      class="btn btn-success pci-public"
    >
      {{=T("Submit a preprint")}}
    </a>

    {{else:}}
    <a
    	href="{{=URL('user', 'new_submission')}}"
    	class="btn btn-success pci-public"
      >
    	{{=T("Submit a preprint")}}
    </a>
  {{pass}} 

  {{if auth.has_membership('recommender'):}}
    {{if 'pciRRactivated' in locals() and pciRRactivated is False:}}
      <a
      	href="{{=URL('recommender', 'new_submission')}}"
      	class="btn btn-info pci-recommender"
      >
      	{{=T("Recommend a postprint")}}
      </a>
    {{pass}}
    <a
    	href="{{=URL('recommender', 'fields_awaiting_articles')}}"
    	class="btn btn-default pci-recommender"
    >
    	{{=T("Preprints requiring a recommender")}}
    </a>
  {{pass}}
  <div class="search-wrapper">
    {{=searchForm}}
  </div>
</div>  

{{if 'pageTitle' in locals():}}
<div class="pci2-flex-center">
  <div class="pci-pageTitleText" style="width: 100%; max-width: 1200px;">{{=pageTitle}}</div>
</div>
{{pass}}

{{if 'customText' in locals():}}
<div class="pci2-flex-center">
  <div style="max-width: 1200px;">{{=customText}}</div>
</div>
{{pass}}


<div class="pci-leftOfPanel">
  {{if 'message' in locals():}}
  	<h2>{{=message}}</h2>
  {{pass}}

  {{if 'content' in locals():}}
	  {{=content}}
	{{pass}}

  
  <div id="lastRecommendationsDiv">
    {{=lastRecommTitle}}

    {{if 'lastRecomms' in locals():}}
    	{{=lastRecomms}}
	  {{pass}}
  </div>
</div>

{{if 'panel' in locals() and panel:}}
	{{block right_sidebar}}
	{{=panel}}
	{{end}}
	{{pass}} 

{{if 'myBottomPanel' in locals() and myBottomPanel:}}
	{{=myBottomPanel}}
	{{pass}}
