{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in locals())}}
{{extend 'layout.html'}}

{{block header}}
  {{if auth.user:}}
    <header id='pci-home-header-large'>
  {{else:}}
    <header id='pci-home-header'>
  {{pass}}
      <span>
        <img src="{{=URL(c='static', f='images/background.png')}}">
        {{if 'smallSearch' in locals():}}
          <div class="pci-smallSearchDiv">{{=smallSearch}}</div>
        {{pass}}
      </span>
    </header>
{{end}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
{{pass}}

<!-- {{if auth.user:}} -->
<!-- 	<H1 style="background:red; padding:8px; margin-bottom:12px; border-radius:16px;">Maintenance scheduled today... Please, don't use it for the moment!<br>Sorry for any inconvenience...</H1> -->
<!-- 	{{pass}} -->

<div style="margin-top:0px; margin-bottom:10px; text-align:left;">
  {{if auth.user:}}
    <a
      href="{{=URL('user', 'new_submission')}}"
      class="btn btn-success pci-public submit-front"
    >
      {{=T("Submit a preprint")}}
    </a>

    {{else:}}
    <a
    	href="{{=URL('user', 'new_submission')}}"
    	class="btn btn-success pci-public submit-front"
      >
    	{{=T("Submit a preprint")}}
    </a>
  {{pass}}
</div>

{{if 'pageTitle' in locals():}}
  <div class="pci2-flex-center">
    <div class="pci-pageTitleText" style="width: 100%; max-width: 1200px;">{{=pageTitle}}</div>
  </div>
{{pass}}

{{if 'customText' in locals():}}
  <div class="pci2-flex-center">
    <div style="max-width: 1200px;">{{=customText}}</div>
  </div>
{{pass}}

<div class="pci-leftOfPanel">
  {{if 'message' in locals():}}
  	<h2>{{=message}}</h2>
  {{pass}}

  {{if 'content' in locals():}}
	  {{=content}}
	{{pass}}

  {{if 'grid' in locals():}}
    <div id="main-page-search-grid">
      {{=grid}}
    </div>
  {{pass}}
</div>

{{if 'panel' in locals() and panel:}}
	{{block right_sidebar}}
	  {{=panel}}
	{{end}}
{{pass}}
