{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
	{{pass}}

	
{{if 'customText' in locals():}}
  {{=customText}}
  {{pass}}

  
{{if 'message' in locals():}}
	{{=message}}
	{{pass}}

{{if 'sendMessageForm' in locals():}}
	<div class="pci2-flex-center">
		{{=sendMessageForm}}
	</div>
{{pass}}

{{if 'myFinalScript' in locals():}}
	{{=myFinalScript}}
	{{pass}}

