{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}}

{{if 'myHelp#TODO' in locals():}}
  {{=myHelp}}
  {{pass}}

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
	{{pass}}

<div class="pci-myLogo"></div>

{{if 'myTitle' in locals():}}
	<div class="pci-myTitleText">{{=myTitle}}</div>
	{{pass}}

{{if 'message' in globals():}}
	<h2>{{=message}}</h2>
	{{pass}}

{{if 'myText' in globals():}}
	<div class="pci-myTextInfo">{{=myText}}</div>
	{{pass}}

