{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}} 

{{if 'pageHelp#TODO' in locals():}} 
  {{=pageHelp}}
{{pass}} 

{{if 'myBackButton' in locals():}}
  <div class="pci-backButtonDiv">{{=myBackButton}}</div>
{{pass}} 

{{if 'customText' in locals():}} 
  {{=customText}} 
{{pass}}

<div class="pci2-justify-center">
  <div class="pci2-content-900px">
    {{=recommHeaderHtml}}

    {{if isAlreadyReviewer == False and isRecommender == False and isSubmitter == False:}}
    {{if pciRRactivated: }}
      <p class="alert alert-info"><a style="font-weight: bold;" target="_blank" href="{{=URL(c='public', f='user_public_page', vars=dict(userId=recommender.id))}}">{{=recommender.first_name}} {{=recommender.last_name}}</a>, handling the evaluation of the report, is inviting you to review this report.</p>
    {{else:}}
      <p class="alert alert-info"><a style="font-weight: bold;" target="_blank" href="{{=URL(c='public', f='user_public_page', vars=dict(userId=recommender.id))}}">{{=recommender.first_name}} {{=recommender.last_name}}</a>, handling the evaluation of the preprint, is inviting you to review this preprint.</p>
    {{pass}}
    <div class="pci2-full-width pci2-flex-center" style="margin: 40px 0">
      <div class="pci-embeddedEthic" style="padding-top: 10px">
        {{=form}}
      </div>
    </div>
    {{else:}}
    <div class="pci2-full-width pci2-flex-center" style="margin: 40px 0">
      <div class="pci-embeddedEthic" style="padding-top: 30px; text-align: center;">
        {{if isAlreadyReviewer or isSubmitter:}}
          {{if isAlreadyReviewer:}}
            <p><b>{{=T('You are already a reviewer or have asked to review this preprint.')}}</b></p>
          {{pass}}
          {{if isSubmitter:}}
            <p><b>{{=T('You are the submitter of this preprint.')}}</b></p>
          {{pass}}
        {{elif isRecommender:}}
          <p><b>{{=T('You are the recommender of this preprint.')}}</b></p>         
        {{pass}}
      </div>
    </div>
    {{pass}}
  </div>
</div>

<!-- disable submit button if checkboxes are not checked -->
<script>

  function checkAllTrue(){
    if (
      jQuery("#no_conflict_of_interest").prop("checked") &&
      (jQuery("#due_time").prop("checked") || '{{=more_delay}}' === 'True') &&
      (jQuery("#anonymous_agreement").prop("checked") || {{=int(pciRRactivated)}}) &&
      (jQuery("#cgu_checkbox").prop("checked") || '{{=user.ethical_code_approved}}' === 'True') &&
      (jQuery("#new_delay_agreement").prop("checked") || '{{=more_delay}}' === 'False')
    ) {
      jQuery(":submit").prop("disabled", false);
    } else {
      jQuery(":submit").prop("disabled", true);
    }
  }

  jQuery(document).ready(function() {
    checkAllTrue()

    jQuery("#no_conflict_of_interest").change(function() {
      checkAllTrue()
    });

    jQuery("#due_time").change(function() {
      checkAllTrue()
    });

    jQuery("#anonymous_agreement").change(function() {
      checkAllTrue()
    });

    jQuery("#cgu_checkbox").change(function() {
      checkAllTrue()
    });

    jQuery("#new_delay_agreement").change(function() {
      checkAllTrue()
    });
  });
</script>
