{{extend 'layout.html'}}
<script>window.onload = function() {if ($.cookie('PCiHideHelp') == 'On') $('DIV.pci-helptext').hide(); else $('DIV.pci-helptext').show();}</script>

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
	{{pass}}
	
{{if 'customText' in locals():}}
  {{=customText}}
  {{pass}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}


{{if 'searchForm' in locals():}}
	<div>{{=searchForm}}</div>
{{pass}}

{{if 'prevContent' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=prevContent}}</div>
{{pass}}


{{if 'suggested_reviewers_by_author' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=suggested_reviewers_by_author}}</div>
{{pass}}

{{if 'suggested_reviewers_by_reviewers' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=suggested_reviewers_by_reviewers}}</div>
{{pass}}

{{if 'oppossed_reviewers' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=oppossed_reviewers}}</div>
{{pass}}


{{if 'content' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=content}}</div>
{{pass}}

{{if 'tools_button' in locals():}}
	<div class="pci2-flex-center content-btn-left">{{=tools_button}}</div>
{{pass}}

{{if 'myUpperBtn' in locals():}}
<div class="pci2-flex-center upper-btn-left">
	{{=myUpperBtn}}
</div>
{{pass}}

{{if 'addSuggestedRecommendersButton' in locals():}}
<div>
	{{=addSuggestedRecommendersButton}}
</div>
{{pass}}

<!-- Recommendation title and authors -->
{{if 'articleHeaderHtml' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
	<div style="max-width: 800px; width: 100%;">
		{{=articleHeaderHtml}}
	</div>
</div>
{{pass}}

{{include 'components/edit_article_modal.html'}}

<div>
{{if 'form' in locals():}}
	{{=form}}
{{elif 'create_form' in grid:}}
   {{=grid.create_form}}
{{elif 'update_form' in grid:}}
   {{=grid.update_form}}
{{elif 'view_form' in grid:}}
   {{=grid.view_form}}
{{else:}}
   {{=grid}}
{{pass}}
</div>


{{if 'myAcceptBtn' in locals():}}
<div class="pci2-flex-center accept-btn-left">
	{{=myAcceptBtn}}
</div>
{{pass}}

{{if 'myFinalScript' in locals():}}
{{=myFinalScript}}
{{pass}}

{{if 'pciRRjsScript' in locals():}}
{{=pciRRjsScript}}
{{pass}}


{{if 'absoluteButtonScript' in locals():}}
{{=absoluteButtonScript}}
{{pass}}

{{if 'deleteFileButtonsScript' in locals():}}
{{=deleteFileButtonsScript}}
{{pass}}

{{if 'anonymousReviewerConfirmDialog' in locals():}}
{{=anonymousReviewerConfirmDialog}}
{{pass}}

{{if 'html_string' in locals():}}
<div id="hidden-html">{{=html_string}}</div>
<script src="{{=URL('static', 'js/hidden_html.js')}}"></script>
{{pass}}

{{if 'grid' in locals():}}
<script src="{{=URL('static', 'js/pci/remove_head_sort.js')}}"></script>
{{pass}}

{{if 'confirmationScript' in locals():}}
{{=confirmationScript}}
{{pass}}

<script src="{{=URL('static', 'js/pci-init-tinymce.js')}}"></script>
<script src="{{=URL('static', 'js/pci-init-tinymce-inline.js')}}"></script>
