{{extend 'layout.html'}}

{{if 'myHelp' in locals():}}
  {{=myHelp}}
  {{pass}}

<div class="pci-myTitle">
	<div class="pci-backButtonDiv">
	{{if 'myBackButton' in locals():}}
		{{=myBackButton}}
		{{pass}}
	</div>
	<div class="pci-myTitleText">
	{{if 'myTitle' in locals():}}
		{{=myTitle}}
		{{pass}}
	</div>
</div>

{{if 'searchForm' in locals():}}
	<div>{{=searchForm}}</div>
	{{pass}}

<hr>

{{if 'content' in locals():}}
	<div>{{=content}}</div>
	{{pass}}

<div>
{{if 'form' in locals():}}
	{{=form}}
{{elif 'create_form' in grid:}}
   {{=grid.create_form}}
{{elif 'update_form' in grid:}}
   {{=grid.update_form}}
{{elif 'view_form' in grid:}}
   {{=grid.view_form}}
{{else:}}
   {{=grid}}
{{pass}}
</div>

{{if 'myAcceptBtn' in locals():}}
	{{=myAcceptBtn}}
	{{pass}}

{{if 'myFinalScript' in locals():}}
	{{=myFinalScript}}
	{{pass}}
