<!-- ALtimetrics badge -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

{{if 'myHelp#TODO' in locals():}}
  {{=myHelp}}
  {{pass}}

{{if 'myCloseButton' in locals() and printable:}}
	{{=myCloseButton}}
{{pass}}

{{if 'myUpperBtn' in locals():}}
	{{=myUpperBtn}}
	{{pass}}



{{if 'recommHeaderHtml' in locals() and 'recommStatusHeader' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
  <div style="max-width: 800px; width: 100%;">
		{{=recommStatusHeader}}
		{{=recommHeaderHtml}}
	</div>
</div>
{{pass}}

{{if 'myContents' in locals():}}
<div>			
	{{=myContents}}
</div>
{{pass}}

{{if 'grid' in locals():}}
	{{=grid}}
	{{pass}}

{{if 'myAcceptBtn' in locals():}}
	{{=myAcceptBtn}}
	{{pass}}

{{if 'panel' in globals():}}
	{{block right_sidebar}}
	{{=panel}}
	{{end}}
	{{pass}} 
