<!-- ALtimetrics badge -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}

{{if 'myUpperBtn' in locals():}}
	{{=myUpperBtn}}
{{pass}}

{{if 'recommHeaderHtml' in locals() and 'recommStatusHeader' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
  	<div style="max-width: 800px; width: 100%;">
		{{=recommStatusHeader}}
		{{=recommHeaderHtml}}
	</div>
</div>
{{pass}}

{{if ('isStage2' in locals() and 'pciRRactivated' in locals()):}}
	{{if pciRRactivated:}}
		<div class="pci2-flex-column pci2-align-items-center">
			<div style="max-width: 800px; width: 100%;">
			{{if isStage2 and stage1Link:}}
				<h3><i>This is a stage 2 based on:</i></h3>
				<!-- link to step 1 -->
				<div style="padding: 0px 20px; margin-bottom: 15px; border-left: 5px solid #59839855">
					{{=stage1Link}}
				</div>
			{{else:}}
				<!-- <h2>This is a stage 1</h2> -->
				{{if 'stage2List' in locals() and stage2List:}}
					<h3><i>Related stage 2 preprints:</i></h3>
					<!-- list of steps 2 -->
					{{for art in stage2List:}}
						<div style="padding: 0px 20px; margin-bottom: 15px; border-left: 5px solid #59839855">
							{{=art}}
						</div>
					{{pass}}
				
				{{pass}}
			{{pass}}
			</div>
		</div>
	{{pass}}
{{pass}}

{{if ('isScheduledSubmission' in locals()) and ('scheduledSubmissionActivated' in locals()) and ('scheduledSubmissionForm' in locals()) and ('scheduledSubmissionRemaningDays' in locals()):}}
	{{if scheduledSubmissionActivated and isScheduledSubmission and scheduledSubmissionForm and scheduledSubmissionRemaningDays:}}
		<div class="pci2-flex-column pci2-align-items-center">
			<div style="max-width: 800px; width: 100%;">
				<hr>

				<div style="margin-bottom: 25px; " class="pci2-full-width pci2-flex-row pci2-align-items-center pci2-signle-toggle-button">
					<h2 class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center">
						<i class="glyphicon glyphicon-edit" style="margin-right: 10px;"></i>
						{{= T('Submit your report')}}
					</h2>
				</div>
			
				<div>
					
					{{if scheduledSubmissionRemaningDays < 0:}}
						<h4 style="margin: 5px 15px; text-align: center;">
							<b style="color: #ffbf00;">{{=T('Warning:')}}</b>
							<span>
								{{=T("Scheduled submission date has been reached.")}}
							</span>
						</h4>
					{{else:}}
						<h4 style="margin: 5px 15px; text-align: center;">
							{{=T("The scheduled submission date will be reached in ")}}
							<b>
								{{=scheduledSubmissionRemaningDays}}
							</b> 
							{{=T("days.")}}
						</h4>
					{{pass}}

					{{=scheduledSubmissionForm}}
				</div>
			</div>
		</div>
	{{pass}}
{{pass}}

{{if 'myContents' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
	<div style="max-width: 800px; width: 100%;">
		{{if ('recommendationProgression' in locals()) and (recommendationProgression is not None) and (isSubmitter == True):}}
			<hr>

			<div style="margin-bottom: 40px; " class="pci2-full-width pci2-flex-row pci2-align-items-center pci2-signle-toggle-button">
				<h2 id="title-recomm-process" class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center {{if (roundNumber >= 1 and isRecommAvalaibleToSubmitter) or (roundNumber >= 2):}}pci2-half-opacity{{pass}}">
				  <i class="glyphicon glyphicon-dashboard" style="margin-right: 10px;"></i>
				  {{= T('Timeline')}}
				</h2>

				{{if not printable:}}      
					<a class="pci2-tool-link-right pci2-flex-row pci2-align-items-center"
						onclick="if( jQuery('#recomm-process-container' ).hasClass('pci2-panel-closed')) { 
							jQuery('#recomm-process-container').removeClass('pci2-panel-closed') 						
							jQuery('#icon-recomm-process').removeClass('glyphicon-rotate') 
							jQuery('#icon-recomm-process').addClass('glyphicon-rotate-reversed') 
							jQuery('#title-recomm-process').removeClass('pci2-half-opacity')
						} else {
							jQuery('#recomm-process-container').addClass('pci2-panel-closed') 						
							jQuery('#icon-recomm-process').removeClass('glyphicon-rotate-reversed') 
							jQuery('#icon-recomm-process').addClass('glyphicon-rotate')
							jQuery('#title-recomm-process').addClass('pci2-half-opacity')
						}" 
					>
						{{=T('Invert')}}
						{{if (roundNumber >= 1 and isRecommAvalaibleToSubmitter) or (roundNumber >= 2):}}
							<i id="icon-recomm-process" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
						{{else:}}
							<i id="icon-recomm-process" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate-reversed pci2-main-color-text"></i>
						{{pass}}					
					</a>
				{{pass}}
			</div>


			<div id="recomm-process-container" class="pci2-fade-in-top {{if (roundNumber >= 1 and isRecommAvalaibleToSubmitter) or (roundNumber >= 2):}}pci2-panel-closed{{pass}}">
				{{=recommendationProgression}}
			</div>
		{{pass}}

		{{if ('isSubmitter' not in locals() and 'isRecommAvalaibleToSubmitter' not in locals()) or (isSubmitter and roundNumber >= 1 and isRecommAvalaibleToSubmitter) or ('isSubmitter' in locals() and isSubmitter == False) or (isSubmitter and roundNumber >= 2):}}
			<hr>
		
			<h2 style="margin-top: 40px" id="title-recomm-process" class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center">
				<i class="glyphicon glyphicon-education" style="margin-right: 10px;"></i>
				{{= T('Evaluation process')}}
			</h2>

			{{=myContents}}

		{{pass}}
	</div>
</div>
{{pass}}


{{if 'recommTopButtons' in locals():}}
<div class="pci2-flex-column pci2-align-items-center">
	<div style="max-width: 800px; width: 100%; margin-top: 20px;">
		{{=recommTopButtons}}
	</div>
</div>
{{pass}}

<script type="text/javascript">
	var button = document.getElementById("cancel-submission-button");
	if (button) {
		confirmCancellation = function (e) {
			if (!confirm("Press a button!")) {
				e.preventDefault()
			} 
		}
		
		button.onclick = confirmCancellation
	}
</script>