{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}}

{{if 'pageHelp#TODO' in locals():}}
  {{=pageHelp}}
  {{pass}}

{{if 'myBackButton' in locals():}}
	<div class="pci-backButtonDiv">{{=myBackButton}}</div>
	{{pass}}

<!-- <div class="pci-myLogo"></div> -->
{{block header}}
<a href="{{=URL(c='default', f='index')}}"><img src="{{=URL(c='static', f='images/small-background.png')}}" class="pci-imgLogo"></a>
{{end}}


{{if 'pageTitle' in locals():}}
	<div class="pci-pageTitleText">{{=pageTitle}}</div>
	{{pass}}

{{if 'message' in globals():}}
	<h2>{{=message}}</h2>
	{{pass}}

{{if 'customText' in globals():}}
	<div class="pci-customTextInfo">{{=customText}}</div>
	{{pass}}

<p>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button"
data-href="http://147.99.65.220:82/PCiEvolBiol" data-layout="button"
data-size="small" data-mobile-iframe="false"><a
class="fb-xfbml-parse-ignore" target="_blank"
href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F147.99.65.220%3A82%2FPCiEvolBiol&amp;src=sdkpreparse">Share</a></div>

<p>
<a class="twitter-follow-button" href="https://twitter.com/PCIEvolBiol" data-size="large">Follow @PCIEvolBiol</a>
