{{left_sidebar_enabled,right_sidebar_enabled=False,('panel' in globals())}}
{{extend 'layout.html'}} 

{{if 'pageHelp#TODO' in locals():}} 
  {{=pageHelp}}
{{pass}} 

{{if 'myBackButton' in locals():}}
  <div class="pci-backButtonDiv">{{=myBackButton}}</div>
{{pass}} 

{{if 'customText' in locals():}} 
  {{=customText}} 
{{pass}}

<div class="pci2-full-width pci2-flex-center">
  <div class="pci-embeddedEthic" style="padding-top: 10px">
    <form action="{{=actionFormUrl}}" enctype="multipart/form-data" method="POST">
      <!-- hidden values -->
      <input value="{{=reviewId}}" type="hidden" name="reviewId" />
      <input value="true" type="hidden" name="ethics_approved" />

      <div class="checkbox">
        <label>
          <input type="checkbox"  name="no_conflict_of_interest" id="no_conflict_of_interest" value="yes"> 
          <b>{{=T("I declare that I have no conflict of interest with the authors or the content of the article")}}</b>
        </label>
      </div>

      <span>
        {{=disclaimerText}}
      </span>      
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="due_time" id="due_time" value="yes"> 
          <b>{{=T('I agree to post my review within %s') % dueTime}}</b>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="anonymous_agreement" id="anonymous_agreement" value="yes"> 
          <b>{{=T('In the event that authors submit their article to a journal once recommended by PCI, I agree that my name may be passed on in confidence to that journal.')}}</b>
        </label>
      </div>

      <div class="pci2-flex-center">
        <input type="submit" class="btn btn-success pci-panelButton" value="{{=T('Yes, I would like to review this preprint')}}">          
      </div>
    </form>
  </div>
</div>

<!-- disable submit button if checkboxes are not checked -->
<script>
  function checkAllTrue(){
    if (
      jQuery("#no_conflict_of_interest").prop("checked") &
      jQuery("#due_time").prop("checked") &
      jQuery("#anonymous_agreement").prop("checked")
    ) {
      jQuery(":submit").prop("disabled", false);
    } else {
      jQuery(":submit").prop("disabled", true);
    }
  }

  jQuery(document).ready(function() {
    checkAllTrue()

    jQuery("#no_conflict_of_interest").change(function() {
      checkAllTrue()
    });

    jQuery("#due_time").change(function() {
      checkAllTrue()
    });

    jQuery("#anonymous_agreement").change(function() {
      checkAllTrue()
    });
  });
</script>
