*.pyc
*~
*.old
*.DS_Store
errors/*
sessions/*
static/plugin_ckeditor
static/web2py.plugin.ckeditor.w2p.uncompressed
private/*.ini
private/reminders_config
node_modules
cypress/videos
cypress/screenshots
cypress/fixtures/users.json
package-lock.json
tmp/*
static/images/background.png
static/images/small-background.png
languages/default.py
controllers/dev.py
