*.pyc
*~
*.old
*.DS_Store
errors/*
sessions/*
uploads/
static/plugin_ckeditor
static/web2py.plugin.ckeditor.w2p.uncompressed
private/appconfig.ini
utils/.test-sites.conf
node_modules
cypress/videos
cypress/screenshots
cypress/fixtures/users.json
package-lock.json
tmp/*
static/images/background.png
static/images/small-background.png
languages/default.py
languages/plural-*
controllers/dev.py
controllers/stats.py
web2py/
misc/
log.txt
