*.pyc
*~
*.old
*.DS_Store
errors/*
sessions/*
uploads/
static/plugin_ckeditor
static/web2py.plugin.ckeditor.w2p.uncompressed
private/appconfig.ini
tmp/*
static/images/background.png
static/images/small-background.png
languages/default.py
languages/plural-*
controllers/dev.py
controllers/stats.py
models/db_plug.py
misc/
log.txt
.vscode
geckodriver.log
/clockss/
