<html>
Dear {{=person}},
<p>
You have requested a recommendation to <i>{{=appdesc}}</i> (<i>{{=applongname}}</i>) for your manuscript entitled <b>{{=article.title}}</b> on behalf of all authors. 
We thank you for that.
<p>
We remind you that this request is not a submission, as <i>{{=applongname}}</i> has no obligation to consider your manuscript. 
We will try our best but we cannot guaranty that your manuscript will be reviewed.
<p>
We also remind you that, by soliciting <i>{{=applongname}}</i>, you agree to wait at least 20 days before submitting this manuscript to a journal or request a recommendation to another Peer Community in.<br>
This delay will allow <i>{{=applongname}}</i> to initiate a recommendation process and if so to avoid a simultaneous review process – i.e. one performed by <i>{{=applongname}}</i> and one undertaken by a traditional scientific journal or another <a href="https://peercommunityin.org/">Peer Community In</a>.
<p>
You will be notified by e-mail if a member of the <i>{{=applongname}}</i> chooses/decides to start a peer-review process of your manuscript. 
You will then be asked if you agree to engage in the peer review process, and in case of a positive answer your manuscript will be sent to at least 2 reviewers. 
You may then be asked to modify you manuscript and to reply to the questions and points raised by the reviewers.
<p>
In case of a favorable conclusion of the member of <i>{{=applongname}}</i> in charge of your MS, a recommendation will be published on the web site of <i>{{=applongname}}</i> and widely publicized trough social and scientific networks.<br>
Alternatively, a second round of reviews may be needed or a decision to not recommend your manuscript may be made. 
You will be notified by e-mail at each step of the procedure.
<p>
To view your recommendation request or to cancel it, follow this link: <a href="{{=target}}">{{=target}}</a>
<p>
We thank you again for your recommendation request.
<p>
Sincerely yours,
<p>
<span style="padding-left:1in;">The Managing Board of <i>{{=applongname}}</i></span>

<div style="background-color:#eeeeee; border: 1px solid black;">
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
</div>

</html>
