<html>
Dear {{=person}},
<p>
You recently became a user of <i>{{=applongname}}</i>. 
Thank for registering and your interest. 
<p>
As a user you will be able to use an alert system to inform <i>{{=applongname}}</i> that you like one of your preprints to be considered for recommendation (a dedicated webpage will serve this purpose). 
This will require that this preprint is not under consideration for publication in a traditional journal or for recommendation by another Peer Community in.<br>
If you sollicit <i>{{=applongname}}</i> for a recommendation and if a member of this community is interested by evaluating the manuscript he/she will contact you to 
1) ensure that the manuscript is still not under review elsewhere and if so 
2) let you know that the manuscript, if you agree, will enter in the recommendation process.
<p>
More information on <i>{{=applongname}}</i> can be found here: <a href="{{=baseurl}}">{{=baseurl}}</a>.
<p>
As a user, you will receive alerts each {{=days}} in the following fields when recommendations are published in <i>{{=applongname}}</i> web site: {{=thematics}}
<p>
We thank you again for your recommendation request.
<p>
Sincerely yours,
<p>
<span style="padding-left:1in;">The Managing Board of <i>{{=applongname}}</i></span>

<div style="background-color:#eeeeee; border: 1px solid black;">
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
</div>

</html>
