<html>
Dear {{=person}},
<p>
Your manuscript entitled <b>{{=article.title}}</b> has been evaluated by at least two referees. 
On the basis of these reviews, the member of <i>{{=applongname}}</i> in charge of the evaluation of your manuscript has decided not to recommend it.
<p>
You will find through this following link <a href="{{=recommurl}}">{{=recommurl}}</a> and below the reviews and the commentary of the member of <i>{{=applongname}}</i> in charge of the evaluation of your manuscript.
<p>
These reviews and commentary will not be published on the <i>{{=applongname}}</i> website and will not be publicly released. 
They will safely be stored in our database and no one except the managing board can have access to them.
<p>
We hope that you would request new recommendations in the future (see the website <a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
We thank you again for your recommendation request.
<p>
Sincerely yours,
<p>
<span style="padding-left:1in;">The Managing Board of <i>{{=applongname}}</i></span>

<div style="background-color:#eeeeee; border: 1px solid black;">
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
</div>

<hr>
{{=recommendation}}
</html>
