<html>
Dear {{=person}},
<p>
Your manuscript entitled <b>{{=article.title}}</b> has now been reviewed. 
Referee’s comments are enclosed and available through the following link: <a href="{{=recommurl}}">{{=recommurl}}</a>.
<p>
As you will see, the recommender and the other referees found your manuscript very interesting and suggested it for recommendation, providing you make some revisions.
<p>
We shall in principle be happy to recommend your manuscript as soon as you revise it in response to the points raised by the referees. 
We hope to hear from you within two weeks; please let us know if the delay you need to revise your manuscript is likely to be much longer than this. 
<p>
When your revised manuscript is ready and when you have replied the reviewers’ questions, follow this link:
<a href="{{=target}}">{{=target}}</a>
<p>
After reading your revision, I may recommend it and publish this recommendation on the web site of <i>{{=applongname}}</i>. 
Alternatively, a second round of reviews may be needed or a decision to not recommend your manuscript may be made. 
You will be notified by e-mail at each step of the procedure.
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
<p>
We thank you again for your recommendation request.
<p>
Sincerely yours,
<p>
<span style="padding-left:1in;">The Managing Board of <i>{{=applongname}}</i></span>
<hr>
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).

<div style="background-color:#eeeeee; border: 1px solid black;">
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
</div>

<hr>
{{=recommendation}}
</html>
