<html>
Dear {{=person}},
<p>
You recently became a member of <i>{{=applongname}}</i>. 
We thank you for your investment and your support.
<p>
As a member of <i>{{=applongname}}</i> recommendation board, 
<ul>
<li> you will be asked to recommend 1 or 2 manuscripts per year in average and no more than 5 manuscripts per year. 
	Details on the recommendation process can be found here <a href="{{=helpurl}}">{{=helpurl}}</a>. 
<li> you will have to comply with the code of ethical conduct of <i>{{=applongname}}</i> that can be found here: <a href="{{=ethicsurl}}">{{=ethicsurl}}</a>
<li> you may be elected as a member of the Managing Board for 2 years
<li> you will receive alerts each {{=days}} in the following fields when recommendations are published in <i>{{=applongname}}</i> web site: {{=thematics}}
<li> you will also receive by default alerts when <i>{{=applongname}}</i> receives recommendations requests in the same fields and with the same periodicity as above.
</ul>

If you want to take in charge new recommendation requests, to request a recommendation for one of your preprints, visit <a href="{{=baseurl}}">{{=baseurl}}</a>.
<p>
Sincerely yours,
<p>
<span style="padding-left:1in;">The Managing Board of <i>{{=applongname}}</i></span>

<div style="background-color:#eeeeee; border: 1px solid black;">
<i>{{=applongname}}</i> is the first community of the parent project <a href="https://peercommunityin.org/">Peer Community In</a>. 
It is a community of researchers in {{=appthematics}} dedicated to review and recommend manuscripts publicly available in pre-print servers (such as bioRxiv). 
The motivation behind this project is the establishment of a high-profile, free, public recommendation system for identifying high-quality manuscripts. 
More information can be found on the web site of <i>{{=applongname}}</i> (<a href="{{=baseurl}}">{{=baseurl}}</a>).
<p>
If you want to modify your profile or the fields and periodicity for the alerts, follow this link: <a href="{{=profileurl}}">{{=profileurl}}</a>
</div>

</html>
