<div class="pci2-flex-column pci2-article-row pci2-article-row-short {{=printableClass}}" id="article-{{=articleId}}">
  <div class="pci2-flex-row pci2-flex-column-mobile">
    <div
      class="pci2-flex-column  pci2-article-left-div pci2-article-left-div-short">
      {{if pciRRactivated:}}
      <span class="pci2-article-infos" style="margin-top: 10px;">{{=articleStage}}</span>
      {{pass}}
      <div class="pci2-flex-column pci2-flex-center pci2-flex-grow pci2-article-image-div">

        {{=articleImg}} 
        {{if articleImg == '' :}}
          <img
            src="{{=URL('static', 'images/small-background.png')}}"
            alt="toto"
          />
        {{pass}}

      </div>
    </div>

    
    <div class="pci2-flex-row pci2-flex-center">
      <div class="pci2-flex-column pci2-flex-grow">
        
        <h3>{{=articleTitle}}</h3>
        <span class="pci2-article-infos">{{=articleAuthor}}</span>
        <span class="pci2-article-infos">{{=articleSource}}</span>
        <span class="pci2-article-infos">{{=articleDoi}}</span>
        <span class="pci2-article-infos" id="version">{{=articleVersion}}</span>
        {{if 'articleKeywords' in locals() and not isRecommended:}}
        <span class="pci2-article-infos">{{=articleKeywords}}</span>
        {{pass}}
        <div>
          <span class="pci2-article-infos">{{=doiButton}}</span>
          {{if 'publishedDoi' in locals():}}
          <span class="pci2-article-infos">{{=publishedDoi}}</span>
         {{pass}}
        </div>
      </div>
    </div>
  </div>
  
  {{if article_altmetric != '' and not printable:}}
    <div class="pci2-flex-end" style="margin-right: 10px;">
      {{=article_altmetric}}
    </div>
  {{pass}}

  {{if 'dataDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
    onclick="checkPanel('#menu-1','#icon-menu-1')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Data used for results</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'dataDoi' in locals() and not printable:}}
      <i id="icon-menu-1" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>

  {{if 'dataDoi' in locals() and not printable:}}
    <div id="menu-1" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=dataDoi}}
    </div>
  {{pass}}

  {{if 'dataDoi' in locals() and printable:}}
    <div id="menu-1" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=dataDoi}}
    </div>
  {{pass}}
{{pass}}


{{if 'codeDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
    onclick="checkPanel('#menu-2','#icon-menu-2')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Codes used in this study</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'codeDoi' in locals() and not printable:}}
      <i id="icon-menu-2" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'codeDoi' in locals() and not printable:}}
    <div id="menu-2" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=codeDoi}}
    </div>
  {{pass}}

  {{if 'codeDoi' in locals() and printable:}}
    <div id="menu-2" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=codeDoi}}
    </div>
  {{pass}}
{{pass}}


{{if 'scriptDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
    onclick="checkPanel('#menu-3','#icon-menu-3')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Scripts used to obtain or analyze results</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'scriptDoi' in locals() and not printable:}}
      <i id="icon-menu-3" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'scriptDoi' in locals() and not printable:}}
    <div id="menu-3" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=scriptDoi}}
    </div>
  {{pass}}

  {{if 'scriptDoi' in locals() and printable:}}
    <div id="menu-3" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=scriptDoi}}
    </div>
  {{pass}}
{{pass}}


  {{if 'coverLetter' in locals():}}
    <div    
      style="margin:  15px 0 0px;"
      {{if not printable:}}
      onclick="checkPanel('#menu-4','#icon-menu-4')"
        class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
      {{else:}}
        class="pci2-flex-row pci2-flex-center"   
      {{pass}}
    >
      <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
        >Cover letter</b
      >
      <hr
        style="margin: 0 10px;"
        class="pci2-main-color-hr pci2-flex-grow"
      />

      {{if 'coverLetter' in locals() and not printable:}}
        <i id="icon-menu-4" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
      {{pass}}
    </div>


    {{if 'coverLetter' in locals() and not printable:}}
      <div id="menu-4" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
        {{=coverLetter}}
      </div>
    {{pass}}

    {{if 'coverLetter' in locals() and printable:}}
      <div id="menu-4" class="pci2-abstract-div" style="margin-top: 15px;">
        {{=coverLetter}}
      </div>
    {{pass}}
  {{pass}}


{{if 'articleMethodsRequireSpecificExpertise' in locals() and not pciRRactivated:}}
  <div
    style="margin:  15px 0 0px;"
    {{if not printable:}}
    onclick="checkPanel('#menu-9','#icon-menu-9')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Methods that require specific expertise</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if not printable:}}
      <i id="icon-menu-9" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>

  {{if not printable:}}
    <div id="menu-9" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=articleMethodsRequireSpecificExpertise}}
    </div>
  {{pass}}

  {{if printable:}}
    <div id="menu-9" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=articleMethodsRequireSpecificExpertise}}
    </div>
  {{pass}}
{{pass}}


{{if 'suggestReviewers' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
    onclick="checkPanel('#menu-7','#icon-menu-7')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Reviewers suggested by the authors</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'suggestReviewers' in locals() and not printable:}}
      <i id="icon-menu-7" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'suggestReviewers' in locals() and not printable:}}
    <div id="menu-7" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=suggestReviewers}}
    </div>
  {{pass}}

  {{if 'suggestReviewers' in locals() and printable:}}
    <div id="menu-7" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=suggestReviewers}}
    </div>
  {{pass}}
  {{pass}}

  {{if 'competitors' in locals():}}
  <div 
    style="margin: 15px 0 0px;"
    {{if not printable:}}
      onclick="checkPanel('#menu-8','#icon-menu-8')"
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center" 
    {{pass}}
  >
  <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
  >Reviewers opposed by the authors</b
  >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />
  
    {{if 'competitors' in locals() and not printable:}}
      <i id="icon-menu-8" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>
  
  {{if 'competitors' in locals() and not printable:}}
    <div id="menu-8" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=competitors}}
    </div>
  {{pass}}
  
  {{if 'competitors' in locals() and printable:}}
    <div id="menu-8" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=competitors}}
    </div>
  {{pass}}
{{pass}}

{{if 'articleAbstract' in locals() or 'articleKeywords' in locals():}}
    {{if 'translations' in locals() and len(translations) > 0:}}
      <h3 class="pci2-main-color" style="margin: 10px 0 5px 0">Abstract</h3>
      <div id="icon-translations">
      {{for lang, translation in translations.items():}}
          <div
            style="margin: 15px 10px 0px 0px; display: inline;"
            {{if not printable:}}
            onclick="checkPanel('#menu-5-{{=lang}}','#icon-menu-5-{{=lang}}')"
              class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
            {{else:}}
              class="pci2-flex-row pci2-flex-center"
            {{pass}}
          >
            <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
              >{{=Lang.get_lang_by_code(lang).value.code.upper()}}</b
            >
            {{if not printable:}}
              <i id="icon-menu-5-{{=lang}}" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate"></i>
            {{pass}}
          </div>
      {{pass}}
    </div>
    <div id="menu-translations">
    {{for lang, translation in translations.items():}}
        {{if not printable:}}
        <div id="menu-5-{{=lang}}" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
          {{=translation.get('automated', '')}}
          {{=translation.get('title', '')}}
          {{=translation.get('abstract', '')}}
          {{=translation.get('keywords', '')}}
        </div>
      {{else:}}
        <div id="menu-5-{{=lang}}" class="pci2-abstract-div" style="margin-top: 15px;">
          {{=translation.get('automated', '')}}
          {{=translation.get('title', '')}}
          {{=translation.get('abstract', '')}}
          {{=translation.get('keywords', '')}}
        </div>
      {{pass}}
    {{pass}}
    </div>
  {{else:}}
      <div
      style="margin:  15px 0 0px;"
      {{if not printable:}}
      onclick="checkPanel('#menu-5','#icon-menu-5')"
        class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
      {{else:}}
        class="pci2-flex-row pci2-flex-center"
      {{pass}}
    >
      <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}>
          Abstract
      </b
      >
      <hr
        style="margin: 0 10px;"
        class="pci2-main-color-hr pci2-flex-grow"
      />
      {{if not printable:}}
        <i id="icon-menu-5" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate"></i>
      {{pass}}
    </div>

    {{if not printable:}}
      <div id="menu-5" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
        <h3>{{=articleTitle}}</h3>
    {{else:}}
      <div id="menu-5" class="pci2-abstract-div" style="margin-top: 15px;">
        {{=articleTitle}}
    {{pass}}

        {{if 'articleAbstract' in locals():}}
        {{=articleAbstract}}
        {{pass}}
        {{if isRecommended and 'articleKeywords' in locals():}}
          <i>{{=articleKeywords}}</i>
        {{pass}}
      </div>
  {{pass}}
{{pass}}  

</div>

{{if 'submittedBy' in locals():}}
  {{=DIV(submittedBy, _style="margin-bottom: 20px")}}
{{pass}}

<script src="{{=URL('static', 'js/pci/article_panel.js')}}"></script>
