<div class="pci2-flex-row pci2-article-row pci2-flex-column-mobile">
  <div class="pci2-flex-column  pci2-article-left-div">
    <i>{{=articleDate}}</i>
    {{if pciRRactivated:}}
      <div class="pci-preprintTag">
        {{if isStage2:}}
          <span class="pci-preprintTagText">{{=T('STAGE 2')}}</span><br/>
          <b>(<a href="{{=stage1Url}}">{{=T('Go to stage 1')}}</a>)</b>
        {{else:}}
          <span class="pci-preprintTagText">{{=T('STAGE 1')}}</b></span>
        {{pass}}
      </div>
    {{pass}}
    <div
      class="pci2-flex-center pci2-flex-grow pci2-article-image-div"
      onclick="window.open('{{=articleUrl}}')">

      {{=articleImg}} 
      

      {{if articleImg == '':}}
      <img src="{{=URL('static', 'images/small-background.png')}}" alt="toto" />
      {{pass}}
    </div>


      
    {{if isAlreadyPublished:}}
    <div class="pci-preprintTag">
      <span class="pci-preprintTagText">{{=T('POSTPRINT')}}</span>
    </div>
    {{pass}}
  </div>
  <div class="pci2-flex-column ">
    <div class="pci2-flex-column">
      <h3>{{=articleTitle}}</h3>
      <span class="pci2-article-infos">{{=articleAuthor}}</span>
      <span class="pci2-article-infos">{{=articleDoi}}</span>
    </div>
    <div class="pci2-flex-column pci2-article-recommendation-div">
      <h4>{{=recommendationTitle}}</h4>
      <i>{{=T('Recommended by ')}} {{=recommendationAuthors}}</i>
      <span>{{=recommendationShortText}}</span>
      <div>
        <a
          href="{{=articleUrl}}"
          class="btn btn-success pci-public pci-smallBtn"
        >
          {{=current.T('More')}}
        </a>
      </div>
    </div>
  </div>
</div>
