<div class="pci2-flex-column pci2-article-row pci2-article-row-short {{=printableClass}}" id="article-{{=articleId}}">
  <div class="pci2-flex-row pci2-flex-column-mobile">
    <div
      class="pci2-flex-column  pci2-article-left-div pci2-article-left-div-short">
      {{if pciRRactivated:}}
      <span class="pci2-article-infos" style="margin-top: 10px;">{{=articleStage}}</span>
      {{pass}}
      <div class="pci2-flex-column pci2-flex-center pci2-flex-grow pci2-article-image-div">

        {{=articleImg}} 
        {{if articleImg == '' :}}
          <img
            src="{{=URL('static', 'images/small-background.png')}}"
            alt="toto"
          />
        {{pass}}

      </div>
    </div>

    
    <div class="pci2-flex-row pci2-flex-center">
      <div class="pci2-flex-column pci2-flex-grow">
        
        <h3>{{=articleTitle}}</h3>
        <span class="pci2-article-infos">{{=articleAuthor}}</span>
        <span class="pci2-article-infos">{{=articleSource}}</span>
        <span class="pci2-article-infos">{{=articleDoi}}</span>
        <span class="pci2-article-infos">{{=articleVersion}}</span>
        {{if 'articleKeywords' in locals():}}
        <span class="pci2-article-infos">{{=articleKeywords}}</span>
        {{pass}}
      </div>
    </div>
  </div>
  
  {{if article_altmetric != '' and not printable:}}
    <div class="pci2-flex-end" style="margin-right: 10px;">
      {{=article_altmetric}}
    </div>
  {{pass}}

  {{if 'dataDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
      onclick="
        if( jQuery('#menu-1' ).hasClass('pci2-panel-closed')) { 
          jQuery('#menu-1').removeClass('pci2-panel-closed') 						
          jQuery('#icon-menu-1').removeClass('glyphicon-rotate') 
          jQuery('#icon-menu-1').addClass('glyphicon-rotate-reversed') 
        } else {
          jQuery('#menu-1').addClass('pci2-panel-closed') 						
          jQuery('#icon-menu-1').removeClass('glyphicon-rotate-reversed') 
          jQuery('#icon-menu-1').addClass('glyphicon-rotate')
        }
      "
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Data used for results</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'dataDoi' in locals() and not printable:}}
      <i id="icon-menu-1" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>

  {{if 'dataDoi' in locals() and not printable:}}
    <div id="menu-1" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=dataDoi}}
    </div>
  {{pass}}

  {{if 'dataDoi' in locals() and printable:}}
    <div id="menu-1" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=dataDoi}}
    </div>
  {{pass}}
{{pass}}


{{if 'codeDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
      onclick="
        if( jQuery('#menu-2' ).hasClass('pci2-panel-closed')) { 
          jQuery('#menu-2').removeClass('pci2-panel-closed') 						
          jQuery('#icon-menu-2').removeClass('glyphicon-rotate') 
          jQuery('#icon-menu-2').addClass('glyphicon-rotate-reversed') 
        } else {
          jQuery('#menu-2').addClass('pci2-panel-closed') 						
          jQuery('#icon-menu-2').removeClass('glyphicon-rotate-reversed') 
          jQuery('#icon-menu-2').addClass('glyphicon-rotate')
        }
      "
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Codes used in this study</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'codeDoi' in locals() and not printable:}}
      <i id="icon-menu-2" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'codeDoi' in locals() and not printable:}}
    <div id="menu-2" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=codeDoi}}
    </div>
  {{pass}}

  {{if 'codeDoi' in locals() and printable:}}
    <div id="menu-2" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=codeDoi}}
    </div>
  {{pass}}
{{pass}}


{{if 'scriptDoi' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
      onclick="
        if( jQuery('#menu-3' ).hasClass('pci2-panel-closed')) { 
          jQuery('#menu-3').removeClass('pci2-panel-closed') 						
          jQuery('#icon-menu-3').removeClass('glyphicon-rotate') 
          jQuery('#icon-menu-3').addClass('glyphicon-rotate-reversed') 
        } else {
          jQuery('#menu-3').addClass('pci2-panel-closed') 						
          jQuery('#icon-menu-3').removeClass('glyphicon-rotate-reversed') 
          jQuery('#icon-menu-3').addClass('glyphicon-rotate')
        }
      "
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Scripts used to obtain or analyze results</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'scriptDoi' in locals() and not printable:}}
      <i id="icon-menu-3" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'scriptDoi' in locals() and not printable:}}
    <div id="menu-3" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=scriptDoi}}
    </div>
  {{pass}}

  {{if 'scriptDoi' in locals() and printable:}}
    <div id="menu-3" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=scriptDoi}}
    </div>
  {{pass}}
{{pass}}


  {{if 'coverLetter' in locals():}}
    <div    
      style="margin:  15px 0 0px;"
      {{if not printable:}}
        onclick="
          if( jQuery('#menu-4' ).hasClass('pci2-panel-closed')) { 
            jQuery('#menu-4').removeClass('pci2-panel-closed') 						
            jQuery('#icon-menu-4').removeClass('glyphicon-rotate') 
            jQuery('#icon-menu-4').addClass('glyphicon-rotate-reversed') 
          } else {
            jQuery('#menu-4').addClass('pci2-panel-closed') 						
            jQuery('#icon-menu-4').removeClass('glyphicon-rotate-reversed') 
            jQuery('#icon-menu-4').addClass('glyphicon-rotate')
          }
        "
        class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
      {{else:}}
        class="pci2-flex-row pci2-flex-center"   
      {{pass}}
    >
      <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
        >Cover letter</b
      >
      <hr
        style="margin: 0 10px;"
        class="pci2-main-color-hr pci2-flex-grow"
      />

      {{if 'coverLetter' in locals() and not printable:}}
        <i id="icon-menu-4" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
      {{pass}}
    </div>


    {{if 'coverLetter' in locals() and not printable:}}
      <div id="menu-4" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
        {{=coverLetter}}
      </div>
    {{pass}}

    {{if 'coverLetter' in locals() and printable:}}
      <div id="menu-4" class="pci2-abstract-div" style="margin-top: 15px;">
        {{=coverLetter}}
      </div>
    {{pass}}
  {{pass}}

  

{{if 'articleAbstract' in locals():}}
  <div
    style="margin:  15px 0 0px;"
    {{if not printable:}}
      onclick="
        if( jQuery('#menu-5' ).hasClass('pci2-panel-closed')) { 
          jQuery('#menu-5').removeClass('pci2-panel-closed') 						
          jQuery('#icon-menu-5').removeClass('glyphicon-rotate') 
          jQuery('#icon-menu-5').addClass('glyphicon-rotate-reversed') 
        } else {
          jQuery('#menu-5').addClass('pci2-panel-closed') 						
          jQuery('#icon-menu-5').removeClass('glyphicon-rotate-reversed') 
          jQuery('#icon-menu-5').addClass('glyphicon-rotate')
        }
      "
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Abstract</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />
    {{if not printable:}}
      <i id="icon-menu-5" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate"></i>
    {{pass}}
  </div>

  {{if not printable:}}
    <div id="menu-5" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=articleAbstract}}
    </div>
  {{else:}}
    <div id="menu-5" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=articleAbstract}}
    </div>
  {{pass}}

{{pass}}


{{if 'suggestReviewers' in locals():}}
  <div    
    style="margin:  15px 0 0px;"
    {{if not printable:}}
      onclick="
        if( jQuery('#menu-6' ).hasClass('pci2-panel-closed')) { 
          jQuery('#menu-6').removeClass('pci2-panel-closed') 						
          jQuery('#icon-menu-6').removeClass('glyphicon-rotate') 
          jQuery('#icon-menu-6').addClass('glyphicon-rotate-reversed') 
        } else {
          jQuery('#menu-6').addClass('pci2-panel-closed') 						
          jQuery('#icon-menu-6').removeClass('glyphicon-rotate-reversed') 
          jQuery('#icon-menu-6').addClass('glyphicon-rotate')
        }
      "
      class="pci2-flex-row pci2-flex-center pci2-hover-main-color"
    {{else:}}
      class="pci2-flex-row pci2-flex-center"   
    {{pass}}
  >
    <b style="margin: 0;" {{if printable:}} class="pci2-main-color-text" {{pass}}
      >Suggested Reviewers</b
    >
    <hr
      style="margin: 0 10px;"
      class="pci2-main-color-hr pci2-flex-grow"
    />

    {{if 'suggestReviewers' in locals() and not printable:}}
      <i id="icon-menu-6" class="glyphicon glyphicon-chevron-up pci2-icon-rotating glyphicon-rotate pci2-main-color-text"></i>
    {{pass}}
  </div>


  {{if 'suggestReviewers' in locals() and not printable:}}
    <div id="menu-6" class="pci2-abstract-div pci2-panel-closed" style="margin-top: 15px;">
      {{=suggestReviewers}}
    </div>
  {{pass}}

  {{if 'suggestReviewers' in locals() and printable:}}
    <div id="menu-6" class="pci2-abstract-div" style="margin-top: 15px;">
      {{=suggestReviewers}}
    </div>
  {{pass}}
{{pass}}
</div>

{{if 'submittedBy' in locals():}}
  {{=DIV(submittedBy, _style="margin-bottom: 20px")}}
{{pass}}

