<div class="pci2-comment-tree-div">
  {{=commentsTree}}
</div>

{{if isLoggedIn:}}
  {{=commentForm.custom.begin}}
    <div id="comments-form-anchor" class="pci2-comment-form">
    
        {{if commentForm.custom.widget.parent_id:}}
          <div class="pci2-flex-row pci2-comment-form-replyto-label">
            <b>Reply to : </b>
            <i>                
              {{=commentForm.custom.widget.parent_id}}
            </i>
          </div>
        {{pass}}
        
      <div>
        <b>Leave a comment :</b>
        {{=commentForm.custom.widget.user_comment}}
      </div>
    
      <div class="pci2-full-width pci2-flex-row pci2-justify-end">
        <button type="submit" class="btn btn-success">
          Submit  
        </button>
      </div>  
    
    </div>
  {{=commentForm.custom.end}}
{{pass}}

{{if scrollToCommentForm == True:}}
  <script>
      $(document).ready(function () {
        // Handler for .ready() called.
        $('html, body').animate({
          scrollTop: ($('#comments-form-anchor').offset().top)
        }, 'slow');
      });
  </script>
{{pass}}