<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirm changes</h4>
        </div>
        <div class="modal-body">
          You have not updated the version number indicated in the box entitled <b>“Most recent version of the manuscript (e.g. 1)"</b>.
	  <br>
	  <br>
	  If it is not an oversight (i.e. if this resubmission is not associated with a new version of your preprint),
	  you can click on the <b>“SUBMIT”</b> button.
	  <br>
	  <br>
	  If it is an oversight, please click on
	  <b style="text-transform: uppercase">“Go back to the submission form”</b>
	  and update the version number of your preprint. Thanks!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Go back to the submission form</button>
          <button type="button" class="btn btn-primary" id="bpt">Submit</button>
        </div>
      </div>
    </div>
  </div>
