<!-- divider to separate review rounds -->
{{if isLastRecomm == False and not printable :}}
<hr/>
{{pass}}

<!-- Indent more for each rounds -->
<div>

  {{if isLastRecomm == False :}}
    {{if printable:}}
      <div style="page-break-before: always"></div>
    {{pass}}

    <h2 class="pci2-revision-round-title"><i>Revision round <b class="pci2-main-color-text">#{{=roundNumber}}</b></i></h2>
    <span class="pci2-revision-round-date"><i>{{=lastChanges}}</i></span>
  {{pass}}

  
  {{if (authorsReply is not None) or (authorsReplyPdfLink is not None) or (authorsReplyTrackChangeFileLink is not None):}}
    <h4 class="pci2-round-review-sub-title">{{=T('Author\'s Reply')}}</h4>
    <div style="border-left: 1px solid #eee; padding: 5px 15px; margin-bottom: 25px;">
      {{if authorsReplyPdfLink is not None:}}
        {{=authorsReplyPdfLink}}
      {{pass}}

      {{if authorsReplyTrackChangeFileLink is not None:}}
        {{=authorsReplyTrackChangeFileLink}}
      {{pass}}

      {{if authorsReply is not None:}}
        {{=authorsReply}}
      {{pass}}
    </div>
  {{pass}}

  <!-- do not show round decision if this is the last decision (already shown in last_recommendation.html) -->
  {{if isLastRecomm == False :}}
    <div>
      <h4 class="pci2-recomm-text-label">{{=T('Decision round')}} #{{=roundNumber}}</h4>
      <div class="pci2-recomm-text">
        {{=recommendationText}}

        {{if recommendationPdfLink:}}
          {{=recommendationPdfLink}}
        {{pass}}
      </div>
    </div>
    <p>{{=preprintDoi}}</p>
  {{pass}} 

  {{for review in reviewsList:}}
    <h4 class="pci2-round-review-sub-title">{{=review['authorAndDate']}}</h4>
    
    <div style="border-left: 1px solid #eee; padding: 5px 15px; margin-bottom: 25px;">
      {{if review['text'] is not None:}}
        {{=review['text']}}
      {{pass}}
      
      {{if review['pdfLink'] is not None:}}
        {{=review['pdfLink']}}
      {{pass}}
    </div>
  {{pass}}

</div>
