
{{if 'statusTitle' in locals() and statusTitle:}}
<div id="pci-ArticleHeader">
{{=statusTitle}}
</div>
{{pass}}

{{if not printable:}}
  <div class="pci2-justify-center">
    <div style="max-width: 800px; width: 100%; margin-bottom: 35px;" class="pci2-flex-row">
  	  {{if 'allowEditArticle' in locals() and allowEditArticle is True:}}    
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px" 
        href="{{=URL(c='user', f='edit_my_article', vars=dict(articleId=articleId))}}"
      >
  			<i class="glyphicon glyphicon-edit"></i>
  		  {{=T('Edit article')}} 
  	  </a>
      {{pass}}
      
      {{if 'allowManageRequest' in locals() and allowManageRequest is True:}}    
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px"
        href="{{=URL(c='manager', f='edit_article', vars=dict(articleId=articleId))}}"
      >
  		  <i class="glyphicon glyphicon-edit"></i>
        {{=T('Edit article')}} 
      </a>
      {{pass}}
      
      {{if 'manageRecommenderButton' in locals() and manageRecommenderButton is not None:}}
        {{=manageRecommenderButton}}
      {{pass}}
    

      {{if 'allowManageRecomms' in locals() and allowManageRecomms is True:}}
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px"
        href="{{=URL(c='manager', f='manage_recommendations', vars=dict(articleId=articleId))}}"
      >
        <i class="glyphicon glyphicon-edit"></i>
        {{=T('Manage recommendation')}} 
      </a>
      {{pass}}


  	  <div class="pci2-flex-grow"></div>
    
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link-right" target="_blank"
        href="{{=printableUrl}}"
      >
  		  {{=T('Printable page')}}
  		  <i class="glyphicon glyphicon-print"></i>
  	  </a>
    
  	</div>
  </div>
{{pass}}