{{if roundNumber == 1:}}
    <div class="progress-step-div pci2-flex-row {{=submissionValidatedClassClass}}">
        <div class="progress-step-circle pci2-flex-center">
            <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="step-description">
            <h3>Validation by the managing board</h3>
            {{if submissionValidatedClassClass == "step-done":}}
                <p><b>Submission <b style="color: #089108">validated</b></b></p>
                <p>Uploaded: <b>{{=uploadDate}}</b></p>
            {{else:}}
                <p>Pending...</p>
                <p>Uploaded: {{=uploadDate}}</p>
            {{pass}}
        </div>
    </div>

    <div class="progress-step-div pci2-flex-row {{=havingRecommenderClass}}">
        <div class="pci2-flex-center progress-step-circle">
            <i class="glyphicon glyphicon-education"></i>
        </div>
        <div class="step-description">
            <h3>Suggested recommenders</h3>
            <p>
                Invited : <b>{{=suggestedRecommendersCount}}</b>
                {{if havingRecommenderClass == "step-done":}}
                    <br/>
                    Recommender : <b><i>{{=A(recommenderName)}}</i></b>
                {{pass}}
            </p>
        </div>
    </div>
{{pass}}


{{if (roundNumber == 1) or (roundNumber > 1 and reviewCount > 0 and 
    (not recommendationStepClass == "step-done" or 
    (acceptedReviewCount >= 2 and completedReviewCount >= 2))
):}}
    <div class="progress-step-div pci2-flex-row {{=reviewInvitationsAcceptedClass}}">
        <div class="pci2-flex-center progress-step-circle">
            <i class="glyphicon glyphicon-envelope"></i>
        </div>
        <div class="step-description">
            <h3><b style="color: #333">Round {{=roundNumber}} : </b> Reviewers</h3>
            <p>
                Invited : <b>{{=reviewCount}}</b> <br/>
                Agreed : <b>{{=acceptedReviewCount}}</b> <br/>
                {{if recommDate:}}
                    Date : <b>{{=recommDate}}</b>
                {{pass}}
            </p>
        </div>
    </div>

    <div class="progress-step-div pci2-flex-row {{=reviewsStepDoneClass}}">
        <div class="pci2-flex-center progress-step-circle">
            <i class="glyphicon glyphicon-eye-open"></i>
        </div>
        <div class="step-description">
            <h3><b style="color: #333">Round {{=roundNumber}} : </b>Reviews underway</h3>
            <p>
                Reviews completed : <b>{{=completedReviewCount}}</b> <br/>
                {{if lastReviewDate:}}
                    Date : <b>{{=lastReviewDate}}</b>
                {{pass}}
            </p>
        </div>
    </div>
{{pass}}

<div class="progress-step-div pci2-flex-row {{=recommendationStepClass}}">
    <div class="pci2-flex-center progress-step-circle">
        <i class="glyphicon glyphicon-edit"></i>
    </div>
    <div class="step-description">
        <h3><b style="color: #333">Round {{=roundNumber}} : </b>Decision by the recommender</h3>
        {{if recommendationStepClass == "step-done":}}
            <p>
                
                {{if recommStatus == "Recommended" and managerDecisionDoneClass == "step-done":}}
                    Decision : <b style="color: #089108">Recommended</b> <br/>
                {{elif recommStatus == "Revision" and managerDecisionDoneClass == "step-done":}}
                    Decision : <b style="color: #ffbf00">Awaiting revision</b> <br/>
                {{elif recommStatus == "Rejected" and managerDecisionDoneClass == "step-done":}}
                    Decision : <b style="color: #e61919">Rejected</b> <br/>
                {{else:}}
                    <b>Decision pending validation by the managing board</b> <br/>
                {{pass}}
                {{if recommDate:}}
                    Date : <b>{{=recommDate}}</b>
                {{pass}}
            </p>
        {{else:}}
            <p>
                Pending...
            </p>
        {{pass}}
    </div>
</div>

<div class="pci2-flex-row {{=managerDecisionDoneStepClass}} {{=managerDecisionDoneClass}}">
    <div class="pci2-flex-center progress-step-circle">
        <i class="glyphicon glyphicon-ok" ></i>
    </div>
    <div class="step-description">
        <h3><b style="color: #333">Round {{=roundNumber}} : </b>Validation of the decision by the managing board</h3>
        {{if managerDecisionDoneClass == "step-done":}}
            <p>
                <b style="color: #089108">Decision made</b>
            </p>
            {{if validationDate:}}
                Date : <b>{{=validationDate}}</b>
            {{pass}}
            {{if recommendationLink:}}
                <div class="pci2-flex-center">
                    <a class="buttontext btn btn-success" 
                        href="{{=recommendationLink}}"
                        >
                        {{=T('See public recommendation page')}}
                    </a>
                </div>
            {{pass}}
        {{else:}}
            <p>
                Pending...
            </p>
        {{pass}}
    </div>
</div>

{{if ((recommStatus == "Revision") and managerDecisionDoneClass == "step-done"):}}
    <div class="pci2-flex-row {{=authorsReplyClassStepClass}} {{=authorsReplyClass}}">
        <div class="pci2-flex-center progress-step-circle">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="step-description">
            <h3><b style="color: #333">Round {{=roundNumber}} : </b> Author's reply</h3>
            {{if authorsReplyClass == "step-done":}}
                <p>
                    <b>Your reply has been <b style="color: #089108">sent</b></b>
                </p>
            {{else:}}
                <p>The recommender is asking for revisions from the author</p>
            {{pass}}
            {{if authorsReplyDate:}}
                Date : <b>{{=authorsReplyDate}}</b>
            {{pass}}
        </div>
    </div>
{{pass}}
