<!-- divider to separate review rounds -->
{{if not printable and not nbRecomms == roundNumber:}}
<hr/>
{{pass}}

<div>

  {{if printable:}}
    <div style="page-break-before: always"></div>
  {{pass}}

  {{if scheduledSubmissionRevision:}}
  <b class="pci2-flex-center">Edit your report/report survey and then </b>
  <a style="font-size: 20px; height: 35px" class="buttontext btn btn-success pci2-flex-center pci2-full-width" href="{{=scheduledSubmissionRevision}}"> SEND REVISED SUBMISSION </a>
  {{else:}}
  <h2 class="pci2-revision-round-title">
    <i>Revision round <b class="pci2-main-color-text">#{{=roundNumber}}</b></i>
  </h2>
{{pass}}

  <!-- Authors Reply -->
  {{if (authorsReply is not None) or (authorsReplyPdfLink is not None) or (authorsReplyTrackChangeFileLink is not None) or (editAuthorsReplyLink is not None):}}
    {{if editAuthorsReplyLink is not None:}}
      {{if authorsReply is None and authorsReplyPdfLink is None:}}
        {{=T("First deposit the new version of your preprint on the preprint server")}}
            <div class="pci2-flex-column pci2-flex-center">

              <div class="pci2-flex-row pci2-full-width">
                <a class="buttontext btn btn-default pci2-flex-center"
                  style="flex: 1;" 
                  href="{{=URL(c="user", f="edit_my_article", vars=dict(articleId=articleId), user_signature=True)}}"
                >
                  {{=T('Update your article data')}}
                </a>

                <a {{if replyButtonDisabled:}}disabled{{pass}}
                  class="buttontext btn btn-info pci2-flex-center"
                  style="flex: 1;" 
                  {{if not replyButtonDisabled:}} href="{{=editAuthorsReplyLink}}" {{pass}}
                  >
                  {{=T('Write or upload your reply to the recommender')}}
                </a>
              </div>
              <b>
                and then
              </b>
              <a disabled style="font-size: 20px; height: 35px" class="buttontext btn btn-success pci2-flex-center pci2-full-width">
                SEND RESUBMISSION
              </a>
            </div>

          {{else:}}
            <!-- Edit article -->
            <div class="pci2-flex-column pci2-flex-center">

              <div class="pci2-flex-row pci2-full-width">
                <a class="buttontext btn btn-default pci2-flex-center" 
                  style="flex: 1;" 
                  href="{{=URL(c="user", f="edit_my_article", vars=dict(articleId=articleId), user_signature=True)}}"
                >
                  {{=T('Edit your article data')}}
                </a>

                <a class="buttontext btn btn-info pci2-flex-center"
                  style="flex: 1;"  
                  href="{{=editAuthorsReplyLink}}"
                >
                  {{=T('Edit your reply to the recommender')}}
                </a>
              </div>
              
              <b>
                and then
              </b>

              <a style="font-size: 20px; height: 35px" class="buttontext btn btn-success pci2-flex-center pci2-full-width"
                href="{{=URL(c="user_actions", f="article_revised", vars=dict(articleId=articleId), user_signature=True)}}"
              >
                SEND RESUBMISSION
              </a>
            </div>
        {{pass}}
      {{pass}}
      <h4 class="pci2-round-review-sub-title" id="author-reply">{{=T("Author's Reply")}}, {{=authorsReplyDate}}</h4>
      <div style="border-left: 1px solid #eee; padding: 5px 15px; margin-bottom: 25px;">

      {{if authorsReplyPdfLink is not None:}}
        {{=authorsReplyPdfLink}}
      {{pass}}

      {{if authorsReplyTrackChangeFileLink is not None:}}
        {{=authorsReplyTrackChangeFileLink}}
      {{pass}}

      {{if authorsReply is not None:}}
        {{=authorsReply}}
      {{pass}}
    </div>
  {{pass}}

  <!-- Decision or recommendation -->

  {{if recommendationText or editRecommendationLink:}}
    <div style="margin-top: 20px;" class="pci2-recomm-review-container">
      
      {{if recommendationLabel:}}
        {{if recommendationLabel == "Recommendation":}}
          <h4 class="pci2-recomm-text-label">
            {{=recommendationLabel}}
          </h4>
        {{else:}}
          <h4 class="pci2-recomm-text-label">
            {{=recommendationLabel}} {{=T('for round')}} #{{=roundNumber}}
            {{if recommendationStatus != "Ongoing":}}
            <span> :
              {{if recommendationStatus == "Recommended":}}<i style="color: #089108">Recommended</i>{{pass}}
              {{if recommendationStatus == "Revision":}}<i style="color: #ffbf00">Revision needed</i>{{pass}}
              {{if recommendationStatus == "Rejected":}}<i style="color: #e61919">Rejected</i>{{pass}}
            </span>
            {{pass}}
          </h4>
        {{pass}}
     {{pass}}
     
      <div class="pci2-recomm-text">
        {{=recommendationTitle}}

        <hr/>

        {{=recommendationText}}

        {{if editRecommendationLink:}}
        <div class="pci2-flex-column pci2-flex-center pci2-full-width">
          
            {{if editRecommendationDisabled and not isScheduledSubmission:}}
              <i style="font-size: 12px;">{{=T('Write your decision or recommendation once all reviews are completed. At least two reviews are required.')}}</i>
            {{pass}}

            {{if editRecommendationDisabled and isScheduledSubmission:}}
              <i style="font-size: 12px;">{{=T('Write your decision or recommendation once the full manuscript is submitted by the author.')}}</i>
            {{pass}}

            <a class="buttontext btn btn-default {{if editRecommendationDisabled:}}disabled{{pass}}" 
              href="{{=editRecommendationLink}}"
            >
              {{=editRecommendationButtonText}}
            </a>
          </div>
        {{pass}}

        {{if recommendationPdfLink:}}
          {{=recommendationPdfLink}}
        {{pass}}
      </div>
    </div>
  {{pass}}

  {{if scheduledSubmissionEndingButton:}}
  <div style="margin-top: 20px;">
    <div style="padding: 15px; margin: 10px 0;">
      <div class="pci2-flex-column pci2-flex-center pci2-full-width">
        <i>{{=T('The full Stage 1 manuscript has now been submitted by the authors and validated by the Managing Board. By clicking this button, the invited reviewers will be informed that they can upload their reviews. You can issue this alert prior to the commencement of the scheduled review period.')}}</i>
        <a class="buttontext btn btn-info" 
            href="{{=URL(c='recommender_actions', f='do_end_scheduled_submission', vars=dict(articleId=articleId), user_signature=True)}}"
          >
            {{=T('Open submission to reviewers')}}
          </a>
      </div>
    </div>
  </div>
  {{pass}}

  {{=recommendationAuthor}}
  <br/>
  {{=manuscriptDoi}}
  <br/>
  {{=recommendationVersion}}
  
  <div class="pci2-flex-row pci2-flex-center pci2-full-width" style="margin-top: 20px">
    {{if inviteReviewerLink:}}
      <a
        {{if isArticleSubmitter:}}
          disabled
        {{else:}}
          href="{{=inviteReviewerLink}}"
        {{pass}}
        class="buttontext btn btn-success"  
      >
        {{=T('Invite a reviewer')}}
      </a>
    {{pass}}

    {{if showSearchingForReviewersButton:}}
      <a id="preprint-btn"
        {{if isArticleSubmitter:}}
          disabled
        {{else:}}
          href="{{=URL(c='recommender_actions', f='make_preprint_searching_for_reviewers', vars=dict(recommId=recommId))}}"
        {{pass}}
        class="buttontext btn btn-default"  
      >
        {{=T('Put preprint in the "In need of reviewers" list')}}
      </a>
    {{pass}}
    
    {{if showRemoveSearchingForReviewersButton:}}
      <a id="remove-preprint-btn"
        {{if isArticleSubmitter:}}
          disabled
        {{else:}}
          href="{{=URL(c='recommender_actions', f='make_preprint_not_searching_for_reviewers', vars=dict(recommId=recommId))}}"
        {{pass}}
        class="buttontext btn btn-warning"  
      >
        {{=T('Remove preprint from the "In need of reviewers" list ')}}
      </a>
    {{pass}}
  </div>


  <!-- Round reviews -->
  {{for review in reviewsList:}}
    <div>  
      {{if review['authors'] and not review['showReviewRequest']:}}
        <h4 class="pci2-round-review-sub-title">{{=T('Review by ')}}{{=review['authors']}}</h4>
      {{pass}}

      {{if review['showReviewRequest']:}}
        <h4 class="pci2-round-review-sub-title">{{=T('Review by ')}}{{=review['authors']}}</h4>
      {{pass}}
      
      <!-- Review invitation buttons -->  
      {{if review['showInvitationButtons']:}}
        <h3 class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center" style="margin-top: 25px;">
          <i class="glyphicon glyphicon-envelope" style="margin-right: 10px;"></i>
          {{= T('Review invitation')}}
        </h3>
        <div class="pci2-flex-row pci2-flex-center pci2-full-width pci-opinionform" style="margin: 10px 0;">
          <a class="buttontext btn btn-success" 
            href="{{=URL(c='default', f='invitation_to_review',  vars=dict(reviewId=review['id']))}}"
          >
            {{=T('Yes, I would like to review this preprint')}}
          </a>
          <a class="buttontext btn btn-warning" 
            href="{{=URL(c='user_actions', f='decline_new_review',  vars=dict(reviewId=review['id']))}}"
          >
            {{=T('No thanks, I\'d rather not')}}
          </a>
        </div>
      {{pass}}

      <!-- Accept request to review article invitation buttons -->  
      {{if review['showReviewRequest']:}}
        <div class="pci2-flex-row pci2-flex-center pci2-full-width pci-opinionform" style="margin: 10px 0;">
          <a class="buttontext btn btn-success" 
            href="{{=review["acceptReviewRequestLink"]}}"
          >
            {{=T('Yes, I accept this review request')}}
          </a>
          <a class="buttontext btn btn-warning" 
            href="{{=review["rejectReviewRequestLink"]}}"
          >
            {{=T('No thanks, I\'d rather not')}}
          </a>
        </div>
      {{pass}}

      <!-- Review invitation buttons -->  
      {{if review['showPendingAskForReview']:}}
        <h3 class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center" style="margin-top: 25px;">
          <i class="glyphicon glyphicon-envelope" style="margin-right: 10px;"></i>
          {{= T('Request to review this article')}}
        </h3>
        <div class="pci2-flex-row pci2-flex-center pci2-full-width pci-opinionform" style="margin: 10px 0;">
          {{if review['declinedByRecommender']:}}
            <b style="margin:15px">{{=T('Your request has been declined by the recommender.')}}</b>
          {{else:}}
            <b style="margin:15px">{{=T('Waiting for recommender acceptation...')}}</b>
          {{pass}}
        </div>
      {{pass}}

      <!-- Review text -->  
      {{if (review['text'] is not None) or (review['pdfLink'] is not None) or (review['showEditButtons']):}}
        <div style="border-left: 1px solid #eee; padding: 5px 15px; margin-bottom: 25px;">
          {{if review['text']:}}
            {{=review['text']}}
          {{pass}}

          {{if review['state'] == 'Awaiting review':}}
            <div class="unfinished-label">
              In progress, not completed yet.
            </div>
          {{pass}}

          {{if review['pdfLink'] is not None:}}
            {{=review['pdfLink']}}
          {{pass}}

          <!-- Review edit button -->  
          {{if review['showEditButtons']:}}
            <div class="pci2-flex-column pci2-flex-center pci2-full-width" style="margin: 20px 0;">
              <a class="buttontext btn btn-default {{if isScheduledReviewOpen:}} disabled {{pass}}"
                href="{{=URL(c='user', f='edit_review', vars=dict(reviewId=review['id']))}}"
                style="margin-bottom: 5px;"
              >
                {{=T('Write, edit or upload your review')}}
              </a>
              {{if isScheduledReviewOpen:}}
                <p>
                  {{=T("You will be able to upload your review as soon as the author submit his preprint.")}}
                </p>
              {{pass}}
            </div>
          {{pass}}
        </div>
      {{pass}}
    </div>
  {{pass}}

</div>
