
{{if 'statusTitle' in locals() and statusTitle:}}
<div id="pci-ArticleHeader">
{{=statusTitle}}
</div>
{{pass}}

{{if not printable:}}
  <div class="pci2-justify-center">
    <div style="max-width: 800px; width: 100%;" class="pci2-flex-row">
  	  {{if 'allowEditArticle' in locals() and allowEditArticle is True:}}    
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px" 
        href="{{=URL(c='user', f='edit_my_article', vars=dict(articleId=articleId))}}"
      >
  			<i class="glyphicon glyphicon-edit"></i>
  		  {{=T('Edit article')}} 
      </a>
        {{if 'pciRRactivated' in locals() and pciRRactivated is True:}}
          <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px" 
            href="{{=URL(c='user', f='edit_report_survey', vars=dict(articleId=articleId))}}"
          >
  		    	<i class="glyphicon glyphicon-edit"></i>
  		      {{=T('Edit report survey')}} 
  	      </a>
        {{pass}}
      {{pass}}
      
      
      {{if 'allowManageRequest' in locals() and allowManageRequest is True:}}    
        <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px"
          href="{{=URL(c='manager', f='edit_article', vars=dict(articleId=articleId))}}"
        >
  		    <i class="glyphicon glyphicon-edit"></i>
          {{=T('Edit article')}} 
        </a>
        {{if 'pciRRactivated' in locals() and pciRRactivated is True:}}
          <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px" 
            href="{{=URL(c='manager', f='edit_report_survey', vars=dict(articleId=articleId))}}"
          >
  		    	<i class="glyphicon glyphicon-edit"></i>
  		      {{=T('Edit report survey')}} 
  	      </a>
        {{pass}}
      {{pass}}

      {{if 'pciRRactivated' in locals() and pciRRactivated is True and 'recommenderSurveyButton' in locals() and recommenderSurveyButton:}}
        <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px" 
          href="{{=URL(c='recommender', f='show_report_survey', vars=dict(articleId=articleId))}}"
        >
  		  	<i class="glyphicon glyphicon-edit"></i>
  		    {{=T('Show report survey')}} 
  	    </a>
      {{pass}}
      
      {{if 'manageRecommendersButton' in locals() and manageRecommendersButton is not None:}}
        {{=manageRecommendersButton}}
      {{pass}}
    

      {{if 'allowManageRecomms' in locals() and allowManageRecomms is True:}}
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link pci2-yellow-link" style="margin-right: 25px"
        href="{{=URL(c='manager', f='manage_recommendations', vars=dict(articleId=articleId))}}"
      >
        <i class="glyphicon glyphicon-edit"></i>
        {{=T('Manage recommendation')}} 
      </a>
      {{pass}}


  	  <div class="pci2-flex-grow"></div>

      {{if 'verifyUrl' in locals() and printableUrl is not None and verifyUrl is not None:}}
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link-right pci2-yellow-link" style="margin-right: 25px"
        href="{{=verifyUrl}}"
      >
        <i class="glyphicon glyphicon-ok-sign"></i>
  		  {{=T('Check co-authorship')}}
      </a>
      {{pass}}
      
      {{if 'printableUrl' in locals() and printableUrl is not None:}}
      <a class="pci2-flex-row pci2-align-items-center pci2-tool-link-right pci2-yellow-link"
        href="{{=printableUrl}}"
      >
  		  {{=T('View e-mails')}}
  		  <i class="glyphicon glyphicon-envelope"></i>
      </a>
      {{pass}}
    
  	</div>
  </div>
{{pass}}
