<div>
  {{=userAvatar}}
</div>

{{=H2(userName, _class="pci2-main-color-text text-center")}}

<div class="pci2-full-width">
  {{=userInfosList}}
</div>

<div class="pci2-user-stats-div">
  <h4
    class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center"
    style="margin-bottom: 10px;"
  >
    <i class="glyphicon glyphicon-education" style="margin-right: 10px;"></i>
    <span class="pci2-flex-grow">
      {{=T(" %%{Recommendation(nbRecomms)}: ", dict(nbRecomms=nbRecomms))}}
    </span>
    <b class="pci2-main-color-text">&nbsp;{{=nbRecomms}}</b>
  </h4>

  <h4
    class="pci2-recomm-article-h2 pci2-flex-grow pci2-flex-row pci2-align-items-center"
    style="margin-bottom: 10px;"
  >
    <i class="glyphicon glyphicon-eye-open" style="margin-right: 10px;"></i>
    <span class="pci2-flex-grow">
      {{=T(" %%{Review(nbReviews)}: ", dict(nbReviews=nbReviews))}}
    </span>
    <b class="pci2-main-color-text">&nbsp;{{=nbReviews}}</b>
  </h4>

  
   
</div>

{{if userCv:}}
<div class="pci2-user-cv-div">
  <b class="pci2-user-cv-label">{{=T("Areas of expertise")}}</b>
  {{=DIV((userCv), _class='pci2-user-cv')}}
</div>
{{pass}}
