<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="{{=URL('static','images/favicon.png')}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}" />
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}" />

    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/pci.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/pci-gab.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/pci-gab-common.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/navbar.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/page-title.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/recommendations.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/buttons.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/thematic-search.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/user-public-profile.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/components/web2py-forms.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/pci-timo.css')}}"/>
  
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <![endif]-->
    
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    <script src="{{=URL('static','js/jquery.cookie.js')}}"></script>

    <!-- MathJax -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"></script>

    <!-- TinyMCE -->
    <script src="{{=URL('static','js/tinymce/tinymce.min.js')}}" referrerpolicy="origin"></script>

    <!-- TinyMCE MathJax plugin-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" src="{{=URL('static','js/tinymce-mathjax/plugin.min.js')}}"></script>

    
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use.
    # Gabriel, I tinkered with this setup as you can see below;
    # Please feel free to correct the way the parameters are 
    # created, but please leave the settings as they are
    # (left sidebar enabled && right disabled && middle column is mc1)
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = False # globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]

    
    }}

  </head>
  <body>
    {{if request.controller == 'about' or request.function == 'index' or request.controller == 'help' or request.controller == 'articles':}}
    {{right_sidebar_enabled = True}}
    {{middle_column = mc1}}
    {{else:}}
    {{right_sidebar_enabled = False}}
    {{middle_column = mc0}}
    {{pass}}
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    {{if session.flash_status != 'warning': }}
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    {{pass}}
    {{if session.flash_status == 'warning': }}
    <div class="w2p_flash alert alert-dismissable pci-warning-alert">{{=response.flash or ''}}</div>
    {{pass}}

    <!-- Navbar ======================================= -->
    <nav class="navbar">
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{=response.logo or ''}}
      </div>

      <div class="main-logo">
        <a href="{{=URL(c='default', f='index')}}">
          <img src="{{=URL('static','images/pci-logo.svg')}}" id="pci-logo">
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav', li_class='dropdown', ul_class='dropdown-menu')}}
        {{pass}}
        {{if response.help_about_menu:}}
          {{=MENU(response.help_about_menu, _class='nav navbar-nav bam', li_class='dropdown', ul_class='dropdown-menu')}}
        {{pass}}
      </div>
  
    </nav>  

    <!-- Masthead ===================================== -->
    {{block header}}
    {{if request.function == 'index':}}
        <header id='pci-home-header'>
          <span>
            <img src="{{=URL(c='static', f='images/background.png')}}">
            {{if 'smallSearch' in locals():}}
              <div class="pci-smallSearchDiv">{{=smallSearch}}</div>
            {{pass}}
          </span>
        </header>
      {{pass}}
    {{end}}
    <!-- Main ========================================= -->

    <!-- Page Title -->
    {{if 'pageTitle' in locals() and response.view != 'default/index.html':}} 
      {{include 'snippets/page_title.html'}}   
    {{pass}}
    <!-- Begin page content -->

    {{if request.function == 'index':}}
      <div class="container-fluid main-container flex-container row" id="main-content">
    {{else:}}
      <div class="container-fluid main-container flex-container row top-pad" id="main-content">
    {{pass}}

    {{if left_sidebar_enabled and False:}}
      <div class="col-md-3 left-sidebar">
          {{block left_sidebar}}
            {{if auth.user:}}
            <div class="side-button-bar">
              <a href="{{=URL(c='default', f='user', args=['logout'])}}" class="btn btn-default" id="cyp-logout-button">
                {{=T('Log out')}}
              </a>
            </div>
            {{else:}}
            <div class="side-button-bar">
              <a href="{{=URL(c='default', f='user', args=['login'])}}" class="btn btn-default" id="cyp-login-button">
                {{=T('Log in')}}
              </a>
              <label>{{=T(' or ')}}</label>
              <a href="{{=URL(c='default', f='user', args=['register'])}}" class="btn btn-info btn-standard">
                {{=T('Register')}}
              </a>
            </div>
            {{pass}}
            {{include 'snippets/footer.html'}}
          {{end}}
      </div>
    {{pass}}

    <div class="{{=middle_column}}">

      {{block center}}
      {{include}}
      {{end}}
    </div>

    {{if right_sidebar_enabled:}}
    <div class="col-md-3 left-sidebar">
      {{block left_sidebar}}
        {{if auth.user:}}
        <div class="side-button-bar">
          <a href="{{=URL('user', 'new_submission')}}" class="btn pci-public btn-success">
            {{=T("Submit a preprint")}}
          </a>
        </div>
        {{else:}}
        <div class="side-button-bar">
          <a href="{{=URL(c='default', f='user', args=['login'])}}" class="btn btn-default" id="cyp-login-button">
            {{=T('Log in')}}
          </a>
          <label>{{=T(' or ')}}</label>
          <a href="{{=URL(c='default', f='user', args=['register'])}}" class="btn btn-info btn-standard">
            {{=T('Register')}}
          </a>
          <br>
          <a href="{{=URL('user', 'new_submission')}}" class="btn pci-public btn-success">
            {{=T("Submit a preprint")}}
          </a>
        </div>
        {{pass}}
      {{include 'snippets/footer.html'}}
      {{end}}
    </div>
    {{pass}}

    <!-- end div #main-content -->
    </div>

    <!-- Bootstrap and web2py javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}} {{end page_js}}
 	  <script>$('.web2py_paginator').clone().insertBefore($('.web2py_table'));</script>

	
    <!-- other scripts ======================================== -->
    {{if 'script' in globals():}}
		{{=script}}
		{{pass}}
	
    <!-- The footer =============================== -->
    <footer class="footer span12 flex-container" id="footer">
	  	<div class="footer-content">
      {{include 'snippets/footer.html'}}
        <!--
			{{block footer}}
	  		{{if response.footer_menu:}}
	  			{{=MENU(response.footer_menu, _class='pci-footer', ul_class='pci-footer-ul', li_class='pci-footer-li', li_first='pci-footer-li', li_last='pci-footer-li')}}
	  		{{pass}}
	  		  {{=getText(request, auth, db, '#Footer')}}
	  		{{end}}
        -->
	  	</div>
    </footer>
  
    <!-- Share page on social media link =============================== -->
    {{if 'shareable' in globals() and 'pciRRactivated' in globals() and not pciRRactivated:}}
      {{include 'snippets/social_links.html'}}   
    {{pass}}


    <!-- Put footer to the bottom of the page -->
    <script type="text/javascript">
      var header_height = 0;
      var nav_height = document.querySelector('nav').offsetHeight;
      var footer_height = document.getElementById("footer").offsetHeight;
      var small_header_height = 0;

      if(document.getElementById("pci-small-header")) {
        small_header_height = document.getElementById("pci-small-header").offsetHeight;
      }
      if(document.getElementById("pci-home-header")) {
        header_height = document.getElementById("pci-home-header").offsetHeight;
      }
      var margin_content = footer_height + 16 + small_header_height + header_height + 103 - parseInt(nav_height) - 10;
      var footer_height = document.getElementById("main-content").setAttribute('style', 'min-height: calc(100vh - ' + margin_content + 'px)');
    </script>

    <script type="text/javascript">
      if(document.getElementById('delete_record')){
        document.getElementById('delete_record').insertAdjacentHTML('afterend','<i class="glyphicon glyphicon-trash">')
      }
    </script>
    
    <script type="text/javascript">
      $('.navbar-nav .dropdown-toggle').click(function(e) {
        if ($(document).width() > 768) {
          e.preventDefault();
        
          var url = $(this).attr('href');
        
          if (url !== '#') {  
            window.location.href = url;
          }
        }
      });    
    </script>
    <script type="text/javascript" src="{{=URL('static','js/scripts_base.js')}}"></script>
<!--     <script>$('.btn').tooltip({show: {effect:"none", delay:0}});</script> -->
	</body>
</html>
