


.pci2-content-900px{
    max-width: 900px; width: 100%;
}

.pci2-full-width {
    width: 100%;
}

/* flex helper */

.pci2-flex-row {
    display: flex;
    flex-direction: row;
}

.pci2-flex-column {
    display: flex;
    flex-direction: column;
}

.pci2-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pci2-align-items-start{ 
    display: flex; 
    align-items: flex-start;
}

.pci2-align-items-center{ 
    display: flex; 
    align-items: center;
}

.pci2-align-items-end{ 
    display: flex; 
    align-items: flex-end;
}

.pci2-justify-center {
    display: flex; 
    justify-content: center;
}

.pci2-justify-end {
    display: flex; 
    justify-content: flex-end;
}

.pci2-flex-grow {
    display: flex;
    flex-grow: 1;
}

.pci2-show-under-tablet {
    display: none;
}

@media screen and (max-width: 960px) {
    .pci2-column-under-tablet {
        flex-direction: column;
    }

    .pci2-show-under-tablet {
        display: flex;
    }

    .pci2-hide-under-tablet {
        display: none;
    }

    .pci2-center-under-tablet {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .pci2-align-items-center-under-tablet{
        justify-content: center;
        align-items: center;
    }
}