@media only screen and (min-width: 320px) {
    /* For mobile phones: */
    html {
        font-size: 10px;
        hyphens: auto;
    }

    #myNavbar {
        position: absolute;
        background-color: white;
        z-index: 1;
        width: 100%;
        padding-left: 2rem!important;
        padding-top: 2rem!important;
        height: 100vh!important;
    }

    .navbar {
        position: fixed;
        z-index: 1;
        background-color: white;
        border-bottom: .1rem solid #d5d2d2;
        width: 100%;
    }

    .navbar-toggle {
        float: left;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .btn-default:hover {
        background-color: inherit;
    }
    
    .pci2-thematics-button,
    .pci2-thematics-button:hover {
        background-color: rgba(0,150,190);
        border-radius: 0;
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        box-shadow: unset;
        -webkit-box-shadow: unset;
    }

    .btn-default:active, .btn-default.active,
    .open > .dropdown-toggle.btn-default,
    .btn-default:focus, .btn-default.focus {
        background-color: rgba(0,150,190);
    }


    .navbar-header > .btn-default:active,
    .navbar-header > .btn-default:hover,
    .navbar-header > .btn-default:focus {
        background-color: transparent!important;
    }
    
    #pci-logo {
        width: 80%;
        max-width: 25rem;
        padding: 1rem;
        position: absolute;
        left: 6rem;
        padding-left: 0;
        z-index: 2;
    }

    #pci-burger {
        width: 2rem;
    }

    .navbar .nav > li > a {
        font-size: 1.5rem;
        font-weight: 800;
        color: #3e3f3a;
    }

    .navbar .nav > li > a:hover {
        color: #0096be;
        background-color: unset;
    }

    .navbar .nav > li > .pci-public:hover {
        background-color: #0096be;
    }

    .pci-AdminReviewsSynthesis {
        margin-top: 5rem;
    }

    .web2py_grid {
        margin-top: 7rem;
    }

    .logout-btn-alt {
        float: right;
        height: 0;
        position: relative;
        z-index: 1;
        margin-top: 6rem;
    }

    .btn-success:hover {
        background-color: #0096be;
        color: black;
    }

    #articles-nav,
    #about-nav,
    #help-nav {
        padding-bottom: 2rem;
    }

    .main-container {
        margin-top: 1rem;
    }

    #articles-nav ul,
    #about-nav ul,
    #help-nav ul {
        list-style-type: none;
    }

    #main-content {
        width: 100%;
    }

    #articles-nav ul a,
    #about-nav ul a,
    #help-nav ul a {
        color: rgb(62, 63, 58);
        font-family: 'Open Sans', sans-serif;
    }

    .hr-nav {
        border-top: .1rem solid #938e8e;
        margin: .5rem 1rem;
    }

    .navbar-nav {
        margin-top: 0;
    }

    .fade-transparent-text {
        max-height: 4rem;
    }

    .bam {
        width: auto;
    }

    .navbar .bam > li:nth-of-type(1),
    .navbar .bam > li:nth-of-type(2) {
        display: none;
    }

    #cyp-login-button,
    #cyp-logout-button,
    #submit_record__row .btn,
    .pci2-full-width .btn {
        color: white;
        background-color: rgba(0,150,190);
        width: auto;
        border-radius: 0;
        margin: 1.5rem .5rem 1.5rem 1rem;
        text-align: left;
    }

    #cyp-login-button,
    #cyp-logout-button {
        width: 8rem;
    }

    .pci-infotext {
        text-align: left;
    }

    .pci-infotext h4,
    .pci-infotext ul {
        line-height: 1.6;
        font-size: 1.5rem;
    }

    #pci-home-header img {
        max-width: 100%;
    }

    /*.pci2-flex-center {
        margin-left: .5rem;
        width: 94%;
        align-items: baseline;
    }*/

    /*.progress-step-div .pci2-flex-center {
        width: 7.5rem;
        margin-left: -4rem;
        align-items: center;
    }

    .pci2-articles-list .pci2-flex-center {
        width: 100%;
        align-items: inherit;
    }*/

    .pci2-justify-center #pci-ArticleHeader .pci2-flex-center {
        margin-left: 1rem;
    }

    .pci2-justify-center #pci-ArticleHeader {
        border: 0;
    }

    .pci2-justify-center .pci2-content-900px {
        margin-left: 2rem;
        border: 0;
    }

    .pci2-flex-row > .pci2-flex-center > .pci2-flex-center {
        margin-left: 0;
    }

    .pci2-twitter-link {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .tweeterPanel {
        display: none;
    }

    font > .pci-socialDiv > .tweeterPanel {
        display: block;
    }

    .pci2-justify-center .pci2-content-900px .pci2-flex-row {
        border: 0;
    }

    .pci2-yellow-link:hover .glyphicon, .pci2-yellow-link:focus .glyphicon,
    .pci2-yellow-link .glyphicon {
        color: rgba(0,150,190);
    }

    .pci2-tool-link-right .glyphicon {
        margin-right: .5rem;
    }

    .pci2-user-stats-div .pci2-flex-row,
    .pci2-article-list-titled .pci2-flex-row {
        border: 0;
    }

    h2.pci2-recomm-article-h2 .pci2-main-color-text {
        font-size: 2.4rem!important;
    }

    .pci-status-big.success:not(.printable) {
        background-color: rgba(0,150,190);
        margin-bottom: 1rem;
        border-radius: 0;
    }

    .pci2-yellow-link:hover, .pci2-yellow-link:focus {
        color: rgba(0,150,190);
    }

    .pci2-recomm-backButtonDiv {
        margin-left: 2rem;
    }

    .pci2-recomm-backButtonDiv a {
        border: 0;
    }

    #myNavbar .flex-item .pci-public {
        color: white;
    }

    .pci2-thematics-div {
        position: absolute;
    }

    .pci-public {
        color: white;
        background-color: rgba(0,150,190);
        width: 14rem;
        border-radius: 0;
        margin: 1.5rem .5rem 2rem 3rem;
        text-align: left;
    }

    .pci-register {
        width: 8rem;
        margin-top: 0;
    }

    .submit-btn .pci-public {
        width: 16rem;
    }

    .col-md-9 .pci-public {
        margin-left: 3rem;
    }

    nav .pci-public {
        margin-left: 1rem;
    }

    .pci-recommender {
        color: white;
        background-color: rgba(0,150,190);
        width: 25rem;
        border-radius: 0;
        margin: .5rem .5rem 1.5rem 3rem;
        text-align: left;
    }

    span > .pci-recommender,
    span.pci-recommender {
        background-color: unset!important;
        color: #3e3f3a;
        margin-left: 0;
        padding-left: 0;
    }

    tbody span.pci-recommender {
        background-color: rgba(0,150,190);
        color: white;
        margin-left: 0;
        padding-left: 1rem;
    }

    .nav .flex-item .pci2-thematic-link-div {
        display: none;
    }

    .nav .flex-item .pci2-search-button,
    .search-wrapper .pci2-search-button,
    .pci2-search-form .pci2-search-button {
        display: none;
    }

    .nav .flex-item .pci2-search-input,
    .search-wrapper .pci2-search-input,
    .pci2-search-form .pci2-search-input {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 0;
        border-top-color: #938e8e;
        border-right-color: #938e8e;
        border-bottom-color: #938e8e;
        border-left-color: #938e8e;
        height: 4rem;
    }

    #pci-home-header {
        padding-top: 8rem;
    }

    #pci-home-header-large {
        padding-top: 7rem;
        margin-bottom: 1rem;
    }

    .btn-default:hover {
        background-color: #0096be!important;
    }

    /*.button > .buttontext:hover {
        background-color: unset!important;
    }*/

    #pci-home-header img,
    #pci-home-header-large img {
        margin-left: 0;
        min-width: 28rem;
        width: 28rem;
    }

    .pci2-thematic-link-div {
        padding-top: 1rem;
        margin-left: .5rem;
    }

    #lastRecommendationsDiv {
        margin-left: 2.5rem;
    }

    .pci-pageTitleText {
        color: #555555;
        text-transform: uppercase;
        font-size: 3rem;
    }

    .pci2-article-row {
        padding: .7rem 0;
    }

    .pci2-article-row > .pci2-flex-column > i > span {
        color: rgba(0,150,190);
        font-size: 1.2rem;
    }

    .pci2-article-row > .pci2-flex-column > i {
        font-style: unset;
    }

    .pci2-article-row:nth-child(2n+1),
    .pci2-article-row:nth-child(2n){
        background-color: unset;
    }

    .pci2-articles-list .pci2-flex-center {
        text-align: center;
    }

    .pci2-articles-list .pci-preprintTag {
        text-align: left;
    }

    .pci2-article-infos {
        color: rgba(0,150,190);
        font-size: 1.2rem;
    }

    .upper-btn-left,
    .accept-btn-left,
    .content-btn-left {
        display: flex;
        justify-content: start;
        padding-left: 3rem;
    }

    .doi_url {
        color: #938e8e;
        font-style: unset;
    }

    .social-links-div {
        display: none;
    }

    .pci2-article-recommendation-div {
        background-color: rgba(0,0,0,.05);
        padding: 1rem;
    }

    /*.pci2-flex-row {
        border-bottom: .1rem solid #938e8e;
    }*/

    .pci2-articles-list .pci2-flex-row {
        border-bottom: 0;
    }

    .pci-preprintTagText {
        padding-left: 0;
    }

    .pci2-article-row h3 {
        line-height: 1.5;
        font-size: 1.7rem;
    }

    .pci2-article-image-div > img {
        min-width: 20rem;
        max-width: 90%;
        max-height: unset;
        margin: auto;
    }

    .pci2-article-row h4 {
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .pci2-article-recommendation-div {
        line-height: 1.5;
    }

    .pci2-article-recommendation-div p {
        line-height: 1.6;
    }

    .pci2-articles-list .pci-public {
        width: 6rem;
        font-style: normal;
    }

    .pci2-article-row {
        margin-bottom: 2.5rem;
        padding-bottom: .5rem;
    }

    #moreLatestBtn {
        color: white;
        background-color: rgba(0,150,190);
        width: 10rem;
        border-radius: 0;
        margin: .5rem .5rem 1.5rem 1rem;
    }

    #seeAllBtn {
        color: white;
        background-color: rgba(0,150,190);
        width: 20rem;
        border-radius: 0;
        margin: auto;
    }

    .pci-h1 {
        text-shadow: none;
        color: #3e3f3a!important;
        font-size: 2.5rem;
    }

    .footer-sub {
        padding: 0 2rem;
    }

    .hr-footer {
        border-top: .1rem solid black;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #pci-twitter {
        width: 4rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .footer-sub-text {
        font-size: 1.5rem;
    }

    .recommenders .footer-sub-text {
        line-height: 1.8;
        font-size: 1.3rem;
    }

    .footer-sub {
        padding-bottom: 3rem;
    }

    .grey-footer {
        background-color: rgba(0,0,0,.05);
        padding-top: 1rem;
        width: 100vw;
        position: relative;
        left: -1.7rem;
        line-height: 1.4;
    }

    .footer-sub a {
        color: black;
    }

    .footer-sub a:hover {
        text-decoration: unset;
        color: #0096be;
    }

    .grey-footer .footer-sub-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .suffix {
        color: #646464;
    }

    #footer {
        padding-top: 5rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .grey-footer .flex-item > img {
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .arrow-links {
        width: 1.5rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .img-supporter {
        width: 15rem;
    }

    .img-supporter-2 {
        width: 15rem;
        padding-bottom: 2rem;
    }

    .img-supporter-3 {
        width: 10rem;
        padding-bottom: 1rem;
        padding-top: .5rem;
    }

    #ms {
        position: relative;
        bottom: 1rem;
        left: 2rem;
    }

    /* TEXT PAGES */
    #pci-small-header {
        padding-top: 9rem;
    }

    .pci2-thematic-link {
        padding-right: 2rem;
    }

    .pci2-search-form {
        margin-left: 2rem;
    }

    nav .pci2-search-form {
        margin-left: 0;
    }

    .searchRecommendationsDiv {
        margin-left: 3rem;
        margin-top: 3rem;
    }

    .pci-nResults {
        padding-bottom: 1rem;
    }

    .pci2-articles-list .pci2-flex-center {
        padding-top: 1rem;
    }

    .pci-infotext {
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .left-sidebar .pci-infotext {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .left-sidebar .pci-infotext > p {
        margin: 0;
    }

    #myNavbar .caret {
        display: none;
    }

    #auth_user_uploaded_picture {
        width: 100%;
    }

    #captcha__row iframe {
        width: 100%;
        position: relative;
        left: -2rem;
    }

    .col-md-9 .form-horizontal {
        margin-left: 3rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.4;
        padding-bottom: 1rem;
    }

    h2 span {
        color: #3e3f3a;
        text-transform: uppercase;
    }

    .pci-infotext iframe {
        width: 100%;
        height: auto;
    }

    .pci-infotext hr {
        border-top-color: #3e3f3a!important;
    }

    .pci-infotext > div,
    .pci-infotext > div > div {
        padding-bottom: 2rem;
        line-height: 1.6!important;
    }

    .pci-infotext > h3 {
        margin-top: 0;
    }

    .pci-infotext > h2,
    .pci-infotext h1 {
        line-height: 1.4!important;
        margin-top: 0!important;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    .pci-infotext > font > ul {
        padding-bottom: 4rem;
    }

    .pci-infotext ol li {
        line-height: 1.6;
    }

    .pci-infotext img {
        width: 100%;
        padding: 2rem 0;
    }

    .left-sidebar .pci-infotext img {
        padding: 0;
    }

    .pci-infotext div div div div div div div div > p > a > img {
        width: 20rem;
    }


    .pci-infotext div div div div div div img {
        padding-top: 3rem;
        margin-left: 2rem;
    }

    .pci-UsersTable {
        margin: 0 1rem 0 0;
        width: 100%;
    }


    #submit_record__row .pci2-lost-password-link {
        width: 12.5rem;
    }

    #submit_record__row .btn-success {
        width: auto;
    }

    .footer {
        margin-left: 1.6rem!important;
        margin-right: 1.6rem!important;
        padding-left: 0!important;
        padding-right: 0!important
    }

    .supporters .footer-sub-text .pci-infotext img,
    .memberships .footer-sub-text .pci-infotext img {
        padding: 0;
        max-width: 17rem;
    }

    .supporters .footer-sub-text .pci-infotext,
    .memberships .footer-sub-text .pci-infotext {
        margin-left: 0;
        padding-left: 0;
    }

    .left-sidebar {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    .hide-below-tablet {
        display: none;
    }

    .show-below-tablet {
        display: block;
    }

    .hide-desktop {
        display: block;
    }
}


@media only screen and (min-width: 576px) {
    /* Bootstrap and large phones: */
    .navbar {
        width: 100%;
        padding-bottom: 2rem;
    }

    #pci-logo {
        padding-top: 1.5rem;
    }

    .navbar-toggle {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    #pci-home-header {
        padding-top: 10rem;
    }
    
    #pci-home-header img,
    #pci-home-header-large img {
        width: 45rem;
    }

    .pci-AdminReviewsSynthesis {
        margin-top: 7rem;
    }

    .web2py_grid {
        margin-top: 9rem;
    }
    
    .logout-btn-alt {
        margin-top: 10rem;
    }

    #pci-home-header-large {
        padding-top: 9rem;
    }

    #cyp-login-button {
        padding-bottom: 1rem;
    }

    .pci2-article-recommendation-div > div {
        margin-top: 1.5rem;
    }

    #cyp-logout-button {
        padding-bottom: .5rem;
    }

    .main-container {
        margin-top: 2rem;
    }

    #myNavbar .flex-item .pci-public {
        padding-bottom: 1rem;
    }

    nav .pci-public {
        margin-top: 0;
        margin-bottom: 0;
    }

    .pci-public,
    .pci-recommender {
        display: inline;
        padding: 1rem;
    }

    .pci-public {
        margin-top: 3rem;
    }

    .search-wrapper {
        margin-top: 3rem;
    }

    .pci2-thematic-link {
        width: 92%;
    }

    .pci2-flex-column-mobile {
        flex-direction: row;
    }

    .pci2-article-image-div > img {
        margin-top: 1rem;
    }

    /*.pci2-flex-grow {
        flex-grow: unset;
    }*/

    .pci2-article-recommendation-div {
        padding-bottom: 2rem;
    }

    #moreLatestBtn, #seeAllBtn {
        display: inline;
        padding: 1rem 2rem;
        margin-right: 1rem;
    }

    #footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #footer .flex-item {
        width: 45%;
    }

    .grey-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5rem;
        left: 0;
    }

    .grey-footer .flex-item > img {
        width: 22rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
    }

    #pci-small-header {
        padding-top: 14rem;
    }

    .searchRecommendationsDiv {
        margin-top: 5rem;
    }

    .pci-infotext iframe {
        height: 22rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .pci-UsersTable {
        margin-bottom: 7rem;
    }
}


@media only screen and (min-width: 768px) {
    /* Tablets : */
    #myNavbar {
        display: none;
        padding-top: 8rem!important;
    }

    .pci2-articles-list .pci2-article-row .pci2-flex-column {
        flex-grow: 1;
        padding-left: 1rem;
    }

    .pci2-articles-list .pci2-article-row .pci2-article-left-div {
        max-width: 30rem;
    }

    .pci2-articles-list .pci2-flex-center {
        padding-top: 0;
    }

    .navbar > .navbar-collapse .navbar-nav {
        float: unset;
        display: inline-block;
    }

    #articles-nav ul li,
    #about-nav ul li,
    #help-nav ul li {
        padding-top: .5rem;
        font-size: 1.5rem;
    }

    #myNavbar ul li {
        float: unset;
    }

    .navbar-toggle {
        display: block;
        z-index: 2;
    }

    .pci2-thematic-link .glyphicon {
        font-size: 1.2rem;
        margin-top: .2rem;
    }

    .container-fluid,
    .container-fluid-alt {
        padding-left: 0;
    }

    .navbar-nav {
        width: 72%;
    }

    .bam {
        width: 9rem;
    }

    .navbar .nav > li > a {
        font-size: 1.2rem;
    }

    .navbar .nav > li > .dropdown-toggle .pci-recommender {
        margin: 0 0 0rem 0;
        padding: 0rem 0;
        width: 16rem;
        text-align: left;
    }

    .navbar .nav > li > .dropdown-toggle i {
        text-align: center;

    }

    .pci-public {
        width: 17rem;
    }

    #pci-logo {
        padding-top: 2rem;
    }

    #pci-home-header img,
    #pci-home-header-large img {
        width: 55rem;
    }

    #pci-home-header-large {
        padding-top: 23rem;
        margin-left: 4rem;
    }

    #main-content {
        padding: 0 0 2rem 0;
    }

    .footer-sub .hide-below-tablet {
        margin-top: 2rem;
    }

    #footer .flex-item {
        width: 50%;
    }

    .grey-footer .flex-item > img {
        width: 30rem;
    }

    .grey-footer {
        padding: 2rem 5rem;
    }

    #

    #pci-small-header {
        width: 80%;
        margin: auto;
    }

    .hide-below-tablet {
        display: block;
    }

    .show-below-tablet {
        display: none;
    }

    .pci-infotext > h2 {
        font-size: 2.6rem;
    }

    .pci-infotext iframe {
        height: 34rem;
    }

    h2 span {
        color: #3e3f3a!important;
        text-transform: uppercase;
    }

    .pci-infotext h2 {
        margin: 3rem 0!important;
    }

    .hide-below-tablet .footer-sub-text .pci-infotext img {
        padding: 0;
        max-width: 17rem;
    }

    .hide-below-tablet .footer-sub-text .pci-infotext {
        margin-left: 0;
        padding-left: 0;
    }
}


@media only screen and (min-width: 961px) {
    .col-md-9 {
        width: 100%;
    }
}


@media only screen and (min-width: 992px) {
    /* For landscape tablets: */
    .navbar {
        top: 0;
    }

    .pci-infotext img {
        max-width: 70rem;
    }

    #pci-home-header-large {
        padding-top:8rem;
    }

    #pci-home-header {
        padding-top: 8rem;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop and upward: */
    html {
        max-width: 120rem;
        margin: auto;
    }

    .navbar {
        border-bottom: 0;
        max-width: 120rem;
    }

    .top-pad {
        padding-top: 10rem!important;
    }

    .main-logo {
        display: none;
    }

    .navbar > .container-fluid {
        display: inline-block;
        width: 20rem;
        padding-right: 0;
        padding-left: 1rem;
    }

    #myNavbar .caret {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 1.5rem;
    }

    .nav > li > a {
        padding-bottom: 0;
    }

    .navbar > .container-fluid-alt {
        display: block;
        float: right;
        width: unset;
    }

    #pci-logo {
        left: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        width: 87%;
    }

    .container-fluid .navbar-nav {
        width: 100%;
    }

    .bam {
        width: auto;
        padding-bottom: 1.3rem;
        padding-right: .5rem;
    }

    .action-button-absolute .web2py_htmltable > table > tbody > tr > td:last-child {
        position: relative;
    }

    .web2py_htmltable {
        overflow-x: unset;
    }

    .navbar-collapse.collapse {
        display: inline-block;
        width: 82%;
        padding-right: 0;
    }

    .navbar-collapse-alt.collapse { 
        display: inline-block;
        width: 90rem;
        padding-right: 0;
    }

    .navbar-collapse {
        padding-right: 0!important;
    }

    .navbar-toggle {
        display: none;
    }

    #cyp-login-button,
    #cyp-logout-button {
        margin-top: 0;
    }

    .nav > li > a {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

    #myNavbar {
        display: block;
        position: relative;
        background-color: transparent;
        height: auto!important;
        padding-bottom: 1.3rem!important;
        padding-top: 2rem!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    #no-lefty {
        padding-left: 0;
    }

    #articles-nav,
    #about-nav,
    #help-nav {
        position: absolute;
        background-color: white;
        padding-right: 1rem;
        padding-top: 1rem;
        width: 21rem;
    }

    #help-nav {
        right: 0;
    }

    #about-nav {
        right: -6rem;
    }

    #about-nav ul,
    #help-nav ul {
        padding-left: 2rem;
    }

    #articles-nav ul {
        padding-left: 0;
    }

    #myNavbar .search-btn {
        display: none;
    }

    #pci-ArticleHeader {
        margin-top: 3rem;
    }

    .search-wrapper .pci2-search-input, .pci2-search-form .pci2-search-input,
    .pci2-thematic-link-div,
    #lastRecommendationsDiv {
        margin-left: 0;
    }

    .pci2-thematic-link {
        padding-left: 0;
    }

    .pci2-search-form {
        margin-left: .5rem;
    }

    .pci-w200Cell {
        overflow: unset;
    }

    .web2py_grid .row_buttons .btn[data-w2p_remove] {
        margin-left: 4rem;
    }

    .pci-AdminReviewsSynthesis {
        margin-top: 3rem;
        overscroll-behavior-y: auto;
    }

    .web2py_grid {
        margin-top: 2rem;
    }
    
    .logout-btn-alt {
        margin-top: 0;
    }

    table thead {
        hyphens: none;
    }

    .pci-mail-status {
        padding: .5rem 1rem;
    }

    .left-sidebar {
        display: block;
        padding-top: 3rem;
    }

    .side-button-bar .btn-info {
        color: white;
        background-color: rgba(0,150,190);
        width: 8rem;
        border-radius: 0;
        margin: 1.5rem .5rem 1.5rem .5rem;
        text-align: left;
    }

    .side-button-bar #cyp-login-button {
        margin-bottom: 0;
        padding-bottom: .5rem;
        width: 7rem;
    }

    .search-wrapper {
        margin-top: 0;
    }

    .pci-infotext {
        margin-top: 0;
    }

    .col-md-9 {
        width: 75%;
        padding-left: 0;
        border-right: .1rem solid black;
    }

    #pci-home-header,
    #pci-home-header-large {
        border: 0;
    }

    #pci-home-header {
        padding-top: 9rem;
    }

    #pci-home-header,
    #pci-home-header-large {
        padding-left: 0;
        border-left: 0;
    }

    .col-md-3 {
        position: relative;
        top: 0;
        left: -.1rem;
        border-left: .1rem solid black;
        width: 25%;
        padding-top: 0;
        padding-right: 0;
    }

    .col-md-9 > div > .pci-public,
    .col-md-9 > div > .pci-recommender {
        display: none;
    }

    .left-sidebar .pci-public {
        margin-left: 1rem;
    }

    .first-pci-h1 {
        padding-top: 1rem;
    }

    #pci-home-header,
    #pci-home-header-large {
        text-align: left;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #footer {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #footer .sub-flex {
        display: flex;
        flex-direction: row;
        width: 75%;
    }

    #footer .first-flex {
        width: 25%;
    }

    .sub-flex > div {
        width: 33%;
    }

    .grey-footer .flex-item > img {
        width: 25rem;
    }

    .left-sidebar .grey-footer {
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        flex-direction: column;
    }

    .left-sidebar .grey-footer {
        display: none;
    }

    .left-sidebar .hide-desktop {
        display: block!important;
    }

    #pci-small-header,
    #pci-home-header,
    #pci-home-header-large {
        width: 100%;
        height: 23rem;
        padding-bottom: 4rem;
    }

    #pci-home-header-large {
        width: 100%;
        height: 23rem;
        padding-bottom: 4rem;

    }

    .pci-infotextbox {
        padding-right: 10rem;
    }

    .pci-infotext > h2 {
        font-size: 3rem;
        margin-top: 0!important;
        line-height: 1!important;
    }

    .pci-infotext > h3 {
        padding-bottom: 3rem;
        /*border-bottom: .1rem solid #598398;*/
    }

    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none!important;
    }
}
