.pci2-secondary-color-text {
    color: #fcc24d !important;
}

.pci2-main-color-text {
    color: #598398 !important;
}

.pci2-hover-main-color {
    color: #3eaede !important;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.pci2-hover-main-color .glyphicon {
    color: #3eaede !important;
}

.pci2-hover-main-color hr {
    border-top: 1px solid #42748d48;
}

.pci2-hover-main-color:not(.disabled):hover {
    opacity: 1;
}

.pci2-hover-main-color.disabled {
    cursor: default;
    opacity: 0.3;
}

.pci2-main-color-hr {
    border-top: 1px solid #598398;
    opacity: 0.5;
}

.pci2-thematics-div.pci2-panel-closed,
.pci2-panel-closed {
    display: none;
}


.pci2-icon-rotating {
    margin-top: -2px;
    font-size: 18px;
}

.glyphicon-rotate {
    animation: rotate180deg 0.4s ease forwards;
}

.glyphicon-rotate-reversed {
    animation: rotate180degReversed 0.4s ease forwards;
}




/* OVERRIDE pci.css or bootstrap/web2py css files */
div.w2p_flash.alert {
    animation: alertAppear 0.35s;
    /* show in front of navbar */
    z-index: 1001;
    /* override w2p opacity: 0.9 !important */
    opacity: 1 !important;

    background-color: #3e3f3a;
    border: 0px;
    border-bottom: 4px solid #0977ad;
    color: #eee;
    font-weight: bold;

    background-image: initial;
    top: 75px;
    right: 15px;
    border-radius: 2.5px;
    padding: 12px;
}

div.w2p_flash.alert.pci-warning-alert {
    border-bottom: 4px solid #ffbb00;
}

div.w2p_flash.alert.custom-disappear {
    animation: alertDisappear 0.5s forwards;
}



#pci-home-header {
    animation: fadefromLeft 0.7s ease;
    text-align: center;
}

#pci-small-header {
    animation: fadefromLeft 0.7s ease;
    margin: 0 15px;
    display: flex;
    flex-direction: row;
}

#pci-small-header>a {
    margin: 0 15px;
}

.pci-myTitleText-gab {
    display: flex;
    flex: 1;
}

.pci-myTitleText-gab>.pci-infotextbox {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pci-myTitleText-gab .pci-text-buttons {
    justify-content: flex-end;
    /* align-content: flex-end; */
    text-align: right;
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    /* width: auto; */
}

.pci-lastArticles-div {
    animation: fadeFormTop 0.7s ease;
}




.main-container {
    animation: animOpacity 1s ease;
}

.footer {
    opacity: 0;
    animation: animOpacity 0.7s ease 0.4s forwards;
}


@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
    }
}


@keyframes animOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeFormTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadefromLeft {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes alertAppear {
    0% {
        transform: translateX(300px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes alertDisappear {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(300px);
    }
}


@keyframes rotate180deg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotate180degReversed {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(0deg);
    }
}