@media only screen and (min-width: 320px) {
    /* For mobile phones: */
    html {
        font-size: 10px;
        hyphens: auto;
    }

    #myNavbar {
        position: absolute;
        background-color: white;
        z-index: 1;
        width: 100%;
        padding-left: 2rem!important;
        padding-top: 2rem!important;
    }

    .navbar {
        position: fixed;
        z-index: 1;
        background-color: white;
        border-bottom: .1rem solid #d5d2d2;
        width: 100%;
    }

    .navbar-toggle {
        float: left;
        padding-top: 1rem;
    }

    .btn-default:hover {
        background-color: unset;
    }

    .btn-default:active, .btn-default.active,
    .open > .dropdown-toggle.btn-default,
    .btn-default:focus, .btn-default.focus {
        background-color: unset;
    }
    

    #pci-logo {
        width: 80%;
        max-width: 25rem;
        padding: 1rem;
        position: absolute;
        left: 6rem;
        padding-left: 0;
        z-index: 2;
    }

    #pci-burger {
        width: 2rem;
    }

    .navbar .nav > li > a {
        font-size: 1.4rem;
        font-weight: 800;
        color: #3e3f3a;
    }

    #articles-nav,
    #about-nav,
    #help-nav {
        padding-bottom: 2rem;
    }

    #articles-nav ul,
    #about-nav ul,
    #help-nav ul {
        list-style-type: disc;
    }

    #main-content {
        width: 100%;
    }

    #articles-nav ul a,
    #about-nav ul a,
    #help-nav ul a {
        color: black;
    }

    .hr-nav {
        border-top: .1rem solid #938e8e;
        margin: .5rem 1rem;
    }

    .navbar-nav {
        margin-top: 0;
    }

    #cyp-login-button {
        color: white;
        background-color: rgba(0,150,190);
        width: 8rem;
        border-radius: 0;
        margin: 1.5rem .5rem 1.5rem 1rem;
        text-align: left;
    }

    #myNavbar .flex-item .pci-public {
        color: white;
    }

    .pci2-thematics-div {
        position: absolute;
    }

    .pci-public {
        color: white;
        background-color: rgba(0,150,190);
        width: 16rem;
        border-radius: 0;
        margin: 1.5rem .5rem 2rem 3rem;
        text-align: left;
    }

    .col-md-9 .pci-public {
        margin-left: 3rem;
    }

    nav .pci-public {
        margin-left: 1rem;
    }

    .pci-recommender {
        color: white;
        background-color: rgba(0,150,190);
        width: 25rem;
        border-radius: 0;
        margin: .5rem .5rem 1.5rem 3rem;
        text-align: left;
    }

    .nav .flex-item .pci2-thematic-link-div {
        display: none;
    }

    .nav .flex-item .pci2-search-button,
    .search-wrapper .pci2-search-button,
    .pci2-search-form .pci2-search-button {
        display: none;
    }

    .nav .flex-item .pci2-search-input,
    .search-wrapper .pci2-search-input,
    .pci2-search-form .pci2-search-input {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 0;
        border-top-color: #938e8e;
        border-right-color: #938e8e;
        border-bottom-color: #938e8e;
        border-left-color: #938e8e;
        height: 4rem;
    }

    #pci-home-header {
        padding-top: 11rem;
    }

    #pci-home-header img {
        margin-left: 0;
        min-width: 28rem;
    }

    .pci2-thematic-link-div {
        padding-top: 1rem;
        margin-left: .5rem;
    }

    #lastRecommendationsDiv {
        margin-left: 2.5rem;
    }

    .pci-pageTitleText {
        color: black;
        text-transform: uppercase;
        font-size: 3rem;
    }

    .pci2-article-row {
        padding: .7rem 0;
    }

    .pci2-article-row > .pci2-flex-column > i > span {
        color: rgba(0,150,190);
    }

    .pci2-article-row > .pci2-flex-column > i {
        font-style: unset;
    }

    .pci2-article-row:nth-child(2n+1),
    .pci2-article-row:nth-child(2n){
        background-color: unset;
    }

    .pci2-articles-list .pci2-flex-center {
        text-align: center;
    }

    .pci2-articles-list .pci-preprintTag {
        text-align: left;
    }

    .pci2-article-infos {
        text-transform: uppercase;
        color: rgba(0,150,190);
        margin-top: 1rem;
    }

    .doi_url {
        color: #938e8e;
        font-style: unset;
    }

    .pci2-article-recommendation-div {
        background-color: rgba(0,0,0,.05);
        padding: 1rem;
    }

    .pci2-flex-row {
        border-bottom: .1rem solid #938e8e;
    }

    .pci-preprintTagText {
        padding-left: 0;
    }

    .pci2-article-row h3 {
        line-height: 1.5;
    }

    .pci2-article-image-div > img {
        min-width: 20rem;
        max-width: 90%;
        max-height: unset;
        margin: auto;
    }

    .pci2-article-row h4 {
        line-height: 1.7;
    }

    .pci2-article-recommendation-div {
        line-height: 1.5;
    }

    .pci2-article-recommendation-div p {
        line-height: 1.6;
    }

    .pci2-articles-list .pci-public {
        width: 6rem;
        font-style: normal;
    }

    .pci2-article-row {
        margin-bottom: 2.5rem;
        padding-bottom: 3rem;
    }

    #moreLatestBtn {
        color: white;
        background-color: rgba(0,150,190);
        width: 10rem;
        border-radius: 0;
        margin: .5rem .5rem 1.5rem 1rem;
    }

    #seeAllBtn {
        color: white;
        background-color: rgba(0,150,190);
        width: 20rem;
        border-radius: 0;
        margin: auto;
    }

    .pci-h1 {
        text-shadow: none;
        color: #3e3f3a!important;
    }

    .footer-sub {
        padding: 0 2rem;
    }

    .hr-footer {
        border-top: .1rem solid black
    }

    #pci-twitter {
        width: 4rem;
    }

    .footer-sub-text {
        font-size: 1.4rem;
    }

    .recommenders .footer-sub-text {
        line-height: 3;
    }

    .footer-sub {
        padding-bottom: 3rem;
    }

    .grey-footer {
        background-color: rgba(0,0,0,.05);
        padding-top: 1rem;
        width: 100vw;
        position: relative;
        left: -1.7rem;
        line-height: 2;
    }

    .footer-sub a {
        color: black;
    }

    .grey-footer .footer-sub-text {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .suffix {
        color: #646464;
    }

    #footer {
        padding-top: 5rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .grey-footer .flex-item > img {
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .arrow-links {
        width: 1.5rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    .img-supporter {
        width: 15rem;
    }

    .img-supporter-2 {
        width: 15rem;
        padding-bottom: 4rem;
    }

    #ms {
        position: relative;
        bottom: 4rem;
        left: 2rem;
    }

    /* TEXT PAGES */
    #pci-small-header {
        padding-top: 9rem;
    }

    .pci2-thematic-link {
        padding-right: 2rem;
    }

    .pci2-search-form {
        margin-left: 2rem;
    }

    .searchRecommendationsDiv {
        margin-left: 3rem;
        margin-top: 3rem;
    }

    .pci-nResults {
        padding-bottom: 1rem;
    }

    .pci2-articles-list .pci2-flex-center {
        padding-top: 1rem;
    }

    .pci-infotext {
        margin-left: 3rem;
        margin-top: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.4;
        padding-bottom: 1rem;
    }

    h2 span {
        color: #3e3f3a;
        text-transform: uppercase;
    }

    .pci-infotext iframe {
        width: 100%;
        height: auto;
    }

    .pci-infotext > p,
    .pci-infotext > div > p,
    .pci-infotext hr {
        display: none;
    }

    .pci-infotext > div,
    .pci-infotext > div > div {
        padding-bottom: 2rem;
        line-height: 1.6!important;
    }

    .pci-infotext > h3 {
        margin-top: 0;
    }

    .pci-infotext > h2 {
        line-height: 1.4!important;
        margin-top: 0!important;
    }

    .pci-infotext div div div div div div img {
        padding-top: 3rem;
        margin-left: 2rem;
    }

    .pci-UsersTable {
        margin: 0 1rem 0 3rem;
    }






    .left-sidebar {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    .hide-below-tablet {
        display: none;
    }

    .show-below-tablet {
        display: block;
    }

    .hide-desktop {
        display: block;
    }
}


@media only screen and (min-width: 576px) {
    /* Bootstrap and large phones: */
    .navbar {
        width: 100%;
        padding-bottom: 2rem;
    }

    #pci-logo {
        padding-top: 1.5rem;
    }

    .navbar-toggle {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    
    #pci-home-header img {
        width: 45rem;
    }

    #cyp-login-button {
        padding-bottom: 1rem;
    }

    #myNavbar .flex-item .pci-public {
        padding-bottom: 1rem;
    }

    .pci-public {
        margin-top: 0;
    }

    .pci-public,
    .pci-recommender {
        display: inline;
        padding: 1rem;
    }

    .pci-public {
        margin-top: 3rem;
    }

    .search-wrapper {
        margin-top: 3rem;
    }

    .pci2-thematic-link {
        width: 92%;
    }

    .pci2-flex-column-mobile {
        flex-direction: row;
    }

    .pci2-article-image-div > img {
        margin-top: 1rem;
    }

    .pci2-flex-grow {
        flex-grow: unset;
    }

    .pci2-article-recommendation-div {
        padding-bottom: 2rem;
    }

    #moreLatestBtn, #seeAllBtn {
        display: inline;
        padding: 1rem 2rem;
        margin-right: 1rem;
    }

    #footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #footer .flex-item {
        width: 45%;
    }

    .grey-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5rem;
        left: 0;
    }

    .grey-footer .flex-item > img {
        width: 22rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
    }

    .grey-footer .suffix {
        padding-top: 5rem;
    }

    #pci-small-header {
        padding-top: 14rem;
    }

    .searchRecommendationsDiv {
        margin-top: 5rem;
    }

    .pci-infotext iframe {
        height: 22rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .pci-UsersTable {
        margin-bottom: 7rem;
    }
}


@media only screen and (min-width: 768px) {
    /* Tablets : */
    #myNavbar {
        display: none;
        padding-top: 8rem!important;
    }

    #articles-nav ul li,
    #about-nav ul li,
    #help-nav ul li {
        padding-top: .5rem;
        font-size: 1.3rem;
    }

    #myNavbar ul li {
        float: unset;
    }

    .navbar-toggle {
        display: block;
        z-index: 2;
    }

    .container-fluid {
        padding-left: 0;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar .nav > li > a {
        font-size: 1.6rem;
    }

    .pci-public {
        width: 17rem;
    }

    #pci-logo {
        padding-top: 2rem;
    }

    #pci-home-header img {
        width: 64rem;
    }

    #main-content {
        padding: 2rem 4rem;
    }

    .footer-sub .hide-below-tablet {
        margin-top: 10rem;
    }

    #footer .flex-item {
        width: 50%;
    }

    .grey-footer .flex-item > img {
        width: 30rem;
    }

    .grey-footer {
        padding: 5rem;
    }

    #pci-small-header {
        width: 80%;
        margin: auto;
    }

    .hide-below-tablet {
        display: block;
    }

    .show-below-tablet {
        display: none;
    }

    .pci-infotext > h2 {
        font-size: 2.6rem;
    }

    .pci-infotext iframe {
        height: 34rem;
    }

    h2 span {
        color: #3e3f3a!important;
        text-transform: uppercase;
    }

    .pci-infotext h2 {
        margin: 3rem 0!important;
    }

}


@media only screen and (min-width: 961px) {
    .col-md-9 {
        width: 100%;
    }
}


@media only screen and (min-width: 992px) {
    /* For landscape tablets: */
    .navbar {
        top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop and upward: */
    html {
        max-width: 120rem;
        margin: auto;
    }

    .navbar {
        border-bottom: 0;
        padding-bottom: 8rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .navbar-collapse.collapse {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }

    #cyp-login-button {
        margin-top: 0;
    }

    #myNavbar {
        display: block;
        position: absolute;
        background-color: transparent;
        height: unset;
        padding-bottom: 2rem;
        padding-top: 2rem!important;
        left: 60%;
    }

    #articles-nav,
    #about-nav,
    #help-nav {
        position: absolute;
        background-color: white;
        padding-right: 1rem;
        padding-top: 1rem;
        width: 20rem;
    }


    #articles-nav ul,
    #about-nav ul,
    #help-nav ul {
        padding-left: 3rem;
    }

    #myNavbar .submit-btn,
    #myNavbar .search-btn {
        display: none;
    }

    .left-sidebar {
        display: block;
        padding-top: 3rem;
    }

    .col-md-9 {
        width: 73%;
        border-left: .1rem solid black;
    }

    #pci-home-header {
        padding-left: 6rem;
        border-left: 0;
    }

    .col-md-3 {
        position: relative;
        top: 0;
    }

    .col-md-9 > div > .pci-public,
    .col-md-9 > div > .pci-recommender {
        display: none;
    }

    .left-sidebar .pci-public {
        margin-left: 2.3rem;
    }

    .first-pci-h1 {
        padding-top: 5rem;
    }

    #pci-home-header {
        text-align: left;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #footer {
        padding-top: 0;
    }

    #footer .sub-flex {
        display: flex;
        flex-direction: row;
        width: 75%;
    }

    #footer .first-flex {
        width: 25%;
    }

    .sub-flex > div {
        width: 33%;
    }

    .grey-footer .flex-item > img {
        width: 25rem;
    }

    .left-sidebar .grey-footer {
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        flex-direction: column;
    }

    .left-sidebar .grey-footer {
        display: none;
    }

    .left-sidebar .hide-desktop {
        display: block!important;
    }

    #pci-small-header,
    #pci-home-header {
        width: 72%;
        height: 38rem;
        padding-bottom: 4rem;
    }

    .pci-infotextbox {
        padding-right: 10rem;
    }

    .pci-infotext > h2 {
        font-size: 4rem;
        line-height: 1!important;
    }

    .col-md-3 {
        padding-top: 0;
    }

    






    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none;
    }
}


@media only screen and (min-width: 1700px) {
    #myNavbar {
        left: 52%;
    }


}