.pci2-secondary-color-text {
    color: #fcc24d !important;
}

.pci2-main-color-text {
    color: #598398 !important;
}

.pci2-hover-main-color {
    color: #3eaede !important;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.pci2-hover-main-color .glyphicon {
    color: #3eaede !important;
}

.pci2-hover-main-color hr {
    border-top: 1px solid #42748d48;
}

.pci2-hover-main-color:not(.disabled):hover {
    opacity: 1;
}

.pci2-hover-main-color.disabled {
    cursor: default;
    opacity: 0.3;
}

.pci2-main-color-hr {
    border-top: 1px solid #598398;
    opacity: 0.5;
}

.pci2-thematics-div.pci2-panel-closed,
.pci2-panel-closed {
    display: none;
}


.pci2-icon-rotating {
    margin-top: -2px;
    font-size: 18px;
}

.glyphicon-rotate {
    animation: rotate180deg 0.4s ease forwards;
}

.glyphicon-rotate-reversed {
    animation: rotate180degReversed 0.4s ease forwards;
}




/* OVERRIDE pci.css or bootstrap/web2py css files */
div.w2p_flash.alert {
    animation: alertAppear 0.35s;
    /* show in front of navbar */
    z-index: 1001;
    /* override w2p opacity: 0.9 !important */
    opacity: 1 !important;

    background-color: #3e3f3a;
    border: 0px;
    border-bottom: 4px solid #0977ad;
    color: #eee;
    font-weight: bold;

    background-image: initial;
    top: 75px;
    right: 15px;
    border-radius: 2.5px;
    padding: 12px;
}

div.w2p_flash.alert.pci-warning-alert {
    border-bottom: 4px solid #ffbb00;
}

div.w2p_flash.alert.custom-disappear {
    animation: alertDisappear 0.5s forwards;
}



#pci-home-header {
    animation: fadefromLeft 0.7s ease;
    text-align: center;
}


.pci-lastArticles-div {
    animation: fadeFormTop 0.7s ease;
}



.web2py_console form {
    max-width: 1200px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.web2py_console #w2p_query_panel,
.web2py_console .w2p_query_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
}


.web2py_console .w2p_query_row{
    flex: 1;
}
.web2py_console .w2p_query_row input[type="text"]{
    flex:1;
}

.web2py_console form #w2p_keywords{
    width: 100%;
}



.web2py_console .w2p_query_row .form-control {
    width: unset;
}

.web2py_console .w2p_query_row .btn{   
    max-height: 20px;
}

.web2py_console form input[value="Search"]{   
    background: #93c54b;
    height: 30px;
}

.web2py_console form input[value="Clear"]{   
    background: none;
    color: #555;
    box-shadow: none;
}


.main-container {
    animation: animOpacity 1s ease;
}

.footer {
    opacity: 0;
    animation: animOpacity 0.7s ease 0.4s forwards;
}

/* remove logo from footer */
.footer-content a>img{
    display:none;
}

.twitter-timeline-rendered{
    animation: animOpacity 1.5s ease;
}



@media (max-width: 600px) {
    .main-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}


@keyframes animOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeFormTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadefromLeft {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes alertAppear {
    0% {
        transform: translateX(300px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes alertDisappear {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(300px);
    }
}


@keyframes rotate180deg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotate180degReversed {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(0deg);
    }
}