/* Some changes... */

/**** GRAY (DEFAULT) BUTTONS ****/
.btn, .btn-default {
  background: #cad3d9;
  background-image: -webkit-linear-gradient(top, #cad3d9, #0f191f);
  background-image: -moz-linear-gradient(top, #cad3d9, #0f191f);
  background-image: -ms-linear-gradient(top, #cad3d9, #0f191f);
  background-image: -o-linear-gradient(top, #cad3d9, #0f191f);
  background-image: linear-gradient(to bottom, #cad3d9, #0f191f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover, .btn-default:hover {
  background: #0f191f;
  background-image: -webkit-linear-gradient(top, #0f191f, #cad3d9);
  background-image: -moz-linear-gradient(top, #0f191f, #cad3d9);
  background-image: -ms-linear-gradient(top, #0f191f, #cad3d9);
  background-image: -o-linear-gradient(top, #0f191f, #cad3d9);
  background-image: linear-gradient(to bottom, #0f191f, #cad3d9);
  text-decoration: none;
}


/**** GREEN BUTTONS ****/
.btn-success {
  background: #4ede3e;
  background-image: -webkit-linear-gradient(top, #4ede3e, #122610);
  background-image: -moz-linear-gradient(top, #4ede3e, #122610);
  background-image: -ms-linear-gradient(top, #4ede3e, #122610);
  background-image: -o-linear-gradient(top, #4ede3e, #122610);
  background-image: linear-gradient(to bottom, #4ede3e, #122610);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-success:hover {
  background: #122610;
  background-image: -webkit-linear-gradient(top, #122610, #4ede3e);
  background-image: -moz-linear-gradient(top, #122610, #4ede3e);
  background-image: -ms-linear-gradient(top, #122610, #4ede3e);
  background-image: -o-linear-gradient(top, #122610, #4ede3e);
  background-image: linear-gradient(to bottom, #122610, #4ede3e);
  text-decoration: none;
}



/**** RED BUTTONS ****/
.btn-warning {
  background: #de3e3e;
  background-image: -webkit-linear-gradient(top, #de3e3e, #241010);
  background-image: -moz-linear-gradient(top, #de3e3e, #241010);
  background-image: -ms-linear-gradient(top, #de3e3e, #241010);
  background-image: -o-linear-gradient(top, #de3e3e, #241010);
  background-image: linear-gradient(to bottom, #de3e3e, #241010);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-warning:hover {
  background: #241010;
  background-image: -webkit-linear-gradient(top, #241010, #de3e3e);
  background-image: -moz-linear-gradient(top, #241010, #de3e3e);
  background-image: -ms-linear-gradient(top, #241010, #de3e3e);
  background-image: -o-linear-gradient(top, #241010, #de3e3e);
  background-image: linear-gradient(to bottom, #241010, #de3e3e);
  text-decoration: none;
}




/**** BLUE BUTTONS ****/
.btn-info {
  background: #3eaede;
  background-image: -webkit-linear-gradient(top, #3eaede, #102b30);
  background-image: -moz-linear-gradient(top, #3eaede, #102b30);
  background-image: -ms-linear-gradient(top, #3eaede, #102b30);
  background-image: -o-linear-gradient(top, #3eaede, #102b30);
  background-image: linear-gradient(to bottom, #3eaede, #102b30);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-info:hover {
  background: #102b30;
  background-image: -webkit-linear-gradient(top, #102b30, #3eaede);
  background-image: -moz-linear-gradient(top, #102b30, #3eaede);
  background-image: -ms-linear-gradient(top, #102b30, #3eaede);
  background-image: -o-linear-gradient(top, #102b30, #3eaede);
  background-image: linear-gradient(to bottom, #102b30, #3eaede);
  text-decoration: none;
}