<div
  class="pci2-flex-row pci2-article-row pci2-column-under-tablet pci2-flex-center"
>
  <div class="pci2-flex-row pci2-article-left-div pci2-flex-center">
    <div class="pci2-flex-center pci2-flex-grow pci2-article-image-div">
      {{=articleImg}} 
      {{if articleImg == '':}}
        <img src="{{=URL('static', 'images/small-background.png')}}" alt="toto" />
      {{pass}}
    </div>

    <div class="pci2-flex-column">
      <h3>{{=articleTitle}}</h3>
      <span class="pci2-article-infos">{{=articleAuthor}}</span>
      <span class="pci2-article-infos">{{=articleDoi}}</span>
    </div>
  </div>

  <div
    class="pci2-flex-column pci2-flex-grow pci2-justify-center"
    style="margin-right: 15px;"
  >
    <div
      class="pci2-flex-column pci2-align-items-end pci2-align-items-center-under-tablet"
    >
    
      {{=articleStatusText}}
      <div class="pci2-flex-row">
        {{if articleStatus == 'Cancelled':}}
          <a 
            class="btn btn-default"
            href="{{=URL('articles', 'pubReviews', scheme=scheme, host=host, port=port, vars=dict(id=articleId))}}"
          >
            See reviews
          </a>
        {{pass}}
        <a
          class="btn btn-success"
          href="{{=URL('articles', 'rec', scheme=scheme, host=host, port=port, vars=dict(id=articleId))}}"
        >
          <!-- (gab) warn : not translated -->
          See recommendation and reviews
        </a>
      </div>
    </div>
  </div>
</div>
