<div style="margin-bottom: 20px" >
  <h2 style="margin-top: 5px;">{{=T('User comments')}}</h2>
  {{=commentsTree}}
</div>

{{if isLoggedIn:}}
  {{=commentForm.custom.begin}}
    <div id="comments-form-anchor" class="pci2-comment-form">
    
        {{if commentForm.custom.widget.parent_id:}}
          <div class="pci2-flex-row">
            <b style="margin-right: 5px;">Reply to : </b>
            <i style="color: #888">                
              {{=commentForm.custom.widget.parent_id}}
            </i>
          </div>
        {{pass}}
        
      <div>
        <b>Leave a comment :</b>
        {{=commentForm.custom.widget.user_comment}}
      </div>
    
      <div class="pci2-full-width pci2-flex-row pci2-justify-end">
        <button type="submit" class="btn btn-success" style="margin: 5px 0">
          Submit  
        </button>
      </div>  
    
    </div>
  {{=commentForm.custom.end}}
{{pass}}

{{if scrollToCommentForm == True:}}
  <script>
      $(document).ready(function () {
        // Handler for .ready() called.
        $('html, body').animate({
          scrollTop: ($('#comments-form-anchor').offset().top)
        }, 'slow');
      });
  </script>
{{pass}}