
{{if 'statusTitle' in locals() and statusTitle:}}
<div id="pci-ArticleHeader">
{{=statusTitle}}
</div>
{{pass}}

<div class="pci2-justify-center">
  <div style="max-width: 800px; width: 100%; margin-bottom: 35px;" class="pci2-flex-row">
	  {{if 'allowEditArticle' in locals() and allowEditArticle is True:}}    
    <a class="pci2-tool-link pci2-flex-row pci2-align-items-center" style="margin-right: 15px" 
      href="{{=URL(c='user', f='edit_my_article', vars=dict(articleId=articleId), user_signature=True)}}"
    >
			<i class="glyphicon glyphicon-edit pci2-secondary-color-text" style="margin:O; margin-right: 5px"></i>
		  Edit article 
	  </a>
    {{pass}}
    
    {{if 'allowManageRequest' in locals() and allowManageRequest is True:}}    
    <a class="pci2-tool-link pci2-flex-row pci2-align-items-center  pci2-yellow-link" style="margin-right: 15px"
      href="{{=URL(c='manager', f='edit_article', vars=dict(articleId=articleId), user_signature=True)}}"
    >
		  <i class="glyphicon glyphicon-edit" style="margin:O; margin-right: 5px"></i>
      Manage this request 
    </a>
    {{pass}}
    
    {{if 'allowManageRecomms' in locals() and allowManageRecomms is True:}}
    <a class="pci2-tool-link pci2-flex-row pci2-align-items-center pci2-yellow-link" 
      href="{{=URL(c='manager', f='manage_recommendations', vars=dict(articleId=articleId), user_signature=True)}}"
    >
      <i class="glyphicon glyphicon-edit" style="margin:O; margin-right: 5px"></i>
      Manage recommendation 
    </a>
    {{pass}}
	
	  <div class="pci2-flex-grow"></div>
	
    <a class="pci2-tool-link pci2-flex-row pci2-align-items-center" target="_blank"
      href="{{=printableUrl}}"
    >
		Printable page
		<i class="glyphicon glyphicon-print"></i>
	  </a>
	
	</div>
</div>