<div class="footer-sub flex-item hide-desktop">
    <header>
      <h1 class="pci-h1">FOLLOW US</h1>
    </header>
    <hr class="hr-footer">
    <div class="footer-sub-text">
      <img src="{{=URL('static','images/pci-twitter.png')}}" id="pci-twitter">
      @PeerCommunityIn
    </div>

    <div class="hide-below-tablet">
      <header>
        <h1 class="pci-h1">SUPPORTERS</h1>
      </header>
      <hr class="hr-footer">
      <div class="footer-sub-text">
        <img class="img-supporter" src="{{=URL('static','images/inrae.jpg')}}"><br>
        <div id="ms">MAIN SPONSOR</div>
        <img class="img-supporter" src="{{=URL('static','images/leuven.jpg')}}"><br>
        <img class="img-supporter" src="{{=URL('static','images/liege.jpg')}}"><br>
        <img class="img-supporter" src="{{=URL('static','images/sorbonne.jpg')}}"><br>
        <a href="https://peercommunityin.org/pci-network/" target="_blank">
          <strong>ALL SUPPORTERS</strong><img class="arrow-links" src="{{=URL('static','images/pci-arrow-links-02.svg')}}">
        </a>
      </div>

    </div>
  </div>

  <div class="footer-sub flex-item recommenders hide-desktop">
    <header>
      <h1 class="pci-h1">RECOMMEN&shy;DERS</h1>
    </header>
    <hr class="hr-footer">
    <div class="footer-sub-text">
      CORINA LOGAN<br>
      ANNA EKLOF<br>
      JULIA ASTEGIANO<br>
      BEN PHILLIPS<br>
      CYRILLE GRAVEL<br>
      DOMINIQUE GRAVEL<br>
      TIM COULSON<br>
      FRANCOIS MASSOL<br>
      <strong>MORE RECOMMENDERS</strong><a href=""><img class="arrow-links" src="{{=URL('static','images/pci-arrow-links-02.svg')}}"></a>
    </div>

    <div class="hide-below-tablet">
      <header>
        <h1 class="pci-h1">MEMBERSHIPS & INDEXING</h1>
      </header>
      <hr class="hr-footer">
      <div class="footer-sub-text">
        <img class="img-supporter" src="{{=URL('static','images/europe-pmc.jpg')}}"><br>
        <img class="img-supporter" src="{{=URL('static','images/pubpeerlogo.png')}}"><br>
        <img class="img-supporter" src="{{=URL('static','images/altmetric.jpg')}}"><br>
        <img class="img-supporter-2" src="{{=URL('static','images/GSlogo.png')}}"><br>
        <img class="img-supporter-2" src="{{=URL('static','images/openairelogo.png')}}"><br>
        <img class="img-supporter-2" src="{{=URL('static','images/dimensionlogo.png')}}"><br>
        <a href="https://peercommunityin.org/pci-network/" target="_blank">
          <strong>SEE ALL</strong><img class="arrow-links" src="{{=URL('static','images/pci-arrow-links-02.svg')}}">
        </a>
      </div>
    </div>
  </div>

  <div class="footer-sub flex-item supporters show-below-tablet">
    <header>
      <h1 class="pci-h1">SUPPORTERS</h1>
    </header>
    <hr class="hr-footer">
    <div class="footer-sub-text">
      <img class="img-supporter" src="{{=URL('static','images/inrae.jpg')}}"><br>
      <div id="ms">MAIN SPONSOR</div>
      <img class="img-supporter" src="{{=URL('static','images/leuven.jpg')}}"><br>
      <img class="img-supporter" src="{{=URL('static','images/liege.jpg')}}"><br>
      <img class="img-supporter" src="{{=URL('static','images/sorbonne.jpg')}}"><br>
      <a href="https://peercommunityin.org/pci-network/" target="_blank">
        <strong>ALL SUPPORTERS</strong><img class="arrow-links" src="{{=URL('static','images/pci-arrow-links-02.svg')}}">
      </a>
    </div>
  </div>

  <div class="footer-sub flex-item memberships show-below-tablet">
    <header>
      <h1 class="pci-h1">MEMBERSHIPS & INDEXING</h1>
    </header>
    <hr class="hr-footer">
    <div class="footer-sub-text">
      <img class="img-supporter" src="{{=URL('static','images/europe-pmc.jpg')}}"><br>
      <img class="img-supporter" src="{{=URL('static','images/pubpeerlogo.png')}}"><br>
      <img class="img-supporter" src="{{=URL('static','images/altmetric.jpg')}}"><br>
      <img class="img-supporter-2" src="{{=URL('static','images/GSlogo.png')}}"><br>
      <img class="img-supporter-2" src="{{=URL('static','images/openairelogo.png')}}"><br>
      <img class="img-supporter-2" src="{{=URL('static','images/dimensionlogo.png')}}"><br>
      <a href="https://peercommunityin.org/pci-network/" target="_blank">
        <strong>SEE ALL</strong><img class="arrow-links" src="{{=URL('static','images/pci-arrow-links-02.svg')}}">
      </a>
    </div>
  </div>

  <div class="grey-footer footer-sub">
    <div class="flex-item first-flex">
      <img src="{{=URL('static','images/pci-logo.svg')}}">
    </div>
    <div class="flex-item sub-flex">
      <div class="footer-sub-text">
        ARTICLES<br>
        <a href="">
          Search articles
        </a><br>
        <a href="">
          All recommended articles
        </a><br>
      </div>
      <div class="footer-sub-text">
        ABOUT<br>
        <a href="">
          About PCI
        </a><br>
        <a href="">
          General Terms of use
        </a><br>
        <a href="">
          Code of conduct
        </a><br>
        <a href="">
          Supporting organisations
        </a><br>
        <a href="">
          Recommenders
        </a><br>
        <a href="">
          Thanks to reviewers
        </a><br>
        <a href="">
          Resources
        </a><br>
        <a href="">
          Contact & credits
        </a><br>
      </div>
      <div class="footer-sub-text">
        HELP<br>
        <a href="">
          How does it work?
        </a><br>
        <a href="">
          How to...?
        </a><br>
        <a href="">
          FAQs
        </a><br>
        <a href="">
          How should you cite an article?
        </a><br>
      </div>

    </div>

    <div class="footer-sub-text suffix">
      PCI Evol Biol is the first community
      of the non-profit organization
      Peer Community In. The goal
      of Peer Community In is to
      promote scientific knowledge.
      Authors of comments, reviews
      and recommendations retain
      copyright0 under CC BY-ND.
      Contact & credits. Publication
      director/directeur de la
      publication: Denis Bourguet. ISSN:
      2551-668X
    </div>
  </div>