<nav class="navbar">
    
      {{if auth.user:}}
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav', li_class='dropdown', ul_class='dropdown-menu')}}
        {{pass}}
        {{if response.help_about_menu:}}
          {{=MENU(response.help_about_menu, _class='nav navbar-nav bam', li_class='dropdown', ul_class='dropdown-menu')}}
        {{pass}}
        {{else:}}
        <div class="collapse navbar-collapse-alt navbar-ex1-collapse">
        <a href="/pci/default/index">
            <img src="{{=URL('static','images/small-background.png')}}" style="height:60px">
          </a>
      {{pass}}
      
    </div>
    <div class="main-logo">
      <a href="{{=URL(c='default', f='index')}}">
        <img src="{{=URL('static','images/pci-logo.svg')}}" id="pci-logo">
      </a>
    </div>

    {{if auth.user:}}
    <div class="container-fluid">
    {{else:}}
    <div class="container-fluid-alt">
    {{pass}}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" onclick="lock_body()" onmouseover="change_img()" onmouseout="change_back()">
          <img src="{{=URL('static','images/pci-burger-default.svg')}}" id="pci-burger">  
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav flex-container">
          <li class="flex-item"><a href="/" id="no-lefty">Home</a></li>
          <hr class="hr-nav hide-desktop">
          {{if not auth.user:}}
          <li class="flex-item" data-toggle="collapse" data-target="#articles-nav" onclick="subnavs(this)">
            <a>Articles</a>
            <div class="collapse subnav" id ="articles-nav">
              <ul>
                <li>
                  <a href="{{=URL('articles', 'recommended_articles')}}">
                    Search
                  </a>
                </li>
                <li>
                  <a href="{{=URL('articles', 'all_recommended_articles')}}">
                    Recommended Articles
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <hr class="hr-nav hide-desktop">
          
          {{pass}}
          <li class="flex-item" data-toggle="collapse" data-target="#about-nav" onclick="subnavs(this)">
            <a>About</a>
            <span class="caret"></span>
            <div class="collapse subnav" id ="about-nav">
              <ul>
                <li>
                  <a href="{{=URL('about', 'about')}}">
                    About
                  </a>
                </li>
                <li>
                  <a href="{{=URL('about', 'recommenders')}}">
                    Recommenders
                  </a>
                </li>
                <li>
                  <a href="{{=URL('about', 'thanks_to_reviewers')}}">
                    Thanks to reviewers
                  </a>
                </li>
                <li>
                  <a href="{{=URL('about', 'ethics')}}">
                    Code of conduct
                  </a>
                </li>
                <li>
                  <a href="{{=URL('about', 'contact')}}">
                    Contact & credits
                  </a>
                </li>
                <li>
                  <a href="{{=URL('about', 'gtu')}}">
                    General Terms of Use
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <hr class="hr-nav hide-desktop">
          <li class="flex-item" data-toggle="collapse" data-target="#help-nav" onclick="subnavs(this)">
            <a>Help</a>
            <span class="caret"></span>
            <div class="collapse subnav" id ="help-nav">
              <ul>
                <li>
                  <a href="{{=URL('help', 'help_generic')}}">
                    How does it work?
                  </a>
                </li>
                <li>
                  <a href="{{=URL('help', 'help_practical')}}">
                    How to...?
                  </a>
                </li>
                <li>
                  <a href="{{=URL('help', 'faq')}}">
                    FAQs
                  </a>
                </li>
                <li>
                  <a href="{{=URL('help', 'cite')}}">
                    How should you cite an article?
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <hr class="hr-nav hide-desktop">
          <li class="flex-item hide-desktop">
            {{if auth.user:}}
            <a href="{{=URL(c='default', f='user', args=['logout'])}}" class="btn btn-default" id="cyp-logout-button">
              {{=T('Log out')}}
            </a>
            {{ else: }}
              <a href="{{=URL(c='default', f='user', args=['login'])}}" class="btn btn-default" id="cyp-login-button">
                {{=T('Log in')}}
              </a>
            {{ pass }}
          </li>
          {{if 'searchForm' in locals():}}
            <li class="flex-item search-btn">
              {{=searchForm}}
            </li>
          {{ pass}}
          <hr class="hr-nav hide-desktop">
        </ul>
      </div>
    </div>
  </nav>
