<div
  id="pci-small-header"
  style="padding-bottom: 7.5px; border-bottom: 1px solid #f4f4f4;"
  class="pci2-flex-row pci2-align-items-center"
>
 
  {{if 'titleIcon' in locals():}}
  <i
    class="glyphicon glyphicon-{{=titleIcon}} pci-icon-title"
  ></i>
  {{pass}} 

  {{if 'uneditableTitle' in locals():}} 
    {{if 'titleIcon' in locals():}}
      <div
        class="pci-pageTitleText pci-pageTitleText-gab pci-pageTitleText-gab-grey"
      >
        {{=DIV(pageTitle, _class="pci-text-title")}}
      </div>
    {{else:}}
      <div class="pci-pageTitleText pci-pageTitleText-gab" style="align-items: center;">
        {{=H1(pageTitle, _style="margin: 0")}}
      </div>
    {{pass}} 
    
  {{else:}} 
    {{if 'titleIcon' in locals():}}
        <div class="pci-pageTitleText pci-pageTitleText-gab pci-pageTitleText-gab-grey">
          {{=pageTitle}}
        </div>
    {{else:}}
        <div class="pci-pageTitleText pci-pageTitleText-gab">{{=pageTitle}}</div>
    {{pass}} 
  {{pass}}
</div>
