<div class="pci2-flex-center pci2-recommendation-green-banner">
  <h2>Recommendation</h2>
</div>

<div class="pci2-recomm-title">
  {{=H1(recommTitle)}}
  {{=I(recommAuthor)}}
</div>

{{=SPAN('A recommendation of:', _class='pci-recommOf')}}
<div
  class="pci2-flex-row pci2-article-row pci2-article-row-short"
>
  <div
    class="pci2-flex-column  pci2-article-left-div pci2-article-left-div-short"
  >
    <div class="pci2-flex-center pci2-flex-grow pci2-article-image-div">
      {{=articleImg}} {{if articleImg == '':}}
      <img src="{{=URL('static', 'images/small-background.png')}}" alt="toto" />
      {{pass}}
    </div>
  </div>

  <div class="pci2-flex-row pci2-flex-center">
    <div class="pci2-flex-column pci2-flex-grow">
      <h3>{{=articleTitle}}</h3>
      <span class="pci2-article-infos">{{=articleAuthor}}</span>
      <span class="pci2-article-infos">{{=articleDoi}}</span>
      <span class="pci2-article-infos">{{=articleVersion}}</span>
    </div>

    <div>
      {{=altmetric}}
    </div>
  </div>
</div>

<div>
  {{=DIV(recommDateinfos, _class="pci2-recomm-date")}}
  {{=DIV(recommText, _class="pci2-recomm-text")}}
  {{=DIV(cite)}}
</div>