
#pci-small-header {
    animation: fadefromLeft 0.7s ease;
    margin: 0 15px;
    display: flex;
    flex-direction: row;
}

#pci-small-header>a {
    margin: 0 15px;
}

.pci-myTitleText-gab {
    display: flex;
    flex: 1;
    margin-left: 15px;
}

.pci-myTitleText-gab>.pci-infotextbox {
    color: #598398;
}

.pci-myTitleText-gab-grey>.pci-infotextbox {
    color: #888;
}

.pci-myTitleText-gab-grey>h1 {
    color: #888;
}

.pci-myTitleText-gab>.pci-infotextbox {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pci-myTitleText-gab .pci-text-buttons {
    justify-content: flex-end;
    /* align-content: flex-end; */
    text-align: right;
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    /* width: auto; */
}

.pci-text-button-edit {
    margin-top: -11px
}