Dear %(destPerson)s,
<p>
  A peer-review evaluation of a preprint by <i>%(articleAuthors)s</i> and
  entitled <b>%(articleTitle)s</b> (DOI %(articleDoi)s) is currenlty handled by
  the recommender %(recommenderPerson)s. This recommender declared you as a
  co-recommender and, as such, as a co-author of the recommendation if he/she
  decides to recommend this preprint. The reviews and the recommendation text
  can be viewed by clicking on this link:
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging onto the
  <i>%(appname)s</i> website and going to 'Your contributions —> Your
  co-recommendations' in the top menu.
</p>
<p>
  We remind you that a preprint is recommended if, and only if it is
  scientifically valid and of high quality and the code of conduct has been
  followed. The decision to recommend a preprint must be based on high-quality
  reviews. We also remind you that, the recommendation text, all the editorial
  correspondence (reviews, decisions, your recommendation and authors’ replies)
  will be published by <i>%(appname)s</i>. Being a co-recommender for this
  preprint means that you share full responsibility with the recommender for the
  public recommendation of this preprint.
</p>
<p>
  If you do not wish to be a co-recommender of this preprint, please contact us
  as soon as possible. Otherwise, we thank you for this contribution to
  <i>%(appname)s</i>.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
