Dear %(destPerson)s,
<p>
  A recommendation text for the %(articlePrePost)s by
  <i>%(articleAuthors)s</i> and entitled <b>%(articleTitle)s</b> (DOI
  %(articleDoi)s) is under consideration. You have been declared as a
  co-recommender of this %(articlePrePost)s. You can view the recommendation by
  following this link <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging
  onto the <i>%(appname)s</i> website and going to 'Your contributions —> Your
  co-recommendations' in the top menu.
</p>
<p>
  We are currently handling this recommendation; it will probably be rapidly
  posted on the <i>%(appname)s</i> website.
</p>
<p>
  If you do not wish to co-author this recommendation, please contact us as soon
  as possible. Otherwise, we thank you for co-writing this recommendation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
