Dear %(destPerson)s,
<p>
  You are co-recommender of the article by %(articleAuthors)s entitled
  <b>%(articleTitle)s</b> (DOI %(articleDoi)s).
</p>
<p>
  The status of this article has changed from "%(tOldStatus)s" to
  "%(tNewStatus)s".
</p>
<p>
  You can view the evaluation process by following this link:
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging onto the
  <i>%(appname)s</i> website and going to 'Your contribtions —> Your
  co-recommendations' in the top menu.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
