<div
  style="background-color:#f0f0f0; padding:8px; margin-top:8px; margin-left:8px; margin-right:8px;"
>
  <i>%(appname)s</i> is one of the communities of the parent project Peer
  Community In. It is a community of researchers in %(appthematics)s dedicated
  to the recommendation of preprints publicly available from open archives (such
  as bioRxiv, arXiv, PaleorXiv, etc.), based on a high-quality peer-review
  process. This project was driven by a desire to establish a free, transparent
  and public scientific publication system based on the review and
  recommendation of preprints. More information can be found on the website of
  <i>%(appname)s</i>&nbsp; (<a href="%(baseurl)s">%(baseurl)s</a>).<br />
  In case of any questions or queries, please use the following e-mail:
  <a href="mailto:%(contact)s">%(contact)s</a>.<br />
  If you wish to modify your profile or the fields and frequency of alerts,
  please click on 'Profile' in the top-right 'Welcome' menu or follow this link:
  <a href="%(profileurl)s">%(profileurl)s</a>.
</div>
