Dear %(destPerson)s,
<p>
  You have recently joined the Managing Board of <i>%(appname)s</i>. We thank
  you warmly for agreeing to join the Board and for your time and support for
  this community.
</p>
<p>
  The members of the Managing Board of <i>%(appname)s</i> are responsible for
  accepting/rejecting new recommenders. They also deal with any problems arising
  between authors and the recommenders who have evaluated/recommended their
  articles. They detect and deal with dysfunctions of <i>%(appname)s</i>, and
  may exclude recommenders, if necessary. They also rapidly check the quality of
  formatting and deontology for the reviews and recommendations published by
  <i>%(appname)s</i>. Finally, members of the Managing Board of
  <i>%(appname)s</i> are members of the non-profit organization “Peer Community
  in”. This non-profit organization is responsible for the creation and
  functioning of the various Peer Communities in….
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
