Dear %(destPerson)s,
<p>
  You are now a recommender of <i>%(appname)s</i>. We thank you for your time
  and support.
</p>
<p>
  The role of a recommender is very similar to that of a journal editor (finding
  reviewers, collecting reviews, making editorial decisions based on reviews),
  with the possibility of recommending the preprints you have chosen to handle
  after one or after several rounds of reviews. The evaluation process is
  designed to guide decisions as to whether to ‘Revise’, ‘Recommend’ or ‘Reject’
  the preprint.
</p>
<p>
  A preprint recommended by <i>%(appname)s</i> is an article that may be used
  and cited like any ‘classic’ article published in a peer-reviewed journal. If
  you decide to recommend a preprint, you will need to write a “recommendation”,
  which will have its own DOI and be published by <i>%(appname)s</i> under the
  license CC-BY-ND. The recommendation is a short article, similar to a News &
  Views piece. It has its own title, contains between about 300 and 1500 words,
  describes the context and explains why the preprint is particularly
  interesting. The limitations of the preprint can also be discussed. This text
  also contains references (citing, at least, the preprint being recommended).
  All the editorial correspondence (reviews, your decisions, authors’ replies)
  will also be published by <i>%(appname)s</i>.
</p>
<p>As a recommender for <i>%(appname)s</i>,</p>
<ul>
  <li>
    You can recommend up to five articles per year. Details about the
    recommendation process can be found here
    <a href="%(helpurl)s">%(helpurl)s</a> and in this short
    <a href="https://youtu.be/u5greO-q8-M">video</a>.
  </li>
  <li>
    You will be expected to comply with the code of conduct of
    <i>%(appname)s</i>, which can be found here:
    <a href="%(ethicsurl)s">%(ethicsurl)s</a>
  </li>
  <li>
    You are eligible for selection as a member of the Managing Board for a
    period of two years.
  </li>
  <li>
    You will be notified about new articles recommended by <i>%(appname)s</i>,
    according to your requested notification frequency and fields of interest.
  </li>
  <li>
    You will also receive requests to intiate preprint evaluations in your
    fields of interest with a view to recommending them.
  </li>
  <li>
    You can propose the nomination of new recommenders to the Managing Board.
    <p>
      Thanks again for your interest, your help and your support.
    </p>
    <p>
      Yours sincerely,
    </p>
    <p>
      <span style="padding-left:1in;"
        >The Managing Board of <i>%(appname)s</i></span
      >
    </p>
  </li>
</ul>
