Dear %(destPerson)s,
<p>
  You have recently joined <i>%(applongname)s</i>. Thank you for your interest
  and for registering with us.
</p>
<p>
  More information about <i>%(appname)s</i> can be found here
  <a href="%(baseurl)s">%(baseurl)s</a> and in this
  <a href="https://www.youtube.com/watch?v=4PZhpnc8wwo">video</a>.
</p>
<p>
  As a user, you can submit your preprints to <i>%(appname)s</i> for evaluation
  and recommendation - and find five good reasons to do so in this short
  <a href="https://www.youtube.com/watch?v=jMhVl__gupg">video</a>. Briefly, your
  preprints must first be deposited on a preprint server, such as bioRxiv, and
  you must choose between A) exclusive submission to <i>%(appname)s</i>, or B)
  parallel submission with journals. Please go to
  <a href="%(infourl)s">%(infourl)s</a> for more information on these options.
</p>
<p>
  When submitting your preprints, you are allowed to suggest recommenders. A
  recommender is very similar to a journal editor (responsible for finding
  reviewers, collecting reviews, and making editorial decisions based on
  reviews), and may eventually recommend your preprint after one or several
  rounds of reviews. A preprint recommended by <i>%(applongname)s</i> is an
  article that may be used and cited like any ‘classic’ article published in a
  peer-reviewed journal.
</p>
<p>
  Once you have submitted your preprint, one of the recommenders you suggest, or
  any other recommenders from the community may express an interest in
  initiating the evaluation process for your preprint, which will involve
  sending your preprint out for peer review.
</p>
<p>
  If you wish to submit a preprint, please click on the "Submit a preprint"
  button on the home page of the <i>%(appname)s</i> website.
</p>
<p>
  As a user, you will also receive alerts every %(days)s concerning
  recommendations in the following fields published on the
  <i>%(applongname)s</i> web site: %(thematics)s.
</p>
<p>
  Finally, if you are interested in becoming a recommender for
  <i>%(appname)s</i> -
  <a href="https://www.youtube.com/watch?v=2BDrPoHGkn0">see video</a> - please
  contact a current recommender in your field via this link
  <a href="%(recommurl)s">%(recommurl)s</a>.
</p>
<p>Thanks again for your interest and for joining <i>%(applongname)s</i>.</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(applongname)s</i></span
  >
</p>
