Dear %(destPerson)s,
<p>
  %(reviewerPerson)s has declined your invitation to review the preprint
  entitled <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s).
</p>
<p>
  You will need to find another reviewer to obtain the two high-quality reviews
  required. You can invite additional reviewers by following this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging onto the
  <i>%(appname)s</i> website and going to 'Your contributions —> Preprints you
  are handling' in the top menu.
</p>
<p>
  We thank you again for managing this evaluation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
