Dear %(destPerson)s,
<p>
  Your recommendation - along with the reviews - is now posted on the
  <i>%(appname)s</i> website.
</p>
<p>You can find it there: <a href="%(doiRecomm)s">%(doiRecomm)s</a></p>
<p>And there: <a href="%(linkRecomm)s">%(linkRecomm)s</a></p>
<p>
  You will find the reference to your recommendation and that of the recommended
  article.
</p>
<p>
  Do not hesitate to share the news as much as possible: social networks if you
  are on them, mailing, websites, CV, quotation, etc...
</p>
<p>Thanks again for recommending this article for <i>%(appname)s</i>.</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
