Dear %(destPerson)s,
<p>
  %(contributorPerson)s has declined your invitation to co-sign the
  recommendation of the postprint entitled <b>%(articleTitle)s</b>.
</p>
<p>
  You may check your recommendation by following this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging to the
  <i>%(appname)s</i> website and going to 'Your contributions —> Your
  recommendations of postprints' in the top menu. You may invite another
  recommender to co-sign your recommendation if you wish.
</p>
<p>
  We thank you again for writing this recommendation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
