Dear %(destPerson)s,
<p>
  You have agreed to be the recommender handling the preprint entitled
  <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s). Thank you
  very much for your contribution.
</p>

<p>
  <b
    >We remind you that you have agreed to send out 5-10 invitations to review
    this preprint within the next 24 h</b
  >, and to send out reminders and/or new invitations, over a period of one week
  if necessary, until you find at least two reviewers willing to review this
  preprint within three weeks. We thank you in advance for respecting this
  commitment.
</p>

<p>
  Invitations to review can be sent using this link
  <a href="%(linkTarget)s">%(linkTarget)s</a>. You can also log on to the
  <i>%(appname)s</i> website and go to 'Your contributions —> Preprints you are
  handling' in the top menu, and click on the 'choose a reviewer' button.
</p>

<p>
  The reviews you receive should guide your decision –
  <b>within 10 days of receiving the last review</b> – as to whether to
  ‘Revise’, ‘Recommend’ or ‘Reject’ the preprint.
</p>

<p>
  If your decision is to ‘Recommend’ this preprint, you will need to write a
  “recommendation”, which will have its own DOI and be published by
  <i>%(appname)s</i> under the license CC-BY-ND. The recommendation is a short
  article, similar to a News & Views piece. It has its own title, contains
  between about 300 and 1500 words, describes the context and explains why the
  preprint is particularly interesting. The limitations of the preprint can also
  be discussed. This text also contains references (citing, at least, the
  preprint being recommended). All editorial correspondence (reviews, your
  decisions, authors' replies) relating to the preprint will also be published
  by <i>%(appname)s</i>.
</p>

<p>
  The authors have chosen to submit elsewhere in parallel. As there is a chance
  that the manuscript is accepted for publication elsewhere and consequently the
  authors might abandon the process at <i>%(appname)s</i>, we have the following
  mechanism to ensure reviewers’ work is respected and documented. If the
  authors abandon the process at <i>%(appname)s</i> after reviewers have written
  their reports, you should post the reviewers' reports on the
  <i>%(appname)s</i> website as recognition of the reviewers' work and in order
  to enable critical discussion. Note that there remains the outcome of
  rejection by you, wherein reports are not made public.
</p>
<p></p>
<p>
  If you need assistance in any way do not hesitate to ask us.
</p>
<p>
  We thank you again for initiating and managing this evaluation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
<p></p>
