Dear %(destPerson)s,
<p>
  %(reviewerPerson)s has accepted your invitation to review the preprint
  entitled <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s),
  and has been sent a message indicating that this review must be posted or
  uploaded on the <i>%(appname)s</i> website before %(dueTime)s.
</p>
<p>
  You will receive a message notifying you of the posting of this review. If the
  review is not posted by the deadline, you can send the reviewer a reminder by
  following this link <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging
  on to the <i>%(appname)s</i> website and going to 'Your contributions —>
  Preprints you are handling' in the top menu.
</p>
<p>
  We thank you again for managing this evaluation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
