Dear %(destPerson)s,
<p>
  The authors of the preprint entitled <b>%(articleTitle)s</b> and submitted by
  %(articleAuthors)s have posted their revised version and their replies to your
  comments and those of the reviewers. They may also have uploaded (as a PDF or
  Word file) a revised version of their preprint, with the modifications
  indicated in TrackChanges mode and a clean version of their PDF at this
  address <a href="%(linkTarget)s">%(linkTarget)s</a> (see also attachments in
  this email).
</p>

<p>
  For this new round of evaluation, you must reach a decision to ‘Revise’,
  ‘Recommend’ or ‘Reject’ the article.
</p>

<p>
  Please send us a message at %(mailManagers)s within one week – i.e. before
  %(deadline)s –
  <b
    >to let us know whether you wish to send it out again for peer review or
    whether you will make your decision without further review within the next
    10 days</b
  >
  (and preferentially within a week). If you need more time, please let us know
  by return mail.
</p>

<p>
  Finally, note that we asked the authors to make the following compulsory
  changes on their article. We would be happy if you could check that they have
  been done:
</p>
<p>
  1) Data must be available to readers after recommendation, either in the text
  or through an open data repository such as Zenodo (free), Dryad (to pay) or
  some other institutional repository. Data must be reusable, thus metadata or
  accompanying text must carefully describe the data;
</p>
<p>
  2) Details on quantitative analyses (e.g., data treatment and statistical
  scripts in R, bioinformatic pipeline scripts, etc.) and details concerning
  simulations (scripts, codes) must be available to readers in the text, as
  appendices, or through an open data repository, such as Zenodo, Dryad or some
  other institutional repository. The scripts or codes must be carefully
  described so that they can be reused;
</p>
<p>
  3) Details on experimental procedures must be available to readers in the text
  or as appendices;
</p>
<p>
  4) Authors must have no financial conflict of interest relating to the
  article. The article must contain a "Conflict of interest disclosure"
  paragraph before the reference section containing this sentence: "The authors
  of this article declare that they have no financial conflict of interest with
  the content of this article.";
</p>
<p>
  5) This disclosure has to be completed by a sentence indicating that some of
  the authors are PCI recommenders: “XY is one of the
  <i>%(appname)s</i> recommenders.”
</p>
<p>
  We look forward to your decision. Thanks in advance!
</p>

<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
