Dear %(destPerson)s,
<p>
  A few days ago, you were suggested as a recommender for a preprint entitled
  <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s). You can
  obtain information about this request and accept or decline this invitation by
  following this link <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging
  on to the <i>%(appname)s</i> website and going to 'Requests for input —> Do
  you agree to initiate a recommendation?' in the top menu.
</p>
<p>
  The role of a recommender is very similar to that of a journal editor (finding
  reviewers, collecting reviews, taking editorial decisions based on reviews),
  and may lead to the recommendation of the preprint after several rounds of
  reviews. The evaluation forms the basis of the decision to ‘Revise’,
  ‘Recommend’ or ‘Reject’ the preprint. A preprint recommended by
  <i>%(appname)s</i> is an article that may be used and cited like the ‘classic’
  articles published in peer-reviewed journals.
</p>
<p>
  If after one or several rounds of review, you decide to recommend this
  preprint, you will need to write a “recommendation” that will have its own DOI
  and be published by <i>%(appname)s</i> under the license CC-BY-ND. The
  recommendation is a short article, similar to a News & Views piece. It has its
  own title, contains between about 300 and 1500 words, describes the context
  and explains why the preprint is particularly interesting. The limitations of
  the preprint can also be discussed. This text also contains references
  (citing, at least, the preprint being recommended). All the editorial
  correspondence (reviews, your decisions, authors’ replies) will also be
  published by <i>%(appname)s</i>.
</p>
<p>
  If you agree to handle this preprint, you will be responsible for managing the
  evaluation process until you reach a final decision (i.e. to recommend or
  reject this preprint). You will be able to invite, through the
  <i>%(appname)s</i> website, reviewers included in the
  <i>%(appname)s</i> database or from your own network.
</p>
<p>
  Details about the recommendation process can be found here
  <a href="%(helpurl)s">%(helpurl)s</a>. You can also watch this short video:
  <a href="https://youtu.be/u5greO-q8-M"
    >How to start and manage a preprint recommendation</a
  >.
</p>
<p>
  Thanks again for your help.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
