Dear %(destPerson)s,
<p>
  You have been suggested as a recommender for a preprint entitled
  <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s). This
  preprint has also attracted the attention of another
  <i>%(appname)s</i> recommender, who has initiated its evaluation.
  Consequently, this preprint no longer appears in your list of requests to act
  as a recommender on the <i>%(appname)s</i> webpage.
</p>

<p>
  If you would still like to participate in the evaluation of this preprint,
  please send us an e-mail at %(mailManagers)s. We will inform the recommender
  handling the edo_send_email_to_suggested_recommenders_uselessvaluation process
  of your willingness to participate and he/she may then contact you.
</p>

<p>
  We hope that, in the near future, you will have the opportunity to initiate
  the evaluation of another preprint.
</p>
<p>
  Thank you for your support.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
