Dear %(destPerson)s,
<p>
  We are pleased to inform you that the peer-review process concerning your
  article entitled <b>%(articleTitle)s</b> has reached a favorable conclusion. A
  recommendation text written by the recommender has now been published by
  <i>%(appname)s</i>. The editorial correspondence (reviews, author’s responses
  and recommender’s decisions) has also been published by <i>%(appname)s</i>.
</p>
<p>You can find it there: <a href="%(doiRecomm)s">%(doiRecomm)s</a></p>
<p>And there: <a href="%(linkTarget)s">%(linkTarget)s</a></p>
<p>
  You will find there, the reference to your recommendation and that of your
  recommended preprint.
</p>
<p>
  Do not hesitate to share the news as much as possible: social networks if you
  are on them, mailing, websites, CV, quotation, etc...
</p>
<p>
  If you intend to submit your article to a PCI friendly journal (see the list
  here https://peercommunityin.org/pci-friendly-journals/) together with the PCI
  evaluations, you should send us a email at %(contact)s with the name of the
  journal(s). We can then provide you with specific informations about this
  journals if we have some.
</p>
<p>
  Thank you for using <i>%(appname)s</i>. We hope that you will submit other
  preprints in the future and will tell your colleagues about
  <i>%(appname)s</i>.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
