Dear %(destPerson)s,
<p>
  Your article, entitled <b>%(articleTitle)s</b>, has now been reviewed. The
  referees' comments and the recommender’s decision are shown below. As you can
  see, the recommender found your article very interesting, but suggests certain
  revisions.
</p>
<p>
  We shall, in principle, be happy to recommend your article as soon as it has
  been revised in response to the points raised by the referees.
</p>
<p>
  When revising your article, we remind you that:
</p>
<p>
  1) Data must be available to readers, either in the text or through an open
  data repository such as Zenodo (free), Dryad (to pay) or some other
  institutional repository. Data must be reusable, thus metadata or accompanying
  text must carefully describe the data;
</p>
<p>
  2) Details on quantitative analyses (e.g., data treatment and statistical
  scripts in R, bioinformatic pipeline scripts, etc.) and details concerning
  simulations (scripts, codes) must be available to readers in the text, as
  appendices, or through an open data repository, such as Zenodo, Dryad or some
  other institutional repository. The scripts or codes must be carefully
  described so that they can be reused;
</p>
<p>
  3) Details on experimental procedures must be available to readers in the text
  or as appendices;
</p>
<p>
  4) Authors must have no financial conflict of interest relating to the
  article. The article must contain a "Conflict of interest disclosure"
  paragraph before the reference section containing this sentence: "The authors
  of this article declare that they have no financial conflict of interest with
  the content of this article.";
</p>
<p>
  5) This disclosure has to be completed by a sentence indicating, if
  appropriate, that some of the authors are PCI recommenders: “XY is one of the
  <i>%(appname)s</i> recommenders.”.
</p>
<p>
  When your revised article is ready, please:
</p>
<p>
  1) Upload the new version of your manuscript onto your favorite open archive;
</p>
<p>
  2) Follow this link <a href="%(linkTarget)s">%(linkTarget)s</a> or logging
  onto the <i>%(appname)s</i> website and go to 'your contributions' section and
  then to 'Your submitted preprints' subsection in the top menu;
</p>
<p>
  3) Make your changes to the title, summary, link to the article (or its DOI)
  and keywords if necessary by clicking on the 'Edit Article' button. If not
  already done, you also need to upload a picture or an illustration for which
  you own the rights – this picture will be used to illustrate your article, if
  recommended;
</p>
<p>
  4) Write, copy/paste or upload (as a PDF file) your reply to the recommender's
  and reviewers' comments by clicking on the 'Write, edit or upload your reply
  to recommender' button. You can also upload (as a PDF file) a revised version
  of your article, with the modifications indicated in TrackChanges mode;
</p>
<p>
  5) When you are ready to submit your new version, click on the 'Save & submit
  your reply' button.
</p>
<p>
  Once the recommender has read the revised version, he/she may decide to
  recommend it directly, in which case the editorial correspondence (reviews,
  recommender’s decisions, authors’ replies) and a recommendation text will be
  published by <i>%(appname)s</i> under the license CC-BY-ND.
</p>
<p>
  Alternatively, other rounds of reviews may be needed before the recommender
  reaches a favorable conclusion. He/she may also reject your article, in which
  case the reviews and decision will be sent to you, but they will not be
  published or publicly released by <i>%(appname)s</i>. They will be safely
  stored in our database, to which only the Managing Board has access. You will
  be notified by e-mail at each stage in the procedure.
</p>
<p>
  We thank you in advance for submitting your revised version.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
