Dear %(destPerson)s,
<p>
  You have submitted your preprint entitled <b>%(articleTitle)s</b> to
  <i>%(appname)s</i>.
</p>
<p>
  Unfortunately, no recommender has initiated the evaluation of your preprint
  since the request was made %(unconsider_limit_days)s days ago. This does not
  mean that your preprint is not of sufficient quality and/or interest. However,
  we suggest that you do not wait any longer for a return from us at this stage.
</p>
<p>
  We are sorry to bring disappointing news and hope that that you will consider
  submitting other preprints to <i>%(appname)s</i> in the future.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
