Dear %(destPerson)s,
<p>
  Thank you for your submission, on behalf of all the authors, of your preprint
  entitled <b>%(articleTitle)s</b>, to <i>%(appdesc)s</i> (<i>%(appname)s</i>).
</p>
<p>
  We remind you that this preprint must not be published or submitted for
  publication elsewhere. If this preprint is sent out for review, you must not
  submit it to a journal until the evaluation process is complete (ie until it
  has been rejected or recommended by <i>%(appname)s</i>).
</p>
<p>
  If you have not already done so, you need to suggest recommenders who could
  initiate the evaluation of your preprint. A recommender is very similar to a
  journal editor (responsible for finding reviewers, collecting reviews, and
  making editorial decisions based on reviews), and may eventually recommend
  your preprint after one or several rounds of reviews.
</p>
<p>
  Please remember that <i>%(appname)s</i> is under no obligation to consider
  your preprint. We cannot guarantee that your preprint will be reviewed, but
  all possible efforts will be made to make this possible. By submitting your
  preprint to <i>%(appname)s</i>, you agree to wait until a recommender
  initiates the evaluation process, within a maximum of
  %(unconsider_limit_days)s days. You will be notified by e-mail if a
  recommender of the <i>%(appname)s</i> decides to start the peer-review process
  for your preprint.
</p>
<p>
  If after one or several rounds of reviews, the <i>%(appname)s</i> recommender
  handling your preprint reaches a favorable conclusion, all the editorial
  correspondence (reviews, recommender’s decisions, authors’ replies) and a
  recommendation text will be published by <i>%(appname)s</i> under the license
  CC-BY-ND. If recommended by <i>%(appname)s</i> your preprint would become an
  article that may be used and cited like any ‘classic’ article published in a
  peer-reviewed journal.
</p>
<p>
  Alternatively, if the recommender decides not to recommend your article, the
  reviews and the decision will be sent to you, but they will not be published
  or publicly released by <i>%(appname)s</i>. They will be safely stored in our
  database, to which only the Managing Board has access. You will be notified by
  e-mail at each stage in the procedure.
</p>
<p>
  %(parallelText)s To view or cancel your recommendation request, please follow
  this link <a href="%(linkTarget)s">%(linkTarget)s</a> or logging onto the
  <i>%(appname)s</i> website and go to 'Your contributions —> Your submitted
  preprints' in the top menu.
</p>

<p>
  We thank you again for your submission.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
