Dear %(destPerson)s,
<p>
  Your preprint entitled <b>%(articleTitle)s</b> has been evaluated by at least
  two referees. On the basis of these reviews, we regret to inform you that the
  <i>%(appname)s</i> recommender in charge of this evaluation has decided not to
  recommend it.
</p>
<p>
  The reviews and the recommender’s decision are shown below. These reviews and
  the decision will not be published or publicly released by <i>%(appname)s</i>.
  They will be safely stored in our database, to which only the Managing Board
  has access.
</p>
<p>
  We are sorry to bring disappointing news and hope that you will consider
  submitting other preprints to <i>%(appname)s</i> in the future.
</p>
<p>
  We thank you again for your submission.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
