Dear %(destPerson)s,
<p>
  You have submitted your preprint entitled <b>%(articleTitle)s</b> to
  <i>%(appname)s</i>. We are pleased to inform you that a
  <i>%(appname)s</i> recommender has initiated the evaluation process.
</p>
<p>
  At this stage of the process, your article will be sent to several referees,
  to ensure that at least two high-quality reviews are obtained. Based on this
  review, the recommender will reject, recommend or ask you to modify your
  article and to respond to the questions and points raised by the reviewers.
  The mean time to this first decision is about %(recomm_limit_days)s days.
</p>
<p>
  If after one or several rounds of reviews, the recommender handling your
  preprint reaches a favorable conclusion, all the editorial correspondence
  (reviews, recommender’s decisions, authors’ replies) and a recommendation text
  will be published by <i>%(appname)s</i> under the license CC-BY-ND. If
  recommended by <i>%(appname)s</i>, your preprint will become an article that
  may be used and cited like any ‘classic’ article published in a peer-reviewed
  journal.
</p>
<p>
  Alternatively, if the recommender decides not to recommend your article, the
  reviews and the decision will be sent to you, but they will not be published
  or publicly released by <i>%(appname)s</i>. They will be safely stored in our
  database, to which only the Managing Board has access. You will be notified by
  e-mail at each stage of the procedure.
</p>
<p>
  You have selected the option of submitting elsewhere in parallel. We encourage
  you to finish the peer-review process with <i>%(appname)s</i> even if your
  manuscript is accepted for publication elsewhere. Please note that if this
  does happen and you abandon the process with <i>%(appname)s</i> after
  reviewers have contributed their time toward evaluation, we will post the
  reviewers' reports on the <i>%(appname)s</i> website as recognition of the
  reviewers' work and in order to enable critical discussion. If you do not
  agree with this, please consider cancelling your submission now, before
  reviewers are recruited.
</p>
<p>
  To view your recommendation request, please follow this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or log onto the
  <i>%(appname)s</i> website and go to 'Your contributions —> Your submitted
  preprints' in the top menu.
</p>
<p>
  We thank you again for your submission.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
