Dear %(destPerson)s,
<p>
  The status of your preprint entitled <b>%(articleTitle)s</b> has changed from
  "%(tOldStatus)s" to "%(tNewStatus)s".
</p>
<p>
  You can view, edit or cancel your request by following this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging onto the
  <i>%(appname)s</i> website and going to 'Your contributions —> Your submitted
  preprints' in the top menu.
</p>
<p>
  We thank you again for your submission.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
