Dear %(destPerson)s,
<p>
  The submission of your preprint entitled <b>%(articleTitle)s</b> has been
  cancelled. We respect your decision, and hope that you will submit other
  preprints to <i>%(appdesc)s</i> (<i>%(appname)s</i>) in the near future.
</p>
<p>
  If your manuscript was sent to reviewers and evaluated, we will add a link to
  the reports on our progress log page. This is because you chose the parallel
  submission option and we do not wish to waste the effort that went into
  evaluating your work. This provides reviewers a possibility to claim credit
  for their evaluation work and, in addition to being useful to your team, we
  hope the reports are useful discussion points for other researchers in the
  field.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
