Dear %(destPerson)s,
<p>
  You have agreed to review the preprint entitled <b>%(articleTitle)s</b>. The
  status of this preprint is now: %(articleStatus)s. To view your review, the
  reviews of the other referees and the decision taken by the recommender,
  please follow this link <a href="%(linkTarget)s">%(linkTarget)s</a> or login
  to the <i>%(appname)s</i> website and go to 'Your contributions —> My reviews'
  in the top menu.
</p>

<p>
  We thank you for the time spent evaluating this preprint.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
