Dear %(destPerson)s,
<p>
  The article that you kindly reviewed for <i>%(appname)s</i> is now
  recommended. The recommendation of this article - along with your reviews - is
  now posted on <i>%(appname)s</i> website.
</p>
<p>You can find it there: <a href="%(recommDOI)s">%(recommDOI)s</a></p>
<p>And there: <a href="%(linkRecomm)s">%(linkRecomm)s</a></p>
<p>
  Do not hesitate to share the news as much as possible: social networks if you
  are on them, mailing, websites, CV, quotation, etc... Thanks again for
  reviewing this article for <i>%(appname)s</i>.
</p>

<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
