Dear %(destPerson)s,
<p>
  The review by %(reviewerPerson)s of the preprint entitled
  <b>%(articleTitle)s</b> is now available.
</p>

<p>
  You can view and/or upload this review and manage your recommendation by
  following this link <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging
  onto the <i>%(appname)s</i> website and going to 'Your contributions —> Your
  recommendations of preprints' in the top menu.
</p>

<p>
  <b>If all the reviews have now been completed</b> and returned,
  <b>we now expect you</b>, according to your commitment as a recommender of the
  preprint, <b>to make a decision within a few days</b>. If you need more time,
  please let us know by return mail.
</p>

<p>
  We remind you that this decision must be: ‘Revise’, ‘Recommend’ or ‘Reject’
  the preprint.
</p>

<p>
  If you decide to recommend this preprint, you will need to write a
  "recommendation" that will have its own DOI and will be published by
  <i>%(appname)s</i> under the license CC-BY-ND. The recommendation is a short
  article, similar to a News & Views piece. It has its own title, contains
  between about 300 and 1500 words, describes the context and explains why the
  preprint is particularly interesting. The limitations of the preprint can also
  be discussed. This text also contains references (citing, at least, the
  preprint being recommended). All the editorial correspondence (reviews, your
  decisions, authors’ replies) relating to the preprint will also be published
  by <i>%(appname)s</i>.
</p>

<p>
  We thank you again for managing this evaluation.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
