Dear %(destPerson)s,
<p>
  Thank you for evaluating the preprint entitled <b>%(articleTitle)s</b> by
  %(articleAuthors)s. Your evaluation has been sent to the recommender
  (%(recommenderPerson)s) handling this preprint. Your contribution is greatly
  appreciated.
</p>
<p>
  You can use this message as proof of your work for <i>%(appname)s</i> and you
  can view your review at <a href="%(linkTarget)s">%(linkTarget)s</a>. Your
  review, together with the other reviews of this preprint, will guide the
  decision of the recommender (%(recommenderPerson)s) as to whether to ‘Revise’,
  ‘Recommend’ or ‘Reject’ this preprint.
</p>
<p>
  Remember that if the recommender eventually comes to a favorable conclusion,
  all of the editorial correspondence (reviews, including yours, the decisions
  reached by the recommender, and the authors’ replies) and a recommendation
  text will be published by <i>%(appname)s</i>, under the license CC-BY-ND. If,
  after one or several rounds of review, the recommender eventually rejects the
  preprint, the editorial correspondence will be sent to the authors but will
  NOT be published. You will be notified by e-mail at each stage in the
  procedure.
</p>
<p>
  %(parallelText)s If the recommender asks the authors to revise their preprint,
  he/she may invite you to evaluate their responses and the changes they have
  made to the preprint. If required, we therefore hope that you will be willing
  to take part in a second round of review.
</p>

<p>
  If you decided NOT to remain anonymous, your name will be passed on to the
  authors and, if the recommender decides to recommend this preprint, your name
  will be visible and associated with your review on the %(appname)s website. If
  you wish to change your mind and remain anonymous, please send a message to
  %(contactMail)s, to let the members of the Managing Board know (they will make
  the necessary changes).
</p>
<p>
  In the meantime, thank you again for conducting this evaluation. We really
  appreciate it.
</p>
<p>
  Best wishes,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
<p></p>
