Dear %(destPerson)s,
<p>
  Thank you very much for agreeing to review the preprint entitled
  <b>%(articleTitle)s</b> by %(articleAuthors)s (DOI %(articleDoi)s). Please
  complete your review within three weeks, hence before <b>%(dueTime)s</b>. If
  this dealine is too short, please let me know as soon as possible. Otherwise,
  thank you in advance for respecting this deadline.
</p>
<p>
  To view, write, upload and manage your review, please follow this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or log onto the
  <i>%(appname)s</i> website and go to ‘Your contributions —> Your reviews’ in
  the top menu.
</p>
<p>
  When you have written or uploaded your review, you can:
</p>
<p>
  1) save a draft version of your review for future modification by clicking on
  the ‘Save’ button; this allows you to make changes or to complete your review
  later;
</p>
<p>
  or
</p>
<p>
  2) save and send me your review by clicking on the ‘Save & submit your review’
  button.
</p>
<p>
  If you have saved a draft version of your review, you can come back to it for
  modification or completion by clicking on ‘Your contributions —> Your reviews’
  in the top menu, and then on the black ‘View/Edit’ button to the right on the
  corresponding line. Don’t forget to click on the ‘Save & submit your review’
  button to send your completed review to me.
</p>
<p>
  Thanks in advance for the time spent evaluating this preprint.
</p>
<p>
  I look forward to reading your review.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;">The recommender, %(recommenderPerson)s</span>
</p>
