Dear %(destPerson)s,
<p>
  I have agreed to handle the evaluation of a preprint entitled
  <b>%(articleTitle)s</b> by %(articleAuthors)s, for potential recommendation by
  <i>%(appdesc)s</i> (<i>%(appname)s</i>). This article can be visualized and
  downloaded at the following address (doi %(articleDoi)s).
</p>
<p>
  At first glance, this preprint appears to me to be potentially interesting,
  but I would like to have your expert opinion. I would therefore like to invite
  you to review this preprint for <i>%(appname)s</i>.
</p>
<p>
  If you have already reviewed a previous version of this MS, please consider
  this message as an invitation to review a new version of the preprint for a
  new round of evaluation.
</p>
<p>
  The evaluation process should guide the decision as to whether to ‘Revise’,
  ‘Recommend’ or ‘Reject’ the preprint. A preprint recommended by
  <i>%(appname)s</i> is an article that may be used and cited like any ‘classic’
  article published in a peer-reviewed journals.
</p>
<p>
  If I eventually reach a favorable conclusion, all the editorial correspondence
  (reviews, recommender’s decisions, authors’ replies) and a recommendation text
  will be published by <i>%(appname)s</i>, under the license CC-BY-ND. If after
  one or several rounds of review, I eventually reject the preprint, the
  editorial correspondence (and specifically your review) will be sent to the
  authors but will NOT published. You will be notified by e-mail at each stage
  in the procedure.
</p>
<p>
  Please let me know as soon as possible whether you are willing to accept my
  invitation to review this article, or whether you would prefer to decline, by
  clicking on the link below or by logging on to the <i>%(appname)s</i> website
  and going to 'Requests for input —> Do you agree to review a preprint?' in the
  top menu.
</p>
<p>
  If you agree, you will then be able to copy/paste, write or upload your review
  onto the <i>%(appname)s</i> website.
</p>
<p>
  Thanks in advance for your help.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;">%(recommenderPerson)s</span>
</p>
