Dear %(destPerson)s,
<p>
  %(recommenderPerson)s, the recommender managing the evaluation process for the
  preprint entitled <b>%(articleTitle)s</b> by %(articleAuthors)s has made your
  review concerning this preprint available for modification.
</p>
<p>
  You can now access this review, and edit it if necessary.
</p>
<p>
  You can view and edit your reviews by following this link
  <a href="%(linkTarget)s">%(linkTarget)s</a> or by logging onto the
  <i>%(appname)s</i> website and going to 'Your contributions —> My reviews' in
  the top menu.
</p>
<p>
  We thank you again for agreeing to review this preprint.
</p>
<p>
  Yours sincerely,
</p>
<p>
  <span style="padding-left:1in;"
    >The Managing Board of <i>%(appname)s</i></span
  >
</p>
